[*.{cs,vb}]

# IDE0009: Member access should be qualified.
dotnet_diagnostic.IDE0009.severity = none
dotnet_diagnostic.CA2016.severity = warning

[*.cs]
dotnet_public_api_analyzer.require_api_files = true