swagger: '2.0'
info:
  title: OData Service for namespace microsoft.graph
  description: This OData service is located at https://graph.microsoft.com/beta
  version: 1.0.1
host: graph.microsoft.com
basePath: /beta
schemes:
  - https
paths:
  /schemaExtensions:
    get:
      tags:
        - schemaExtensions.schemaExtension
      summary: Get entities from schemaExtensions
      operationId: GetEntitiesFromSchemaExtensions
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - description
              - description desc
              - targetTypes
              - targetTypes desc
              - properties
              - properties desc
              - status
              - status desc
              - owner
              - owner desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - targetTypes
              - properties
              - status
              - owner
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of schemaExtension
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.schemaExtension'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - schemaExtensions.schemaExtension
      summary: Add new entity to schemaExtensions
      operationId: AddEntityToSchemaExtensions
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
        default:
          $ref: '#/responses/error'
  '/schemaExtensions(''{id}'')':
    get:
      tags:
        - schemaExtensions.schemaExtension
      summary: Get entity from schemaExtensions by key
      operationId: GetEntityFromSchemaExtensionsByKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - targetTypes
              - properties
              - status
              - owner
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - schemaExtensions.schemaExtension
      summary: Update entity in schemaExtensions
      operationId: UpdateEntityInSchemaExtensions
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - schemaExtensions.schemaExtension
      summary: Delete entity from schemaExtensions
      operationId: DeleteEntityFromSchemaExtensions
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /directoryObjects:
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entities from directoryObjects
      operationId: GetEntitiesFromDirectoryObjects
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of directoryObject
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.directoryObject'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - directoryObjects.directoryObject
      summary: Add new entity to directoryObjects
      operationId: AddEntityToDirectoryObjects
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')':
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entity from directoryObjects by key
      operationId: GetEntityFromDirectoryObjectsByKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - directoryObjects.directoryObject
      summary: Update entity in directoryObjects
      operationId: UpdateEntityInDirectoryObjects
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - directoryObjects.directoryObject
      summary: Delete entity from directoryObjects
      operationId: DeleteEntityFromDirectoryObjects
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /directoryObjects/microsoft.graph.user/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.delta
      summary: Invoke function delta
      operationId: directoryObjects.user.InvokeDelta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  /directoryObjects/microsoft.graph.group/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.delta
      summary: Invoke function delta
      operationId: directoryObjects.group.InvokeDelta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  /directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.delta
      summary: Invoke function delta
      operationId: directoryObjects.administrativeUnit.InvokeDelta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  /directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.delta
      summary: Invoke function delta
      operationId: directoryObjects.orgContact.InvokeDelta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  /directoryObjects/microsoft.graph.getByIds:
    post:
      tags:
        - directoryObjects.getByIds
      summary: Invoke action getByIds
      operationId: directoryObjects.InvokeGetByIdsByidsAndtypes
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              ids:
                type: array
                items:
                  type: string
              types:
                type: array
                items:
                  type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /directoryObjects/microsoft.graph.validateProperties:
    post:
      tags:
        - directoryObjects.validateProperties
      summary: Invoke action validateProperties
      operationId: directoryObjects.InvokeValidatePropertiesByentityTypeAnddisplayNameAndmailNicknameAndonBehalfOfUserId
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              entityType:
                type: string
              displayName:
                type: string
              mailNickname:
                type: string
              onBehalfOfUserId:
                format: uuid
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - directoryObjects.checkMemberGroups
      summary: Invoke action checkMemberGroups
      operationId: directoryObjects.InvokeCheckMemberGroupsBygroupIds
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              groupIds:
                type: array
                items:
                  type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.getMemberGroups':
    post:
      tags:
        - directoryObjects.getMemberGroups
      summary: Invoke action getMemberGroups
      operationId: directoryObjects.InvokeGetMemberGroupsBysecurityEnabledOnly
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              securityEnabledOnly:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.getMemberObjects':
    post:
      tags:
        - directoryObjects.getMemberObjects
      summary: Invoke action getMemberObjects
      operationId: directoryObjects.InvokeGetMemberObjectsBysecurityEnabledOnly
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              securityEnabledOnly:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.group/microsoft.graph.validateProperties':
    post:
      tags:
        - directoryObjects.validateProperties
      summary: Invoke action validateProperties
      operationId: directoryObjects.group.InvokeValidatePropertiesBydisplayNameAndmailNicknameAndonBehalfOfUserId
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              displayName:
                type: string
              mailNickname:
                type: string
              onBehalfOfUserId:
                format: uuid
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.group/microsoft.graph.renew':
    post:
      tags:
        - directoryObjects.renew
      summary: Invoke action renew
      operationId: directoryObjects.group.InvokeRenew
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.restore':
    post:
      tags:
        - directoryObjects.restore
      summary: Invoke action restore
      operationId: directoryObjects.InvokeRestore
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.assignLicense':
    post:
      tags:
        - directoryObjects.assignLicense
      summary: Invoke action assignLicense
      operationId: directoryObjects.user.InvokeAssignLicenseByaddLicensesAndremoveLicenses
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              addLicenses:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.assignedLicense'
              removeLicenses:
                type: array
                items:
                  format: uuid
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.changePassword':
    post:
      tags:
        - directoryObjects.changePassword
      summary: Invoke action changePassword
      operationId: directoryObjects.user.InvokeChangePasswordBycurrentPasswordAndnewPassword
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              currentPassword:
                type: string
              newPassword:
                type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.invalidateAllRefreshTokens':
    post:
      tags:
        - directoryObjects.invalidateAllRefreshTokens
      summary: Invoke action invalidateAllRefreshTokens
      operationId: directoryObjects.user.InvokeInvalidateAllRefreshTokens
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.sendMail':
    post:
      tags:
        - directoryObjects.sendMail
      summary: Invoke action sendMail
      operationId: directoryObjects.user.InvokeSendMailByMessageAndSaveToSentItems
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              Message:
                $ref: '#/definitions/microsoft.graph.message'
              SaveToSentItems:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.findMeetingTimesOLD':
    post:
      tags:
        - directoryObjects.findMeetingTimesOLD
      summary: Invoke action findMeetingTimesOLD
      operationId: directoryObjects.user.InvokeFindMeetingTimesOLDByAttendeesAndLocationConstraintAndTimeConstraintAndMeetingDurationAndMaxCandidatesAndIsOrganizerOptionalAndReturnSuggestionHints
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              Attendees:
                type: array
                items: { }
              LocationConstraint: { }
              TimeConstraint: { }
              MeetingDuration:
                format: duration
                pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
                type: string
              MaxCandidates:
                format: int32
                maximum: 2147483647
                minimum: -2147483648
                type: integer
              IsOrganizerOptional:
                default: false
                type: boolean
              ReturnSuggestionHints:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.findMeetingTimes':
    post:
      tags:
        - directoryObjects.findMeetingTimes
      summary: Invoke action findMeetingTimes
      operationId: directoryObjects.user.InvokeFindMeetingTimesByAttendeesAndLocationConstraintAndTimeConstraintAndMeetingDurationAndMaxCandidatesAndIsOrganizerOptionalAndReturnSuggestionReasonsAndMinimumAttendeePercentage
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              Attendees:
                type: array
                items: { }
              LocationConstraint: { }
              TimeConstraint: { }
              MeetingDuration:
                format: duration
                pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
                type: string
              MaxCandidates:
                format: int32
                maximum: 2147483647
                minimum: -2147483648
                type: integer
              IsOrganizerOptional:
                default: false
                type: boolean
              ReturnSuggestionReasons:
                default: false
                type: boolean
              MinimumAttendeePercentage:
                format: double
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.getMailTips':
    post:
      tags:
        - directoryObjects.getMailTips
      summary: Invoke action getMailTips
      operationId: directoryObjects.user.InvokeGetMailTipsByEmailAddressesAndMailTipsOptions
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              EmailAddresses:
                type: array
                items:
                  type: string
              MailTipsOptions: { }
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.reminderView(StartDateTime={StartDateTime},EndDateTime={EndDateTime})':
    get:
      tags:
        - directoryObjects.reminderView
      summary: Invoke function reminderView
      operationId: directoryObjects.user.InvokeReminderViewByStartDateTimeAndEndDateTime
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: path
          name: StartDateTime
          required: true
          type: string
        - in: path
          name: EndDateTime
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/microsoft.graph.reminder'
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.findRoomLists()':
    get:
      tags:
        - directoryObjects.findRoomLists
      summary: Invoke function findRoomLists
      operationId: directoryObjects.user.InvokeFindRoomLists
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/microsoft.graph.emailAddress'
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.findRooms(RoomList={RoomList})':
    get:
      tags:
        - directoryObjects.findRooms
      summary: Invoke function findRooms
      operationId: directoryObjects.user.InvokeFindRoomsByRoomList
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: path
          name: RoomList
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/microsoft.graph.emailAddress'
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.findRooms()':
    get:
      tags:
        - directoryObjects.findRooms
      summary: Invoke function findRooms
      operationId: directoryObjects.user.InvokeFindRooms
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/microsoft.graph.emailAddress'
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.group/microsoft.graph.subscribeByMail':
    post:
      tags:
        - directoryObjects.subscribeByMail
      summary: Invoke action subscribeByMail
      operationId: directoryObjects.group.InvokeSubscribeByMail
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.group/microsoft.graph.unsubscribeByMail':
    post:
      tags:
        - directoryObjects.unsubscribeByMail
      summary: Invoke action unsubscribeByMail
      operationId: directoryObjects.group.InvokeUnsubscribeByMail
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.group/microsoft.graph.addFavorite':
    post:
      tags:
        - directoryObjects.addFavorite
      summary: Invoke action addFavorite
      operationId: directoryObjects.group.InvokeAddFavorite
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.group/microsoft.graph.removeFavorite':
    post:
      tags:
        - directoryObjects.removeFavorite
      summary: Invoke action removeFavorite
      operationId: directoryObjects.group.InvokeRemoveFavorite
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.group/microsoft.graph.resetUnseenCount':
    post:
      tags:
        - directoryObjects.resetUnseenCount
      summary: Invoke action resetUnseenCount
      operationId: directoryObjects.group.InvokeResetUnseenCount
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.removeAllDevicesFromManagement':
    post:
      tags:
        - directoryObjects.removeAllDevicesFromManagement
      summary: Invoke action removeAllDevicesFromManagement
      operationId: directoryObjects.user.InvokeRemoveAllDevicesFromManagement
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.organization/microsoft.graph.setMobileDeviceManagementAuthority':
    post:
      tags:
        - directoryObjects.setMobileDeviceManagementAuthority
      summary: Invoke action setMobileDeviceManagementAuthority
      operationId: directoryObjects.organization.InvokeSetMobileDeviceManagementAuthority
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.organization/microsoft.graph.getEncryptionPublicKey()':
    get:
      tags:
        - directoryObjects.getEncryptionPublicKey
      summary: Invoke function getEncryptionPublicKey
      operationId: directoryObjects.organization.InvokeGetEncryptionPublicKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.organization/microsoft.graph.uploadDepToken':
    post:
      tags:
        - directoryObjects.uploadDepToken
      summary: Invoke action uploadDepToken
      operationId: directoryObjects.organization.InvokeUploadDepTokenByappleIdAnddepToken
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              appleId:
                type: string
              depToken:
                type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.organization/microsoft.graph.syncWithAppleDeviceEnrollmentProgram':
    post:
      tags:
        - directoryObjects.syncWithAppleDeviceEnrollmentProgram
      summary: Invoke action syncWithAppleDeviceEnrollmentProgram
      operationId: directoryObjects.organization.InvokeSyncWithAppleDeviceEnrollmentProgram
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.getManagedAppDiagnosticStatuses()':
    get:
      tags:
        - directoryObjects.getManagedAppDiagnosticStatuses
      summary: Invoke function getManagedAppDiagnosticStatuses
      operationId: directoryObjects.user.InvokeGetManagedAppDiagnosticStatuses
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.getManagedAppPolicies()':
    get:
      tags:
        - directoryObjects.getManagedAppPolicies
      summary: Invoke function getManagedAppPolicies
      operationId: directoryObjects.user.InvokeGetManagedAppPolicies
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.user/microsoft.graph.wipeManagedAppRegistrationByDeviceTag':
    post:
      tags:
        - directoryObjects.wipeManagedAppRegistrationByDeviceTag
      summary: Invoke action wipeManagedAppRegistrationByDeviceTag
      operationId: directoryObjects.user.InvokeWipeManagedAppRegistrationByDeviceTagBydeviceTag
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              deviceTag:
                type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /applications:
    get:
      tags:
        - applications.application
      summary: Get entities from applications
      operationId: GetEntitiesFromApplications
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
              - api
              - api desc
              - allowPublicClient
              - allowPublicClient desc
              - applicationAliases
              - applicationAliases desc
              - appRoles
              - appRoles desc
              - createdDateTime
              - createdDateTime desc
              - installedClients
              - installedClients desc
              - displayName
              - displayName desc
              - info
              - info desc
              - keyCredentials
              - keyCredentials desc
              - logo
              - logo desc
              - orgRestrictions
              - orgRestrictions desc
              - passwordCredentials
              - passwordCredentials desc
              - preAuthorizedApplications
              - preAuthorizedApplications desc
              - requiredResourceAccess
              - requiredResourceAccess desc
              - tags
              - tags desc
              - web
              - web desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - api
              - allowPublicClient
              - applicationAliases
              - appRoles
              - createdDateTime
              - installedClients
              - displayName
              - info
              - keyCredentials
              - logo
              - orgRestrictions
              - passwordCredentials
              - preAuthorizedApplications
              - requiredResourceAccess
              - tags
              - web
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of application
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.application'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - applications.application
      summary: Add new entity to applications
      operationId: AddEntityToApplications
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.application'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.application'
        default:
          $ref: '#/responses/error'
  '/applications(''{id}'')':
    get:
      tags:
        - applications.application
      summary: Get entity from applications by key
      operationId: GetEntityFromApplicationsByKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - api
              - allowPublicClient
              - applicationAliases
              - appRoles
              - createdDateTime
              - installedClients
              - displayName
              - info
              - keyCredentials
              - logo
              - orgRestrictions
              - passwordCredentials
              - preAuthorizedApplications
              - requiredResourceAccess
              - tags
              - web
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.application'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - applications.application
      summary: Update entity in applications
      operationId: UpdateEntityInApplications
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.application'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - applications.application
      summary: Delete entity from applications
      operationId: DeleteEntityFromApplications
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/applications(''{id}'')/extensionProperties':
    get:
      tags:
        - applications.extensionProperties
      summary: Get extensionProperties from applications
      operationId: GetExtensionPropertiesFromApplications
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
              - api
              - api desc
              - allowPublicClient
              - allowPublicClient desc
              - applicationAliases
              - applicationAliases desc
              - appRoles
              - appRoles desc
              - createdDateTime
              - createdDateTime desc
              - installedClients
              - installedClients desc
              - displayName
              - displayName desc
              - info
              - info desc
              - keyCredentials
              - keyCredentials desc
              - logo
              - logo desc
              - orgRestrictions
              - orgRestrictions desc
              - passwordCredentials
              - passwordCredentials desc
              - preAuthorizedApplications
              - preAuthorizedApplications desc
              - requiredResourceAccess
              - requiredResourceAccess desc
              - tags
              - tags desc
              - web
              - web desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - api
              - allowPublicClient
              - applicationAliases
              - appRoles
              - createdDateTime
              - installedClients
              - displayName
              - info
              - keyCredentials
              - logo
              - orgRestrictions
              - passwordCredentials
              - preAuthorizedApplications
              - requiredResourceAccess
              - tags
              - web
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - extensionProperties
              - createdOnBehalfOf
              - owners
              - policies
              - synchronization
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          schema:
            $ref: '#/definitions/microsoft.graph.extensionProperty'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - applications.extensionProperties
      summary: Add new navigation property to extensionProperties for applications
      operationId: AddExtensionPropertiesToApplications
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New navigation property
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.application'
      responses:
        '201':
          description: Created navigation property.
          schema:
            $ref: '#/definitions/microsoft.graph.application'
        default:
          $ref: '#/responses/error'
  '/applications(''{id}'')/synchronization':
    get:
      tags:
        - applications.synchronization
      summary: Get synchronization from applications
      operationId: GetSynchronizationFromApplications
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - api
              - allowPublicClient
              - applicationAliases
              - appRoles
              - createdDateTime
              - installedClients
              - displayName
              - info
              - keyCredentials
              - logo
              - orgRestrictions
              - passwordCredentials
              - preAuthorizedApplications
              - requiredResourceAccess
              - tags
              - web
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - extensionProperties
              - createdOnBehalfOf
              - owners
              - policies
              - synchronization
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          schema:
            $ref: '#/definitions/microsoft.graph.synchronization'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property synchronization in applications
      operationId: UpdateSynchronizationInApplications
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New navigation property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.application'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /administrativeUnits:
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get entities from administrativeUnits
      operationId: GetEntitiesFromAdministrativeUnits
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
              - displayName
              - displayName desc
              - description
              - description desc
              - visibility
              - visibility desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - displayName
              - description
              - visibility
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of administrativeUnit
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Add new entity to administrativeUnits
      operationId: AddEntityToAdministrativeUnits
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.administrativeUnit'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/responses/error'
  '/administrativeUnits(''{id}'')':
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get entity from administrativeUnits by key
      operationId: GetEntityFromAdministrativeUnitsByKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - displayName
              - description
              - visibility
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Update entity in administrativeUnits
      operationId: UpdateEntityInAdministrativeUnits
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.administrativeUnit'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Delete entity from administrativeUnits
      operationId: DeleteEntityFromAdministrativeUnits
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/administrativeUnits(''{id}'')/extensions':
    get:
      tags:
        - administrativeUnits.extensions
      summary: Get extensions from administrativeUnits
      operationId: GetExtensionsFromAdministrativeUnits
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
              - displayName
              - displayName desc
              - description
              - description desc
              - visibility
              - visibility desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - displayName
              - description
              - visibility
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - extensions
              - members
              - scopedRoleMembers
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          schema:
            $ref: '#/definitions/microsoft.graph.extension'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - administrativeUnits.extensions
      summary: Add new navigation property to extensions for administrativeUnits
      operationId: AddExtensionsToAdministrativeUnits
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New navigation property
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.administrativeUnit'
      responses:
        '201':
          description: Created navigation property.
          schema:
            $ref: '#/definitions/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/responses/error'
  '/administrativeUnits(''{id}'')/scopedRoleMembers':
    get:
      tags:
        - administrativeUnits.scopedRoleMembers
      summary: Get scopedRoleMembers from administrativeUnits
      operationId: GetScopedRoleMembersFromAdministrativeUnits
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
              - displayName
              - displayName desc
              - description
              - description desc
              - visibility
              - visibility desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - displayName
              - description
              - visibility
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - extensions
              - members
              - scopedRoleMembers
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          schema:
            $ref: '#/definitions/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - administrativeUnits.scopedRoleMembers
      summary: Add new navigation property to scopedRoleMembers for administrativeUnits
      operationId: AddScopedRoleMembersToAdministrativeUnits
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New navigation property
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.administrativeUnit'
      responses:
        '201':
          description: Created navigation property.
          schema:
            $ref: '#/definitions/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/responses/error'
  /administrativeUnits/microsoft.graph.delta():
    get:
      tags:
        - administrativeUnits.delta
      summary: Invoke function delta
      operationId: administrativeUnits.InvokeDelta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  /allowedDataLocations:
    get:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Get entities from allowedDataLocations
      operationId: GetEntitiesFromAllowedDataLocations
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - appId
              - appId desc
              - location
              - location desc
              - isDefault
              - isDefault desc
              - domain
              - domain desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - appId
              - location
              - isDefault
              - domain
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of allowedDataLocation
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.allowedDataLocation'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Add new entity to allowedDataLocations
      operationId: AddEntityToAllowedDataLocations
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.allowedDataLocation'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.allowedDataLocation'
        default:
          $ref: '#/responses/error'
  '/allowedDataLocations(''{id}'')':
    get:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Get entity from allowedDataLocations by key
      operationId: GetEntityFromAllowedDataLocationsByKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - appId
              - location
              - isDefault
              - domain
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.allowedDataLocation'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Update entity in allowedDataLocations
      operationId: UpdateEntityInAllowedDataLocations
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.allowedDataLocation'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Delete entity from allowedDataLocations
      operationId: DeleteEntityFromAllowedDataLocations
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /appRoleAssignments:
    get:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Get entities from appRoleAssignments
      operationId: GetEntitiesFromAppRoleAssignments
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - creationTimestamp
              - creationTimestamp desc
              - principalDisplayName
              - principalDisplayName desc
              - principalId
              - principalId desc
              - principalType
              - principalType desc
              - resourceDisplayName
              - resourceDisplayName desc
              - resourceId
              - resourceId desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - creationTimestamp
              - principalDisplayName
              - principalId
              - principalType
              - resourceDisplayName
              - resourceId
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of appRoleAssignment
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Add new entity to appRoleAssignments
      operationId: AddEntityToAppRoleAssignments
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.appRoleAssignment'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/responses/error'
  '/appRoleAssignments(''{id}'')':
    get:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Get entity from appRoleAssignments by key
      operationId: GetEntityFromAppRoleAssignmentsByKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - creationTimestamp
              - principalDisplayName
              - principalId
              - principalType
              - resourceDisplayName
              - resourceId
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Update entity in appRoleAssignments
      operationId: UpdateEntityInAppRoleAssignments
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.appRoleAssignment'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Delete entity from appRoleAssignments
      operationId: DeleteEntityFromAppRoleAssignments
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /contacts:
    get:
      tags:
        - contacts.orgContact
      summary: Get entities from contacts
      operationId: GetEntitiesFromContacts
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
              - businessPhones
              - businessPhones desc
              - city
              - city desc
              - companyName
              - companyName desc
              - country
              - country desc
              - department
              - department desc
              - displayName
              - displayName desc
              - givenName
              - givenName desc
              - jobTitle
              - jobTitle desc
              - mail
              - mail desc
              - mailNickname
              - mailNickname desc
              - mobilePhone
              - mobilePhone desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesProvisioningErrors
              - onPremisesProvisioningErrors desc
              - officeLocation
              - officeLocation desc
              - postalCode
              - postalCode desc
              - proxyAddresses
              - proxyAddresses desc
              - state
              - state desc
              - streetAddress
              - streetAddress desc
              - surname
              - surname desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - businessPhones
              - city
              - companyName
              - country
              - department
              - displayName
              - givenName
              - jobTitle
              - mail
              - mailNickname
              - mobilePhone
              - onPremisesSyncEnabled
              - onPremisesLastSyncDateTime
              - onPremisesProvisioningErrors
              - officeLocation
              - postalCode
              - proxyAddresses
              - state
              - streetAddress
              - surname
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of orgContact
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.orgContact'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - contacts.orgContact
      summary: Add new entity to contacts
      operationId: AddEntityToContacts
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.orgContact'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.orgContact'
        default:
          $ref: '#/responses/error'
  '/contacts(''{id}'')':
    get:
      tags:
        - contacts.orgContact
      summary: Get entity from contacts by key
      operationId: GetEntityFromContactsByKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - businessPhones
              - city
              - companyName
              - country
              - department
              - displayName
              - givenName
              - jobTitle
              - mail
              - mailNickname
              - mobilePhone
              - onPremisesSyncEnabled
              - onPremisesLastSyncDateTime
              - onPremisesProvisioningErrors
              - officeLocation
              - postalCode
              - proxyAddresses
              - state
              - streetAddress
              - surname
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.orgContact'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - contacts.orgContact
      summary: Update entity in contacts
      operationId: UpdateEntityInContacts
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.orgContact'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - contacts.orgContact
      summary: Delete entity from contacts
      operationId: DeleteEntityFromContacts
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /contacts/microsoft.graph.delta():
    get:
      tags:
        - contacts.delta
      summary: Invoke function delta
      operationId: contacts.InvokeDelta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  /devices:
    get:
      tags:
        - devices.device
      summary: Get entities from devices
      operationId: GetEntitiesFromDevices
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
              - accountEnabled
              - accountEnabled desc
              - alternativeSecurityIds
              - alternativeSecurityIds desc
              - approximateLastSignInDateTime
              - approximateLastSignInDateTime desc
              - deviceId
              - deviceId desc
              - deviceMetadata
              - deviceMetadata desc
              - deviceVersion
              - deviceVersion desc
              - displayName
              - displayName desc
              - isCompliant
              - isCompliant desc
              - isManaged
              - isManaged desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - operatingSystem
              - operatingSystem desc
              - operatingSystemVersion
              - operatingSystemVersion desc
              - physicalIds
              - physicalIds desc
              - trustType
              - trustType desc
              - Name
              - Name desc
              - Manufacturer
              - Manufacturer desc
              - Model
              - Model desc
              - Kind
              - Kind desc
              - Status
              - Status desc
              - Platform
              - Platform desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - accountEnabled
              - alternativeSecurityIds
              - approximateLastSignInDateTime
              - deviceId
              - deviceMetadata
              - deviceVersion
              - displayName
              - isCompliant
              - isManaged
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - operatingSystem
              - operatingSystemVersion
              - physicalIds
              - trustType
              - Name
              - Manufacturer
              - Model
              - Kind
              - Status
              - Platform
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of device
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - devices.device
      summary: Add new entity to devices
      operationId: AddEntityToDevices
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.device'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
  '/devices(''{id}'')':
    get:
      tags:
        - devices.device
      summary: Get entity from devices by key
      operationId: GetEntityFromDevicesByKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - accountEnabled
              - alternativeSecurityIds
              - approximateLastSignInDateTime
              - deviceId
              - deviceMetadata
              - deviceVersion
              - displayName
              - isCompliant
              - isManaged
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - operatingSystem
              - operatingSystemVersion
              - physicalIds
              - trustType
              - Name
              - Manufacturer
              - Model
              - Kind
              - Status
              - Platform
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - devices.device
      summary: Update entity in devices
      operationId: UpdateEntityInDevices
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.device'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - devices.device
      summary: Delete entity from devices
      operationId: DeleteEntityFromDevices
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/devices(''{id}'')/extensions':
    get:
      tags:
        - devices.extensions
      summary: Get extensions from devices
      operationId: GetExtensionsFromDevices
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
              - accountEnabled
              - accountEnabled desc
              - alternativeSecurityIds
              - alternativeSecurityIds desc
              - approximateLastSignInDateTime
              - approximateLastSignInDateTime desc
              - deviceId
              - deviceId desc
              - deviceMetadata
              - deviceMetadata desc
              - deviceVersion
              - deviceVersion desc
              - displayName
              - displayName desc
              - isCompliant
              - isCompliant desc
              - isManaged
              - isManaged desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - operatingSystem
              - operatingSystem desc
              - operatingSystemVersion
              - operatingSystemVersion desc
              - physicalIds
              - physicalIds desc
              - trustType
              - trustType desc
              - Name
              - Name desc
              - Manufacturer
              - Manufacturer desc
              - Model
              - Model desc
              - Kind
              - Kind desc
              - Status
              - Status desc
              - Platform
              - Platform desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - accountEnabled
              - alternativeSecurityIds
              - approximateLastSignInDateTime
              - deviceId
              - deviceMetadata
              - deviceVersion
              - displayName
              - isCompliant
              - isManaged
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - operatingSystem
              - operatingSystemVersion
              - physicalIds
              - trustType
              - Name
              - Manufacturer
              - Model
              - Kind
              - Status
              - Platform
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - extensions
              - registeredOwners
              - registeredUsers
              - commands
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          schema:
            $ref: '#/definitions/microsoft.graph.extension'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - devices.extensions
      summary: Add new navigation property to extensions for devices
      operationId: AddExtensionsToDevices
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New navigation property
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.device'
      responses:
        '201':
          description: Created navigation property.
          schema:
            $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
  '/devices(''{id}'')/commands':
    get:
      tags:
        - devices.commands
      summary: Get commands from devices
      operationId: GetCommandsFromDevices
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - deletedDateTime
              - deletedDateTime desc
              - accountEnabled
              - accountEnabled desc
              - alternativeSecurityIds
              - alternativeSecurityIds desc
              - approximateLastSignInDateTime
              - approximateLastSignInDateTime desc
              - deviceId
              - deviceId desc
              - deviceMetadata
              - deviceMetadata desc
              - deviceVersion
              - deviceVersion desc
              - displayName
              - displayName desc
              - isCompliant
              - isCompliant desc
              - isManaged
              - isManaged desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - operatingSystem
              - operatingSystem desc
              - operatingSystemVersion
              - operatingSystemVersion desc
              - physicalIds
              - physicalIds desc
              - trustType
              - trustType desc
              - Name
              - Name desc
              - Manufacturer
              - Manufacturer desc
              - Model
              - Model desc
              - Kind
              - Kind desc
              - Status
              - Status desc
              - Platform
              - Platform desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - deletedDateTime
              - accountEnabled
              - alternativeSecurityIds
              - approximateLastSignInDateTime
              - deviceId
              - deviceMetadata
              - deviceVersion
              - displayName
              - isCompliant
              - isManaged
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - operatingSystem
              - operatingSystemVersion
              - physicalIds
              - trustType
              - Name
              - Manufacturer
              - Model
              - Kind
              - Status
              - Platform
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - extensions
              - registeredOwners
              - registeredUsers
              - commands
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          schema:
            $ref: '#/definitions/microsoft.graph.command'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - devices.commands
      summary: Add new navigation property to commands for devices
      operationId: AddCommandsToDevices
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New navigation property
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.device'
      responses:
        '201':
          description: Created navigation property.
          schema:
            $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
  /domains:
    get:
      tags:
        - domains.domain
      summary: Get entities from domains
      operationId: GetEntitiesFromDomains
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - authenticationType
              - authenticationType desc
              - availabilityStatus
              - availabilityStatus desc
              - isAdminManaged
              - isAdminManaged desc
              - isDefault
              - isDefault desc
              - isInitial
              - isInitial desc
              - isRoot
              - isRoot desc
              - isVerified
              - isVerified desc
              - supportedServices
              - supportedServices desc
              - state
              - state desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - authenticationType
              - availabilityStatus
              - isAdminManaged
              - isDefault
              - isInitial
              - isRoot
              - isVerified
              - supportedServices
              - state
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - serviceConfigurationRecords
              - verificationDnsRecords
              - domainNameReferences
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of domain
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - domains.domain
      summary: Add new entity to domains
      operationId: AddEntityToDomains
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
  '/domains(''{id}'')':
    get:
      tags:
        - domains.domain
      summary: Get entity from domains by key
      operationId: GetEntityFromDomainsByKey
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - authenticationType
              - availabilityStatus
              - isAdminManaged
              - isDefault
              - isInitial
              - isRoot
              - isVerified
              - supportedServices
              - state
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - serviceConfigurationRecords
              - verificationDnsRecords
              - domainNameReferences
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - domains.domain
      summary: Update entity in domains
      operationId: UpdateEntityInDomains
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - domains.domain
      summary: Delete entity from domains
      operationId: DeleteEntityFromDomains
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/domains(''{id}'')/serviceConfigurationRecords':
    get:
      tags:
        - domains.serviceConfigurationRecords
      summary: Get serviceConfigurationRecords from domains
      operationId: GetServiceConfigurationRecordsFromDomains
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - authenticationType
              - authenticationType desc
              - availabilityStatus
              - availabilityStatus desc
              - isAdminManaged
              - isAdminManaged desc
              - isDefault
              - isDefault desc
              - isInitial
              - isInitial desc
              - isRoot
              - isRoot desc
              - isVerified
              - isVerified desc
              - supportedServices
              - supportedServices desc
              - state
              - state desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - authenticationType
              - availabilityStatus
              - isAdminManaged
              - isDefault
              - isInitial
              - isRoot
              - isVerified
              - supportedServices
              - state
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - serviceConfigurationRecords
              - verificationDnsRecords
              - domainNameReferences
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          schema:
            $ref: '#/definitions/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - domains.serviceConfigurationRecords
      summary: Add new navigation property to serviceConfigurationRecords for domains
      operationId: AddServiceConfigurationRecordsToDomains
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New navigation property
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
      responses:
        '201':
          description: Created navigation property.
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
  '/domains(''{id}'')/verificationDnsRecords':
    get:
      tags:
        - domains.verificationDnsRecords
      summary: Get verificationDnsRecords from domains
      operationId: GetVerificationDnsRecordsFromDomains
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - authenticationType
              - authenticationType desc
              - availabilityStatus
              - availabilityStatus desc
              - isAdminManaged
              - isAdminManaged desc
              - isDefault
              - isDefault desc
              - isInitial
              - isInitial desc
              - isRoot
              - isRoot desc
              - isVerified
              - isVerified desc
              - supportedServices
              - supportedServices desc
              - state
              - state desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - authenticationType
              - availabilityStatus
              - isAdminManaged
              - isDefault
              - isInitial
              - isRoot
              - isVerified
              - supportedServices
              - state
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - serviceConfigurationRecords
              - verificationDnsRecords
              - domainNameReferences
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          schema:
            $ref: '#/definitions/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - domains.verificationDnsRecords
      summary: Add new navigation property to verificationDnsRecords for domains
      operationId: AddVerificationDnsRecordsToDomains
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New navigation property
          required: true
[...]
