{
  "swagger": "2.0",
  "info": {
    "title": "OData Service for namespace microsoft.graph",
    "description": "This OData service is located at https://graph.microsoft.com/v1.0",
    "version": "1.0.1"
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/contracts": {
      "get": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Get entities from contracts",
        "operationId": "contracts.contract.ListContract",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "contractType",
                "contractType desc",
                "customerId",
                "customerId desc",
                "defaultDomainName",
                "defaultDomainName desc",
                "displayName",
                "displayName desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "contractType",
                "customerId",
                "defaultDomainName",
                "displayName"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of contract",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.contract"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Add new entity to contracts",
        "operationId": "contracts.contract.CreateContract",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.contract"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.contract"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/contracts({contract-id})": {
      "get": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Get entity from contracts by key",
        "operationId": "contracts.contract.GetContract",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract-id",
            "description": "key: contract-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "contract"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "contractType",
                "customerId",
                "defaultDomainName",
                "displayName"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.contract"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Update entity in contracts",
        "operationId": "contracts.contract.UpdateContract",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract-id",
            "description": "key: contract-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "contract"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.contract"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Delete entity from contracts",
        "operationId": "contracts.contract.DeleteContract",
        "parameters": [
          {
            "in": "path",
            "name": "contract-id",
            "description": "key: contract-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "contract"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "devices.device"
        ],
        "summary": "Get entities from devices",
        "operationId": "devices.device.ListDevice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "accountEnabled",
                "accountEnabled desc",
                "alternativeSecurityIds",
                "alternativeSecurityIds desc",
                "approximateLastSignInDateTime",
                "approximateLastSignInDateTime desc",
                "deviceId",
                "deviceId desc",
                "deviceMetadata",
                "deviceMetadata desc",
                "deviceVersion",
                "deviceVersion desc",
                "displayName",
                "displayName desc",
                "isCompliant",
                "isCompliant desc",
                "isManaged",
                "isManaged desc",
                "onPremisesLastSyncDateTime",
                "onPremisesLastSyncDateTime desc",
                "onPremisesSyncEnabled",
                "onPremisesSyncEnabled desc",
                "operatingSystem",
                "operatingSystem desc",
                "operatingSystemVersion",
                "operatingSystemVersion desc",
                "physicalIds",
                "physicalIds desc",
                "trustType",
                "trustType desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "accountEnabled",
                "alternativeSecurityIds",
                "approximateLastSignInDateTime",
                "deviceId",
                "deviceMetadata",
                "deviceVersion",
                "displayName",
                "isCompliant",
                "isManaged",
                "onPremisesLastSyncDateTime",
                "onPremisesSyncEnabled",
                "operatingSystem",
                "operatingSystemVersion",
                "physicalIds",
                "trustType",
                "extensions",
                "registeredOwners",
                "registeredUsers"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*",
                "extensions",
                "registeredOwners",
                "registeredUsers"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of device",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.device"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Device.ReadWrite.All",
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "devices.device"
        ],
        "summary": "Add new entity to devices",
        "operationId": "devices.device.CreateDevice",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.device"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.device"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices({device-id})": {
      "get": {
        "tags": [
          "devices.device"
        ],
        "summary": "Get entity from devices by key",
        "operationId": "devices.device.GetDevice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device-id",
            "description": "key: device-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "accountEnabled",
                "alternativeSecurityIds",
                "approximateLastSignInDateTime",
                "deviceId",
                "deviceMetadata",
                "deviceVersion",
                "displayName",
                "isCompliant",
                "isManaged",
                "onPremisesLastSyncDateTime",
                "onPremisesSyncEnabled",
                "operatingSystem",
                "operatingSystemVersion",
                "physicalIds",
                "trustType",
                "extensions",
                "registeredOwners",
                "registeredUsers"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*",
                "extensions",
                "registeredOwners",
                "registeredUsers"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.device"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Device.ReadWrite.All",
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "devices.device"
        ],
        "summary": "Update entity in devices",
        "operationId": "devices.device.UpdateDevice",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device-id",
            "description": "key: device-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.device"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "devices.device"
        ],
        "summary": "Delete entity from devices",
        "operationId": "devices.device.DeleteDevice",
        "parameters": [
          {
            "in": "path",
            "name": "device-id",
            "description": "key: device-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.AccessAsUser.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices({device-id})/extensions": {
      "get": {
        "tags": [
          "devices.extension"
        ],
        "summary": "Get extensions from devices",
        "operationId": "devices.ListExtensions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device-id",
            "description": "key: device-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.extension"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices({device-id})/extensions({extension-id})": {
      "get": {
        "tags": [
          "devices.extension"
        ],
        "summary": "Get extensions from devices",
        "operationId": "devices.GetExtensions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device-id",
            "description": "key: device-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "in": "path",
            "name": "extension-id",
            "description": "key: extension-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "extension"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.extension"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices({device-id})/registeredOwners": {
      "get": {
        "tags": [
          "devices.directoryObject"
        ],
        "summary": "Get registeredOwners from devices",
        "operationId": "devices.ListRegisteredOwners",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device-id",
            "description": "key: device-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices({device-id})/registeredOwners({directoryObject-id})": {
      "get": {
        "tags": [
          "devices.directoryObject"
        ],
        "summary": "Get registeredOwners from devices",
        "operationId": "devices.GetRegisteredOwners",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device-id",
            "description": "key: device-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "in": "path",
            "name": "directoryObject-id",
            "description": "key: directoryObject-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices({device-id})/registeredUsers": {
      "get": {
        "tags": [
          "devices.directoryObject"
        ],
        "summary": "Get registeredUsers from devices",
        "operationId": "devices.ListRegisteredUsers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device-id",
            "description": "key: device-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices({device-id})/registeredUsers({directoryObject-id})": {
      "get": {
        "tags": [
          "devices.directoryObject"
        ],
        "summary": "Get registeredUsers from devices",
        "operationId": "devices.GetRegisteredUsers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device-id",
            "description": "key: device-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "in": "path",
            "name": "directoryObject-id",
            "description": "key: directoryObject-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryObjects": {
      "get": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Get entities from directoryObjects",
        "operationId": "directoryObjects.directoryObject.ListDirectoryObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of directoryObject",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.directoryObject"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Add new entity to directoryObjects",
        "operationId": "directoryObjects.directoryObject.CreateDirectoryObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryObjects({directoryObject-id})": {
      "get": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Get entity from directoryObjects by key",
        "operationId": "directoryObjects.directoryObject.GetDirectoryObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "directoryObject-id",
            "description": "key: directoryObject-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Update entity in directoryObjects",
        "operationId": "directoryObjects.directoryObject.UpdateDirectoryObject",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "directoryObject-id",
            "description": "key: directoryObject-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Delete entity from directoryObjects",
        "operationId": "directoryObjects.directoryObject.DeleteDirectoryObject",
        "parameters": [
          {
            "in": "path",
            "name": "directoryObject-id",
            "description": "key: directoryObject-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.AccessAsUser.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoles": {
      "get": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Get entities from directoryRoles",
        "operationId": "directoryRoles.directoryRole.ListDirectoryRole",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "description",
                "description desc",
                "displayName",
                "displayName desc",
                "roleTemplateId",
                "roleTemplateId desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "description",
                "displayName",
                "roleTemplateId",
                "members"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*",
                "members"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of directoryRole",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.directoryRole"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Add new entity to directoryRoles",
        "operationId": "directoryRoles.directoryRole.CreateDirectoryRole",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryRole"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryRole"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoles({directoryRole-id})": {
      "get": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Get entity from directoryRoles by key",
        "operationId": "directoryRoles.directoryRole.GetDirectoryRole",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "directoryRole-id",
            "description": "key: directoryRole-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryRole"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "description",
                "displayName",
                "roleTemplateId",
                "members"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*",
                "members"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryRole"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Update entity in directoryRoles",
        "operationId": "directoryRoles.directoryRole.UpdateDirectoryRole",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "directoryRole-id",
            "description": "key: directoryRole-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryRole"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryRole"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Delete entity from directoryRoles",
        "operationId": "directoryRoles.directoryRole.DeleteDirectoryRole",
        "parameters": [
          {
            "in": "path",
            "name": "directoryRole-id",
            "description": "key: directoryRole-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryRole"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoles({directoryRole-id})/members": {
      "get": {
        "tags": [
          "directoryRoles.directoryObject"
        ],
        "summary": "Get members from directoryRoles",
        "operationId": "directoryRoles.ListMembers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "directoryRole-id",
            "description": "key: directoryRole-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryRole"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoles({directoryRole-id})/members({directoryObject-id})": {
      "get": {
        "tags": [
          "directoryRoles.directoryObject"
        ],
        "summary": "Get members from directoryRoles",
        "operationId": "directoryRoles.GetMembers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "directoryRole-id",
            "description": "key: directoryRole-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryRole"
          },
          {
            "in": "path",
            "name": "directoryObject-id",
            "description": "key: directoryObject-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoleTemplates": {
      "get": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Get entities from directoryRoleTemplates",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.ListDirectoryRoleTemplate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "description",
                "description desc",
                "displayName",
                "displayName desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "description",
                "displayName"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of directoryRoleTemplate",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.directoryRoleTemplate"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Add new entity to directoryRoleTemplates",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.CreateDirectoryRoleTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryRoleTemplate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryRoleTemplate"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoleTemplates({directoryRoleTemplate-id})": {
      "get": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Get entity from directoryRoleTemplates by key",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.GetDirectoryRoleTemplate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "directoryRoleTemplate-id",
            "description": "key: directoryRoleTemplate-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryRoleTemplate"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "String",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "description",
                "displayName"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryRoleTemplate"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Update entity in directoryRoleTemplates",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.UpdateDirectoryRoleTemplate",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "directoryRoleTemplate-id",
            "description": "key: directoryRoleTemplate-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryRoleTemplate"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryRoleTemplate"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Delete entity from directoryRoleTemplates",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.DeleteDirectoryRoleTemplate",
        "parameters": [
          {
            "in": "path",
            "name": "directoryRoleTemplate-id",
            "description": "key: directoryRoleTemplate-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryRoleTemplate"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/domains": {
      "get": {
        "tags": [
          "domains.domain"
        ],
        "summary": "Get entities from domains",
        "operationId": "domains.domain.ListDomain",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "authenticationType",
                "authenticationType desc",
                "availabilityStatus",
                "availabilityStatus desc",
                "isAdminManaged",
                "isAdminManaged desc",
                "isDefault",
                "isDefault desc",
                "isInitial",
                "isInitial desc",
                "isRoot",
                "isRoot desc",
                "isVerified",
                "isVerified desc",
                "state",
                "state desc",
                "supportedServices",
                "supportedServices desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "authenticationType",
                "availabilityStatus",
                "isAdminManaged",
                "isDefault",
                "isInitial",
                "isRoot",
                "isVerified",
                "state",
                "supportedServices",
                "domainNameReferences",
                "serviceConfigurationRecords",
                "verificationDnsRecords"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*",
                "domainNameReferences",
                "serviceConfigurationRecords",
                "verificationDnsRecords"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of domain",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.domain"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Domain.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "domains.domain"
        ],
        "summary": "Add new entity to domains",
        "operationId": "domains.domain.CreateDomain",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.domain"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.domain"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/domains({domain-id})": {
      "get": {
        "tags": [
          "domains.domain"
        ],
        "summary": "Get entity from domains by key",
        "operationId": "domains.domain.GetDomain",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "domain-id",
            "description": "key: domain-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domain"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "authenticationType",
                "availabilityStatus",
                "isAdminManaged",
                "isDefault",
                "isInitial",
                "isRoot",
                "isVerified",
                "state",
                "supportedServices",
                "domainNameReferences",
                "serviceConfigurationRecords",
                "verificationDnsRecords"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*",
                "domainNameReferences",
                "serviceConfigurationRecords",
                "verificationDnsRecords"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.domain"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Domain.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "domains.domain"
        ],
        "summary": "Update entity in domains",
        "operationId": "domains.domain.UpdateDomain",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "domain-id",
            "description": "key: domain-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domain"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.domain"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Domain.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "domains.domain"
        ],
        "summary": "Delete entity from domains",
        "operationId": "domains.domain.DeleteDomain",
        "parameters": [
          {
            "in": "path",
            "name": "domain-id",
            "description": "key: domain-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domain"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Domain.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/domains({domain-id})/domainNameReferences": {
      "get": {
        "tags": [
          "domains.directoryObject"
        ],
        "summary": "Get domainNameReferences from domains",
        "operationId": "domains.ListDomainNameReferences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "domain-id",
            "description": "key: domain-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domain"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/domains({domain-id})/domainNameReferences({directoryObject-id})": {
      "get": {
        "tags": [
          "domains.directoryObject"
        ],
        "summary": "Get domainNameReferences from domains",
        "operationId": "domains.GetDomainNameReferences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "domain-id",
            "description": "key: domain-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domain"
          },
          {
            "in": "path",
            "name": "directoryObject-id",
            "description": "key: directoryObject-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/domains({domain-id})/serviceConfigurationRecords": {
      "get": {
        "tags": [
          "domains.domainDnsRecord"
        ],
        "summary": "Get serviceConfigurationRecords from domains",
        "operationId": "domains.ListServiceConfigurationRecords",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "domain-id",
            "description": "key: domain-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domain"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "isOptional",
                "isOptional desc",
                "label",
                "label desc",
                "recordType",
                "recordType desc",
                "supportedService",
                "supportedService desc",
                "ttl",
                "ttl desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "isOptional",
                "label",
                "recordType",
                "supportedService",
                "ttl"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.domainDnsRecord"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/domains({domain-id})/serviceConfigurationRecords({domainDnsRecord-id})": {
      "get": {
        "tags": [
          "domains.domainDnsRecord"
        ],
        "summary": "Get serviceConfigurationRecords from domains",
        "operationId": "domains.GetServiceConfigurationRecords",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "domain-id",
            "description": "key: domain-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domain"
          },
          {
            "in": "path",
            "name": "domainDnsRecord-id",
            "description": "key: domainDnsRecord-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domainDnsRecord"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "isOptional",
                "label",
                "recordType",
                "supportedService",
                "ttl"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.domainDnsRecord"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/domains({domain-id})/verificationDnsRecords": {
      "get": {
        "tags": [
          "domains.domainDnsRecord"
        ],
        "summary": "Get verificationDnsRecords from domains",
        "operationId": "domains.ListVerificationDnsRecords",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "domain-id",
            "description": "key: domain-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domain"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "isOptional",
                "isOptional desc",
                "label",
                "label desc",
                "recordType",
                "recordType desc",
                "supportedService",
                "supportedService desc",
                "ttl",
                "ttl desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "isOptional",
                "label",
                "recordType",
                "supportedService",
                "ttl"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.domainDnsRecord"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/domains({domain-id})/verificationDnsRecords({domainDnsRecord-id})": {
      "get": {
        "tags": [
          "domains.domainDnsRecord"
        ],
        "summary": "Get verificationDnsRecords from domains",
        "operationId": "domains.GetVerificationDnsRecords",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "domain-id",
            "description": "key: domain-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domain"
          },
          {
            "in": "path",
            "name": "domainDnsRecord-id",
            "description": "key: domainDnsRecord-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "domainDnsRecord"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "isOptional",
                "label",
                "recordType",
                "supportedService",
                "ttl"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.domainDnsRecord"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/drives": {
      "get": {
        "tags": [
          "drives.drive"
        ],
        "summary": "Get entities from drives",
        "operationId": "drives.drive.ListDrive",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "createdBy",
                "createdBy desc",
                "createdDateTime",
                "createdDateTime desc",
                "description",
                "description desc",
                "eTag",
                "eTag desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "name",
                "name desc",
                "parentReference",
                "parentReference desc",
                "webUrl",
                "webUrl desc",
                "driveType",
                "driveType desc",
                "owner",
                "owner desc",
                "quota",
                "quota desc",
                "sharepointIds",
                "sharepointIds desc",
                "system",
                "system desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "createdBy",
                "createdDateTime",
                "description",
                "eTag",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "name",
                "parentReference",
                "webUrl",
                "driveType",
                "owner",
                "quota",
                "sharepointIds",
                "system",
                "createdByUser",
                "lastModifiedByUser",
                "items",
                "root",
                "special",
                "list"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*",
                "createdByUser",
                "lastModifiedByUser",
                "items",
                "root",
                "special",
                "list"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of drive",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.drive"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "drives.drive"
        ],
        "summary": "Add new entity to drives",
        "operationId": "drives.drive.CreateDrive",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.drive"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.drive"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/drives({drive-id})": {
      "get": {
        "tags": [
          "drives.drive"
        ],
        "summary": "Get entity from drives by key",
        "operationId": "drives.drive.GetDrive",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "drive-id",
            "description": "key: drive-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "drive"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "createdBy",
                "createdDateTime",
                "description",
                "eTag",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "name",
                "parentReference",
                "webUrl",
                "driveType",
                "owner",
                "quota",
                "sharepointIds",
                "system",
                "createdByUser",
                "lastModifiedByUser",
                "items",
                "root",
                "special",
                "list"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*",
                "createdByUser",
                "lastModifiedByUser",
                "items",
                "root",
                "special",
                "list"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.drive"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "drives.drive"
        ],
        "summary": "Update entity in drives",
        "operationId": "drives.drive.UpdateDrive",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "drive-id",
            "description": "key: drive-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "drive"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.drive"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "drives.drive"
        ],
        "summary": "Delete entity from drives",
        "operationId": "drives.drive.DeleteDrive",
        "parameters": [
          {
            "in": "path",
            "name": "drive-id",
            "description": "key: drive-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "drive"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/drives({drive-id})/items": {
      "get": {
        "tags": [
          "drives.driveItem"
        ],
        "summary": "Get items from drives",
        "operationId": "drives.ListItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "drive-id",
            "description": "key: drive-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "drive"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "createdBy",
                "createdBy desc",
                "createdDateTime",
                "createdDateTime desc",
                "description",
                "description desc",
                "eTag",
                "eTag desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "name",
                "name desc",
                "parentReference",
                "parentReference desc",
                "webUrl",
                "webUrl desc",
                "audio",
                "audio desc",
                "content",
                "content desc",
                "cTag",
                "cTag desc",
                "deleted",
                "deleted desc",
                "file",
                "file desc",
                "fileSystemInfo",
                "fileSystemInfo desc",
                "folder",
                "folder desc",
                "image",
                "image desc",
                "location",
                "location desc",
                "package",
                "package desc",
                "photo",
                "photo desc",
                "publication",
                "publication desc",
                "remoteItem",
                "remoteItem desc",
                "root",
                "root desc",
                "searchResult",
                "searchResult desc",
                "shared",
                "shared desc",
                "sharepointIds",
                "sharepointIds desc",
                "size",
                "size desc",
                "specialFolder",
                "specialFolder desc",
                "video",
                "video desc",
                "webDavUrl",
                "webDavUrl desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "createdBy",
                "createdDateTime",
                "description",
                "eTag",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "name",
                "parentReference",
                "webUrl",
                "audio",
                "content",
                "cTag",
                "deleted",
                "file",
                "fileSystemInfo",
                "folder",
                "image",
                "location",
                "package",
                "photo",
                "publication",
                "remoteItem",
                "root",
                "searchResult",
                "shared",
                "sharepointIds",
                "size",
                "specialFolder",
                "video",
                "webDavUrl",
                "createdByUser",
                "lastModifiedByUser",
                "children",
                "permissions",
                "thumbnails",
                "versions",
                "listItem",
                "workbook"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*",
                "createdByUser",
                "lastModifiedByUser",
                "children",
                "permissions",
                "thumbnails",
                "versions",
                "listItem",
                "workbook"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.driveItem"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/drives({drive-id})/items({driveItem-id})": {
      "get": {
        "tags": [
          "drives.driveItem"
        ],
        "summary": "Get items from drives",
        "operationId": "drives.GetItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "drive-id",
            "description": "key: drive-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "drive"
          },
          {
            "in": "path",
            "name": "driveItem-id",
            "description": "key: driveItem-id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "driveItem"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "createdBy",
                "createdDateTime",
                "description",
                "eTag",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "name",
                "parentReference",
                "webUrl",
                "audio",
                "content",
                "cTag",
                "deleted",
                "file",
                "fileSystemInfo",
                "folder",
                "image",
                "location",
                "package",
                "photo",
                "publication",
                "remoteItem",
                "root",
                "searchResult",
                "shared",
                "sharepointIds",
                "size",
                "specialFolder",
                "video",
                "webDavUrl",
                "createdByUser",
                "lastModifiedByUser",
                "children",
                "permissions",
                "thumbnails",
                "versions",
                "listItem",
                "workbook"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
[...]
