swagger: '2.0'
info:
  title: OData Service for namespace microsoft.graph
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: 1.0.1
host: graph.microsoft.com
basePath: /v1.0
schemes:
  - https
paths:
  /directoryObjects:
    get:
      tags:
        - directoryObjects
      summary: Get entities from directoryObjects
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of directoryObject
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.directoryObject'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - directoryObjects
      summary: Add new entity to directoryObjects
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')':
    get:
      tags:
        - directoryObjects
      summary: Get entity from directoryObjects by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - directoryObjects
      summary: Update entity in directoryObjects
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - directoryObjects
      summary: Delete entity from directoryObjects
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /directoryObjects/microsoft.graph.getByIds:
    post:
      tags:
        - directoryObjects
      summary: Invoke action getByIds
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          description: Action parameters
          schema:
            type: object
            properties:
              ids:
                type: array
                items:
                  type: string
              types:
                type: array
                items:
                  type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - directoryObjects
      summary: Invoke action checkMemberGroups
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: Action parameters
          schema:
            type: object
            properties:
              groupIds:
                type: array
                items:
                  type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.getMemberGroups':
    post:
      tags:
        - directoryObjects
      summary: Invoke action getMemberGroups
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: Action parameters
          schema:
            type: object
            properties:
              securityEnabledOnly:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/directoryObjects(''{id}'')/microsoft.graph.getMemberObjects':
    post:
      tags:
        - directoryObjects
      summary: Invoke action getMemberObjects
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: Action parameters
          schema:
            type: object
            properties:
              securityEnabledOnly:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /devices:
    get:
      tags:
        - devices
      summary: Get entities from devices
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - accountEnabled
              - accountEnabled desc
              - alternativeSecurityIds
              - alternativeSecurityIds desc
              - approximateLastSignInDateTime
              - approximateLastSignInDateTime desc
              - deviceId
              - deviceId desc
              - deviceMetadata
              - deviceMetadata desc
              - deviceVersion
              - deviceVersion desc
              - displayName
              - displayName desc
              - isCompliant
              - isCompliant desc
              - isManaged
              - isManaged desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - operatingSystem
              - operatingSystem desc
              - operatingSystemVersion
              - operatingSystemVersion desc
              - physicalIds
              - physicalIds desc
              - trustType
              - trustType desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - accountEnabled
              - alternativeSecurityIds
              - approximateLastSignInDateTime
              - deviceId
              - deviceMetadata
              - deviceVersion
              - displayName
              - isCompliant
              - isManaged
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - operatingSystem
              - operatingSystemVersion
              - physicalIds
              - trustType
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of device
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - devices
      summary: Add new entity to devices
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.device'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
  '/devices(''{id}'')':
    get:
      tags:
        - devices
      summary: Get entity from devices by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - accountEnabled
              - alternativeSecurityIds
              - approximateLastSignInDateTime
              - deviceId
              - deviceMetadata
              - deviceVersion
              - displayName
              - isCompliant
              - isManaged
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - operatingSystem
              - operatingSystemVersion
              - physicalIds
              - trustType
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - devices
      summary: Update entity in devices
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.device'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - devices
      summary: Delete entity from devices
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /domains:
    get:
      tags:
        - domains
      summary: Get entities from domains
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - authenticationType
              - authenticationType desc
              - availabilityStatus
              - availabilityStatus desc
              - isAdminManaged
              - isAdminManaged desc
              - isDefault
              - isDefault desc
              - isInitial
              - isInitial desc
              - isRoot
              - isRoot desc
              - isVerified
              - isVerified desc
              - supportedServices
              - supportedServices desc
              - state
              - state desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - authenticationType
              - availabilityStatus
              - isAdminManaged
              - isDefault
              - isInitial
              - isRoot
              - isVerified
              - supportedServices
              - state
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - serviceConfigurationRecords
              - verificationDnsRecords
              - domainNameReferences
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of domain
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - domains
      summary: Add new entity to domains
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
  '/domains(''{id}'')':
    get:
      tags:
        - domains
      summary: Get entity from domains by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - authenticationType
              - availabilityStatus
              - isAdminManaged
              - isDefault
              - isInitial
              - isRoot
              - isVerified
              - supportedServices
              - state
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - serviceConfigurationRecords
              - verificationDnsRecords
              - domainNameReferences
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - domains
      summary: Update entity in domains
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - domains
      summary: Delete entity from domains
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/domains(''{id}'')/microsoft.graph.verify':
    post:
      tags:
        - domains
      summary: Invoke action verify
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /domainDnsRecords:
    get:
      tags:
        - domainDnsRecords
      summary: Get entities from domainDnsRecords
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - isOptional
              - isOptional desc
              - label
              - label desc
              - recordType
              - recordType desc
              - supportedService
              - supportedService desc
              - ttl
              - ttl desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - isOptional
              - label
              - recordType
              - supportedService
              - ttl
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of domainDnsRecord
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - domainDnsRecords
      summary: Add new entity to domainDnsRecords
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.domainDnsRecord'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/responses/error'
  '/domainDnsRecords(''{id}'')':
    get:
      tags:
        - domainDnsRecords
      summary: Get entity from domainDnsRecords by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - isOptional
              - label
              - recordType
              - supportedService
              - ttl
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - domainDnsRecords
      summary: Update entity in domainDnsRecords
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.domainDnsRecord'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - domainDnsRecords
      summary: Delete entity from domainDnsRecords
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /groups:
    get:
      tags:
        - groups
      summary: Get entities from groups
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - classification
              - classification desc
              - createdDateTime
              - createdDateTime desc
              - description
              - description desc
              - displayName
              - displayName desc
              - groupTypes
              - groupTypes desc
              - mail
              - mail desc
              - mailEnabled
              - mailEnabled desc
              - mailNickname
              - mailNickname desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesSecurityIdentifier
              - onPremisesSecurityIdentifier desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - proxyAddresses
              - proxyAddresses desc
              - renewedDateTime
              - renewedDateTime desc
              - securityEnabled
              - securityEnabled desc
              - visibility
              - visibility desc
              - allowExternalSenders
              - allowExternalSenders desc
              - autoSubscribeNewMembers
              - autoSubscribeNewMembers desc
              - isSubscribedByMail
              - isSubscribedByMail desc
              - unseenCount
              - unseenCount desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - classification
              - createdDateTime
              - description
              - displayName
              - groupTypes
              - mail
              - mailEnabled
              - mailNickname
              - onPremisesLastSyncDateTime
              - onPremisesSecurityIdentifier
              - onPremisesSyncEnabled
              - proxyAddresses
              - renewedDateTime
              - securityEnabled
              - visibility
              - allowExternalSenders
              - autoSubscribeNewMembers
              - isSubscribedByMail
              - unseenCount
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of group
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.group'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - groups
      summary: Add new entity to groups
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.group'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.group'
        default:
          $ref: '#/responses/error'
  '/groups(''{id}'')':
    get:
      tags:
        - groups
      summary: Get entity from groups by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - classification
              - createdDateTime
              - description
              - displayName
              - groupTypes
              - mail
              - mailEnabled
              - mailNickname
              - onPremisesLastSyncDateTime
              - onPremisesSecurityIdentifier
              - onPremisesSyncEnabled
              - proxyAddresses
              - renewedDateTime
              - securityEnabled
              - visibility
              - allowExternalSenders
              - autoSubscribeNewMembers
              - isSubscribedByMail
              - unseenCount
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.group'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - groups
      summary: Update entity in groups
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.group'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - groups
      summary: Delete entity from groups
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /groups/microsoft.graph.delta():
    get:
      tags:
        - groups
      summary: Invoke function delta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  '/groups(''{id}'')/microsoft.graph.subscribeByMail':
    post:
      tags:
        - groups
      summary: Invoke action subscribeByMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/groups(''{id}'')/microsoft.graph.unsubscribeByMail':
    post:
      tags:
        - groups
      summary: Invoke action unsubscribeByMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/groups(''{id}'')/microsoft.graph.addFavorite':
    post:
      tags:
        - groups
      summary: Invoke action addFavorite
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/groups(''{id}'')/microsoft.graph.removeFavorite':
    post:
      tags:
        - groups
      summary: Invoke action removeFavorite
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/groups(''{id}'')/microsoft.graph.resetUnseenCount':
    post:
      tags:
        - groups
      summary: Invoke action resetUnseenCount
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /directoryRoles:
    get:
      tags:
        - directoryRoles
      summary: Get entities from directoryRoles
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - description
              - description desc
              - displayName
              - displayName desc
              - roleTemplateId
              - roleTemplateId desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
              - roleTemplateId
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of directoryRole
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.directoryRole'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - directoryRoles
      summary: Add new entity to directoryRoles
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRole'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRole'
        default:
          $ref: '#/responses/error'
  '/directoryRoles(''{id}'')':
    get:
      tags:
        - directoryRoles
      summary: Get entity from directoryRoles by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
              - roleTemplateId
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRole'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - directoryRoles
      summary: Update entity in directoryRoles
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRole'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - directoryRoles
      summary: Delete entity from directoryRoles
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /directoryRoleTemplates:
    get:
      tags:
        - directoryRoleTemplates
      summary: Get entities from directoryRoleTemplates
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - description
              - description desc
              - displayName
              - displayName desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of directoryRoleTemplate
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - directoryRoleTemplates
      summary: Add new entity to directoryRoleTemplates
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/responses/error'
  '/directoryRoleTemplates(''{id}'')':
    get:
      tags:
        - directoryRoleTemplates
      summary: Get entity from directoryRoleTemplates by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - directoryRoleTemplates
      summary: Update entity in directoryRoleTemplates
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - directoryRoleTemplates
      summary: Delete entity from directoryRoleTemplates
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /organization:
    get:
      tags:
        - organization
      summary: Get entities from organization
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - assignedPlans
              - assignedPlans desc
              - businessPhones
              - businessPhones desc
              - city
              - city desc
              - country
              - country desc
              - countryLetterCode
              - countryLetterCode desc
              - displayName
              - displayName desc
              - marketingNotificationEmails
              - marketingNotificationEmails desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - postalCode
              - postalCode desc
              - preferredLanguage
              - preferredLanguage desc
              - provisionedPlans
              - provisionedPlans desc
              - securityComplianceNotificationMails
              - securityComplianceNotificationMails desc
              - securityComplianceNotificationPhones
              - securityComplianceNotificationPhones desc
              - state
              - state desc
              - street
              - street desc
              - technicalNotificationMails
              - technicalNotificationMails desc
              - verifiedDomains
              - verifiedDomains desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - assignedPlans
              - businessPhones
              - city
              - country
              - countryLetterCode
              - displayName
              - marketingNotificationEmails
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - postalCode
              - preferredLanguage
              - provisionedPlans
              - securityComplianceNotificationMails
              - securityComplianceNotificationPhones
              - state
              - street
              - technicalNotificationMails
              - verifiedDomains
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of organization
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.organization'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - organization
      summary: Add new entity to organization
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.organization'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.organization'
        default:
          $ref: '#/responses/error'
  '/organization(''{id}'')':
    get:
      tags:
        - organization
      summary: Get entity from organization by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - assignedPlans
              - businessPhones
              - city
              - country
              - countryLetterCode
              - displayName
              - marketingNotificationEmails
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - postalCode
              - preferredLanguage
              - provisionedPlans
              - securityComplianceNotificationMails
              - securityComplianceNotificationPhones
              - state
              - street
              - technicalNotificationMails
              - verifiedDomains
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.organization'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - organization
      summary: Update entity in organization
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.organization'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - organization
      summary: Delete entity from organization
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /groupSettings:
    get:
      tags:
        - groupSettings
      summary: Get entities from groupSettings
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - displayName
              - displayName desc
              - templateId
              - templateId desc
              - values
              - values desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - displayName
              - templateId
              - values
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of groupSetting
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.groupSetting'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - groupSettings
      summary: Add new entity to groupSettings
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSetting'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSetting'
        default:
          $ref: '#/responses/error'
  '/groupSettings(''{id}'')':
    get:
      tags:
        - groupSettings
      summary: Get entity from groupSettings by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - displayName
              - templateId
              - values
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSetting'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - groupSettings
      summary: Update entity in groupSettings
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.groupSetting'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - groupSettings
      summary: Delete entity from groupSettings
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /groupSettingTemplates:
    get:
      tags:
        - groupSettingTemplates
      summary: Get entities from groupSettingTemplates
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - displayName
              - displayName desc
              - description
              - description desc
              - values
              - values desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - displayName
              - description
              - values
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of groupSettingTemplate
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - groupSettingTemplates
      summary: Add new entity to groupSettingTemplates
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/responses/error'
  '/groupSettingTemplates(''{id}'')':
    get:
      tags:
        - groupSettingTemplates
      summary: Get entity from groupSettingTemplates by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - displayName
              - description
              - values
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - groupSettingTemplates
      summary: Update entity in groupSettingTemplates
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - groupSettingTemplates
      summary: Delete entity from groupSettingTemplates
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /subscribedSkus:
    get:
      tags:
        - subscribedSkus
      summary: Get entities from subscribedSkus
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - capabilityStatus
              - capabilityStatus desc
              - consumedUnits
              - consumedUnits desc
              - prepaidUnits
              - prepaidUnits desc
              - servicePlans
              - servicePlans desc
              - skuId
              - skuId desc
              - skuPartNumber
              - skuPartNumber desc
              - appliesTo
              - appliesTo desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - capabilityStatus
              - consumedUnits
              - prepaidUnits
              - servicePlans
              - skuId
              - skuPartNumber
              - appliesTo
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of subscribedSku
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.subscribedSku'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - subscribedSkus
      summary: Add new entity to subscribedSkus
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.subscribedSku'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.subscribedSku'
        default:
          $ref: '#/responses/error'
  '/subscribedSkus(''{id}'')':
    get:
      tags:
        - subscribedSkus
      summary: Get entity from subscribedSkus by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - capabilityStatus
              - consumedUnits
              - prepaidUnits
              - servicePlans
              - skuId
              - skuPartNumber
              - appliesTo
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.subscribedSku'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - subscribedSkus
      summary: Update entity in subscribedSkus
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.subscribedSku'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - subscribedSkus
      summary: Delete entity from subscribedSkus
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /users:
    get:
      tags:
        - users
      summary: Get entities from users
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - accountEnabled
              - accountEnabled desc
              - assignedLicenses
              - assignedLicenses desc
              - assignedPlans
              - assignedPlans desc
              - businessPhones
              - businessPhones desc
              - city
              - city desc
              - companyName
              - companyName desc
              - country
              - country desc
              - department
              - department desc
              - displayName
              - displayName desc
              - givenName
              - givenName desc
              - imAddresses
              - imAddresses desc
              - jobTitle
              - jobTitle desc
              - mail
              - mail desc
              - mailNickname
              - mailNickname desc
              - mobilePhone
              - mobilePhone desc
              - onPremisesImmutableId
              - onPremisesImmutableId desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesSecurityIdentifier
              - onPremisesSecurityIdentifier desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - passwordPolicies
              - passwordPolicies desc
              - passwordProfile
              - passwordProfile desc
              - officeLocation
              - officeLocation desc
              - postalCode
              - postalCode desc
              - preferredLanguage
              - preferredLanguage desc
              - provisionedPlans
              - provisionedPlans desc
              - proxyAddresses
              - proxyAddresses desc
              - state
              - state desc
              - streetAddress
              - streetAddress desc
              - surname
              - surname desc
              - usageLocation
              - usageLocation desc
              - userPrincipalName
              - userPrincipalName desc
              - userType
              - userType desc
              - mailboxSettings
              - mailboxSettings desc
              - aboutMe
              - aboutMe desc
              - birthday
              - birthday desc
              - hireDate
              - hireDate desc
              - interests
              - interests desc
              - mySite
              - mySite desc
              - pastProjects
              - pastProjects desc
              - preferredName
              - preferredName desc
              - responsibilities
              - responsibilities desc
              - schools
              - schools desc
              - skills
              - skills desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - accountEnabled
              - assignedLicenses
              - assignedPlans
              - businessPhones
              - city
              - companyName
              - country
              - department
              - displayName
              - givenName
              - imAddresses
              - jobTitle
              - mail
              - mailNickname
              - mobilePhone
              - onPremisesImmutableId
              - onPremisesLastSyncDateTime
              - onPremisesSecurityIdentifier
              - onPremisesSyncEnabled
              - passwordPolicies
              - passwordProfile
              - officeLocation
              - postalCode
              - preferredLanguage
              - provisionedPlans
              - proxyAddresses
              - state
              - streetAddress
              - surname
              - usageLocation
              - userPrincipalName
              - userType
              - mailboxSettings
              - aboutMe
              - birthday
              - hireDate
              - interests
              - mySite
              - pastProjects
              - preferredName
              - responsibilities
              - schools
              - skills
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of user
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.user'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - users
      summary: Add new entity to users
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.user'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.user'
        default:
          $ref: '#/responses/error'
  '/users(''{id}'')':
    get:
      tags:
        - users
      summary: Get entity from users by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - accountEnabled
              - assignedLicenses
              - assignedPlans
              - businessPhones
              - city
              - companyName
              - country
              - department
              - displayName
              - givenName
              - imAddresses
              - jobTitle
              - mail
              - mailNickname
              - mobilePhone
              - onPremisesImmutableId
              - onPremisesLastSyncDateTime
              - onPremisesSecurityIdentifier
              - onPremisesSyncEnabled
              - passwordPolicies
              - passwordProfile
              - officeLocation
              - postalCode
              - preferredLanguage
              - provisionedPlans
              - proxyAddresses
              - state
              - streetAddress
              - surname
              - usageLocation
              - userPrincipalName
              - userType
              - mailboxSettings
              - aboutMe
              - birthday
              - hireDate
              - interests
              - mySite
              - pastProjects
              - preferredName
              - responsibilities
              - schools
              - skills
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.user'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - users
      summary: Update entity in users
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.user'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - users
      summary: Delete entity from users
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /users/microsoft.graph.delta():
    get:
      tags:
        - users
      summary: Invoke function delta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  '/users(''{id}'')/microsoft.graph.assignLicense':
    post:
      tags:
        - users
      summary: Invoke action assignLicense
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: Action parameters
          schema:
            type: object
            properties:
              addLicenses:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.assignedLicense'
              removeLicenses:
                type: array
                items:
                  format: uuid
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/users(''{id}'')/microsoft.graph.changePassword':
    post:
      tags:
        - users
      summary: Invoke action changePassword
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: Action parameters
          schema:
            type: object
            properties:
              currentPassword:
                type: string
              newPassword:
                type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/users(''{id}'')/microsoft.graph.sendMail':
    post:
      tags:
        - users
      summary: Invoke action sendMail
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: Action parameters
          schema:
            type: object
            properties:
              Message:
                $ref: '#/definitions/microsoft.graph.message'
              SaveToSentItems:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/users(''{id}'')/microsoft.graph.findMeetingTimes':
    post:
      tags:
        - users
      summary: Invoke action findMeetingTimes
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: Action parameters
          schema:
            type: object
            properties:
              Attendees:
                type: array
                items: { }
              LocationConstraint: { }
              TimeConstraint: { }
              MeetingDuration:
                format: duration
                pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
                type: string
              MaxCandidates:
                format: int32
                maximum: 2147483647
                minimum: -2147483648
                type: integer
              IsOrganizerOptional:
                default: false
                type: boolean
              ReturnSuggestionReasons:
                default: false
                type: boolean
              MinimumAttendeePercentage:
                format: double
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/users(''{id}'')/microsoft.graph.reminderView(StartDateTime={StartDateTime},EndDateTime={EndDateTime})':
    get:
      tags:
        - users
      summary: Invoke function reminderView
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/microsoft.graph.reminder'
        default:
          $ref: '#/responses/error'
  /contracts:
    get:
      tags:
        - contracts
      summary: Get entities from contracts
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - contractType
              - contractType desc
              - customerId
              - customerId desc
              - defaultDomainName
              - defaultDomainName desc
              - displayName
              - displayName desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - contractType
              - customerId
              - defaultDomainName
              - displayName
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of contract
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.contract'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - contracts
      summary: Add new entity to contracts
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.contract'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.contract'
        default:
          $ref: '#/responses/error'
  '/contracts(''{id}'')':
    get:
      tags:
        - contracts
      summary: Get entity from contracts by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - contractType
              - customerId
              - defaultDomainName
              - displayName
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.contract'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - contracts
      summary: Update entity in contracts
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.contract'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - contracts
      summary: Delete entity from contracts
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /schemaExtensions:
    get:
      tags:
        - schemaExtensions
      summary: Get entities from schemaExtensions
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - description
              - description desc
              - targetTypes
              - targetTypes desc
              - properties
              - properties desc
              - status
              - status desc
              - owner
              - owner desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - targetTypes
              - properties
              - status
              - owner
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of schemaExtension
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.schemaExtension'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - schemaExtensions
      summary: Add new entity to schemaExtensions
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
        default:
          $ref: '#/responses/error'
  '/schemaExtensions(''{id}'')':
    get:
      tags:
        - schemaExtensions
      summary: Get entity from schemaExtensions by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - targetTypes
              - properties
              - status
              - owner
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - schemaExtensions
      summary: Update entity in schemaExtensions
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - schemaExtensions
      summary: Delete entity from schemaExtensions
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /drives:
    get:
      tags:
        - drives
      summary: Get entities from drives
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - createdBy
              - createdBy desc
              - createdDateTime
              - createdDateTime desc
              - description
              - description desc
              - eTag
              - eTag desc
              - lastModifiedBy
              - lastModifiedBy desc
              - lastModifiedDateTime
              - lastModifiedDateTime desc
              - name
              - name desc
              - parentReference
              - parentReference desc
              - webUrl
              - webUrl desc
              - driveType
              - driveType desc
              - owner
              - owner desc
              - quota
              - quota desc
              - sharePointIds
              - sharePointIds desc
              - system
              - system desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - driveType
              - owner
              - quota
              - sharePointIds
              - system
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - items
              - list
              - root
              - special
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of drive
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.drive'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - drives
      summary: Add new entity to drives
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.drive'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.drive'
        default:
          $ref: '#/responses/error'
  '/drives(''{id}'')':
    get:
      tags:
        - drives
      summary: Get entity from drives by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - driveType
              - owner
              - quota
              - sharePointIds
              - system
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - items
              - list
              - root
              - special
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.drive'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - drives
      summary: Update entity in drives
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.drive'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - drives
      summary: Delete entity from drives
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/drives(''{id}'')/microsoft.graph.recent()':
    get:
      tags:
        - drives
      summary: Invoke function recent
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  '/drives(''{id}'')/microsoft.graph.search(q={q})':
    get:
      tags:
        - drives
      summary: Invoke function search
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  '/drives(''{id}'')/microsoft.graph.sharedWithMe()':
    get:
      tags:
        - drives
      summary: Invoke function sharedWithMe
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
  /shares:
    get:
      tags:
        - shares
      summary: Get entities from shares
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - createdBy
              - createdBy desc
              - createdDateTime
              - createdDateTime desc
              - description
              - description desc
              - eTag
              - eTag desc
              - lastModifiedBy
              - lastModifiedBy desc
              - lastModifiedDateTime
              - lastModifiedDateTime desc
              - name
              - name desc
              - parentReference
              - parentReference desc
              - webUrl
              - webUrl desc
              - owner
              - owner desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - owner
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - driveItem
              - items
              - list
              - listItem
              - root
              - site
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of sharedDriveItem
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.sharedDriveItem'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - shares
      summary: Add new entity to shares
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.sharedDriveItem'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.sharedDriveItem'
        default:
          $ref: '#/responses/error'
  '/shares(''{id}'')':
    get:
      tags:
        - shares
      summary: Get entity from shares by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - owner
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - driveItem
              - items
              - list
              - listItem
              - root
              - site
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.sharedDriveItem'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - shares
      summary: Update entity in shares
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.sharedDriveItem'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - shares
      summary: Delete entity from shares
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  /sites:
    get:
      tags:
        - sites
      summary: Get entities from sites
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - createdBy
              - createdBy desc
              - createdDateTime
              - createdDateTime desc
              - description
              - description desc
              - eTag
              - eTag desc
              - lastModifiedBy
              - lastModifiedBy desc
              - lastModifiedDateTime
              - lastModifiedDateTime desc
              - name
              - name desc
              - parentReference
              - parentReference desc
              - webUrl
              - webUrl desc
              - displayName
              - displayName desc
              - root
              - root desc
              - sharepointIds
              - sharepointIds desc
              - siteCollection
              - siteCollection desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - displayName
              - root
              - sharepointIds
              - siteCollection
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - columns
              - contentTypes
              - drive
              - drives
              - items
              - lists
              - sites
              - onenote
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of site
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.site'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - sites
      summary: Add new entity to sites
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.site'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.site'
        default:
          $ref: '#/responses/error'
  '/sites(''{id}'')':
    get:
      tags:
        - sites
      summary: Get entity from sites by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - displayName
              - root
              - sharepointIds
              - siteCollection
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - columns
              - contentTypes
              - drive
              - drives
              - items
              - lists
              - sites
              - onenote
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.site'
        default:
          $ref: '#/responses/error'
    patch:
      tags:
        - sites
      summary: Update entity in sites
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: body
          in: body
          description: New property values
          schema:
            $ref: '#/definitions/microsoft.graph.site'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
    delete:
      tags:
        - sites
      summary: Delete entity from sites
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: If-Match
          in: header
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
  '/sites(''{id}'')/microsoft.graph.getByPath(path={path})':
    get:
      tags:
        - sites
      summary: Invoke function getByPath
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema: { }
        default:
          $ref: '#/responses/error'
  /workbooks:
    get:
      tags:
        - workbooks
      summary: Get entities from workbooks
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - createdBy
              - createdBy desc
              - createdDateTime
              - createdDateTime desc
              - description
              - description desc
              - eTag
              - eTag desc
              - lastModifiedBy
              - lastModifiedBy desc
              - lastModifiedDateTime
              - lastModifiedDateTime desc
              - name
              - name desc
              - parentReference
              - parentReference desc
              - webUrl
              - webUrl desc
              - audio
              - audio desc
              - content
              - content desc
              - cTag
              - cTag desc
              - deleted
              - deleted desc
              - file
              - file desc
              - fileSystemInfo
              - fileSystemInfo desc
              - folder
              - folder desc
              - image
              - image desc
              - location
              - location desc
              - package
              - package desc
              - photo
              - photo desc
              - remoteItem
              - remoteItem desc
              - root
              - root desc
              - searchResult
              - searchResult desc
              - shared
              - shared desc
              - sharepointIds
              - sharepointIds desc
              - size
              - size desc
              - specialFolder
              - specialFolder desc
              - video
              - video desc
              - webDavUrl
              - webDavUrl desc
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - audio
              - content
              - cTag
              - deleted
              - file
              - fileSystemInfo
              - folder
              - image
              - location
              - package
              - photo
              - remoteItem
              - root
              - searchResult
              - shared
              - sharepointIds
              - size
              - specialFolder
              - video
              - webDavUrl
            type: string
        - name: $expand
          in: query
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - children
              - listItem
              - permissions
              - thumbnails
              - workbook
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of driveItem
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.driveItem'
        default:
          $ref: '#/responses/error'
    post:
      tags:
        - workbooks
      summary: Add new entity to workbooks
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: New entity
          schema:
            $ref: '#/definitions/microsoft.graph.driveItem'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.driveItem'
        default:
          $ref: '#/responses/error'
  '/workbooks(''{id}'')':
    get:
      tags:
        - workbooks
      summary: Get entity from workbooks by key
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          type: string
        - name: $select
          in: query
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - audio
              - content
              - cTag
              - deleted
              - file
              - fileSystemInfo
              - folder
              - image
              - location
              - package
              - photo
              - remoteItem
              - root
              - searchResult
              - shared
[...]
