{
  "swagger": "2.0",
  "info": {
    "title": "OData Service for namespace microsoft.graph",
    "description": "This OData service is located at https://graph.microsoft.com/beta",
    "version": "1.0.1"
  },
  "host": "graph.microsoft.com",
  "basePath": "/beta",
  "schemes": [
    "https"
  ],
  "paths": {
    "/schemaExtensions": {
      "get": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Get entities from schemaExtensions",
        "operationId": "schemaExtensions.schemaExtension.ListSchemaExtension",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "description",
                "description desc",
                "targetTypes",
                "targetTypes desc",
                "properties",
                "properties desc",
                "status",
                "status desc",
                "owner",
                "owner desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "description",
                "targetTypes",
                "properties",
                "status",
                "owner"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of schemaExtension",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.schemaExtension"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Add new entity to schemaExtensions",
        "operationId": "schemaExtensions.schemaExtension.CreateSchemaExtension",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.schemaExtension"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.schemaExtension"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/schemaExtensions/{id}": {
      "get": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Get entity from schemaExtensions by key",
        "operationId": "schemaExtensions.schemaExtension.GetSchemaExtension",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "schemaExtension"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "description",
                "targetTypes",
                "properties",
                "status",
                "owner"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.schemaExtension"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Update entity in schemaExtensions",
        "operationId": "schemaExtensions.schemaExtension.UpdateSchemaExtension",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "schemaExtension"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.schemaExtension"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Delete entity from schemaExtensions",
        "operationId": "schemaExtensions.schemaExtension.DeleteSchemaExtension",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "schemaExtension"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryObjects": {
      "get": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Get entities from directoryObjects",
        "operationId": "directoryObjects.directoryObject.ListDirectoryObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "deletedDateTime",
                "deletedDateTime desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime"
              ],
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "String"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of directoryObject",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.directoryObject"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Add new entity to directoryObjects",
        "operationId": "directoryObjects.directoryObject.CreateDirectoryObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryObjects/{id}": {
      "get": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Get entity from directoryObjects by key",
        "operationId": "directoryObjects.directoryObject.GetDirectoryObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Update entity in directoryObjects",
        "operationId": "directoryObjects.directoryObject.UpdateDirectoryObject",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.directoryObject"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Delete entity from directoryObjects",
        "operationId": "directoryObjects.directoryObject.DeleteDirectoryObject",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryObjects/microsoft.graph.user/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function delta",
        "operationId": "directoryObjects.0-Delta",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      },
      "x-ms-docs-grouped-path": [
        "/directoryObjects/microsoft.graph.group/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta()"
      ]
    },
    "/directoryObjects/microsoft.graph.group/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function delta",
        "operationId": "directoryObjects.1-Delta",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      },
      "x-ms-docs-grouped-path": [
        "/directoryObjects/microsoft.graph.user/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta()"
      ]
    },
    "/directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function delta",
        "operationId": "directoryObjects.2-Delta",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      },
      "x-ms-docs-grouped-path": [
        "/directoryObjects/microsoft.graph.user/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.group/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta()"
      ]
    },
    "/directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function delta",
        "operationId": "directoryObjects.3-Delta",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      },
      "x-ms-docs-grouped-path": [
        "/directoryObjects/microsoft.graph.user/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.group/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta()"
      ]
    },
    "/directoryObjects/microsoft.graph.getByIds": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action getByIds",
        "operationId": "directoryObjects.0-GetByIds",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "types": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/microsoft.graph.validateProperties": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action validateProperties",
        "operationId": "directoryObjects.0-ValidateProperties",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "entityType": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "mailNickname": {
                  "type": "string"
                },
                "onBehalfOfUserId": {
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      },
      "x-ms-docs-grouped-path": [
        "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.validateProperties"
      ]
    },
    "/directoryObjects/{id}/microsoft.graph.checkMemberGroups": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action checkMemberGroups",
        "operationId": "directoryObjects.0-CheckMemberGroups",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "groupIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.getMemberGroups": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action getMemberGroups",
        "operationId": "directoryObjects.0-GetMemberGroups",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "securityEnabledOnly": {
                  "default": false,
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.getMemberObjects": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action getMemberObjects",
        "operationId": "directoryObjects.0-GetMemberObjects",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "securityEnabledOnly": {
                  "default": false,
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.validateProperties": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action validateProperties",
        "operationId": "directoryObjects.1-ValidateProperties",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string"
                },
                "mailNickname": {
                  "type": "string"
                },
                "onBehalfOfUserId": {
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      },
      "x-ms-docs-grouped-path": [
        "/directoryObjects/microsoft.graph.validateProperties"
      ]
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.renew": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action renew",
        "operationId": "directoryObjects.0-Renew",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.restore": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action restore",
        "operationId": "directoryObjects.0-Restore",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.assignLicense": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action assignLicense",
        "operationId": "directoryObjects.0-AssignLicense",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "addLicenses": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.assignedLicense"
                  }
                },
                "removeLicenses": {
                  "type": "array",
                  "items": {
                    "format": "uuid",
                    "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.changePassword": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action changePassword",
        "operationId": "directoryObjects.0-ChangePassword",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "currentPassword": {
                  "type": "string"
                },
                "newPassword": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.invalidateAllRefreshTokens": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action invalidateAllRefreshTokens",
        "operationId": "directoryObjects.0-InvalidateAllRefreshTokens",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.sendMail": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action sendMail",
        "operationId": "directoryObjects.0-SendMail",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Message": {
                  "$ref": "#/definitions/microsoft.graph.message"
                },
                "SaveToSentItems": {
                  "default": false,
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findMeetingTimesOLD": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action findMeetingTimesOLD",
        "operationId": "directoryObjects.0-FindMeetingTimesOLD",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Attendees": {
                  "type": "array",
                  "items": { }
                },
                "LocationConstraint": { },
                "TimeConstraint": { },
                "MeetingDuration": {
                  "format": "duration",
                  "pattern": "^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$",
                  "type": "string"
                },
                "MaxCandidates": {
                  "format": "int32",
                  "maximum": 2147483647,
                  "minimum": -2147483648,
                  "type": "integer"
                },
                "IsOrganizerOptional": {
                  "default": false,
                  "type": "boolean"
                },
                "ReturnSuggestionHints": {
                  "default": false,
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findMeetingTimes": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action findMeetingTimes",
        "operationId": "directoryObjects.0-FindMeetingTimes",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Attendees": {
                  "type": "array",
                  "items": { }
                },
                "LocationConstraint": { },
                "TimeConstraint": { },
                "MeetingDuration": {
                  "format": "duration",
                  "pattern": "^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$",
                  "type": "string"
                },
                "MaxCandidates": {
                  "format": "int32",
                  "maximum": 2147483647,
                  "minimum": -2147483648,
                  "type": "integer"
                },
                "IsOrganizerOptional": {
                  "default": false,
                  "type": "boolean"
                },
                "ReturnSuggestionReasons": {
                  "default": false,
                  "type": "boolean"
                },
                "MinimumAttendeePercentage": {
                  "format": "double"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.getMailTips": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action getMailTips",
        "operationId": "directoryObjects.0-GetMailTips",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EmailAddresses": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "MailTipsOptions": { }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.reminderView(StartDateTime={StartDateTime},EndDateTime={EndDateTime})": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function reminderView",
        "operationId": "directoryObjects.0-ReminderView",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "path",
            "name": "StartDateTime",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "EndDateTime",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/microsoft.graph.reminder"
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRoomLists()": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function findRoomLists",
        "operationId": "directoryObjects.0-FindRoomLists",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/microsoft.graph.emailAddress"
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms(RoomList={RoomList})": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function findRooms",
        "operationId": "directoryObjects.0-FindRooms",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "path",
            "name": "RoomList",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/microsoft.graph.emailAddress"
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      },
      "x-ms-docs-grouped-path": [
        "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms()"
      ]
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms()": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function findRooms",
        "operationId": "directoryObjects.1-FindRooms",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/microsoft.graph.emailAddress"
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      },
      "x-ms-docs-grouped-path": [
        "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms(RoomList={RoomList})"
      ]
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.subscribeByMail": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action subscribeByMail",
        "operationId": "directoryObjects.0-SubscribeByMail",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.unsubscribeByMail": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action unsubscribeByMail",
        "operationId": "directoryObjects.0-UnsubscribeByMail",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.addFavorite": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action addFavorite",
        "operationId": "directoryObjects.0-AddFavorite",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.removeFavorite": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action removeFavorite",
        "operationId": "directoryObjects.0-RemoveFavorite",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.resetUnseenCount": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action resetUnseenCount",
        "operationId": "directoryObjects.0-ResetUnseenCount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.removeAllDevicesFromManagement": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action removeAllDevicesFromManagement",
        "operationId": "directoryObjects.0-RemoveAllDevicesFromManagement",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.setMobileDeviceManagementAuthority": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action setMobileDeviceManagementAuthority",
        "operationId": "directoryObjects.0-SetMobileDeviceManagementAuthority",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.getEncryptionPublicKey()": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function getEncryptionPublicKey",
        "operationId": "directoryObjects.0-GetEncryptionPublicKey",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.uploadDepToken": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action uploadDepToken",
        "operationId": "directoryObjects.0-UploadDepToken",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "appleId": {
                  "type": "string"
                },
                "depToken": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.syncWithAppleDeviceEnrollmentProgram": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action syncWithAppleDeviceEnrollmentProgram",
        "operationId": "directoryObjects.0-SyncWithAppleDeviceEnrollmentProgram",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.getManagedAppDiagnosticStatuses()": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function getManagedAppDiagnosticStatuses",
        "operationId": "directoryObjects.0-GetManagedAppDiagnosticStatuses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.getManagedAppPolicies()": {
      "get": {
        "tags": [
          "directoryObjects.Functions"
        ],
        "summary": "Invoke function getManagedAppPolicies",
        "operationId": "directoryObjects.0-GetManagedAppPolicies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.wipeManagedAppRegistrationByDeviceTag": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action wipeManagedAppRegistrationByDeviceTag",
        "operationId": "directoryObjects.0-WipeManagedAppRegistrationByDeviceTag",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "deviceTag": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/applications": {
      "get": {
        "tags": [
          "applications.application"
        ],
        "summary": "Get entities from applications",
        "operationId": "applications.application.ListApplication",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "deletedDateTime",
                "deletedDateTime desc",
                "api",
                "api desc",
                "allowPublicClient",
                "allowPublicClient desc",
                "applicationAliases",
                "applicationAliases desc",
                "appRoles",
                "appRoles desc",
                "createdDateTime",
                "createdDateTime desc",
                "installedClients",
                "installedClients desc",
                "displayName",
                "displayName desc",
                "info",
                "info desc",
                "keyCredentials",
                "keyCredentials desc",
                "logo",
                "logo desc",
                "orgRestrictions",
                "orgRestrictions desc",
                "passwordCredentials",
                "passwordCredentials desc",
                "preAuthorizedApplications",
                "preAuthorizedApplications desc",
                "requiredResourceAccess",
                "requiredResourceAccess desc",
                "tags",
                "tags desc",
                "web",
                "web desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime",
                "api",
                "allowPublicClient",
                "applicationAliases",
                "appRoles",
                "createdDateTime",
                "installedClients",
                "displayName",
                "info",
                "keyCredentials",
                "logo",
                "orgRestrictions",
                "passwordCredentials",
                "preAuthorizedApplications",
                "requiredResourceAccess",
                "tags",
                "web"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of application",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.application"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "applications.application"
        ],
        "summary": "Add new entity to applications",
        "operationId": "applications.application.CreateApplication",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.application"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.application"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/applications/{id}": {
      "get": {
        "tags": [
          "applications.application"
        ],
        "summary": "Get entity from applications by key",
        "operationId": "applications.application.GetApplication",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "application"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime",
                "api",
                "allowPublicClient",
                "applicationAliases",
                "appRoles",
                "createdDateTime",
                "installedClients",
                "displayName",
                "info",
                "keyCredentials",
                "logo",
                "orgRestrictions",
                "passwordCredentials",
                "preAuthorizedApplications",
                "requiredResourceAccess",
                "tags",
                "web"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.application"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "applications.application"
        ],
        "summary": "Update entity in applications",
        "operationId": "applications.application.UpdateApplication",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "application"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.application"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "applications.application"
        ],
        "summary": "Delete entity from applications",
        "operationId": "applications.application.DeleteApplication",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "application"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/administrativeUnits": {
      "get": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Get entities from administrativeUnits",
        "operationId": "administrativeUnits.administrativeUnit.ListAdministrativeUnit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "deletedDateTime",
                "deletedDateTime desc",
                "displayName",
                "displayName desc",
                "description",
                "description desc",
                "visibility",
                "visibility desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime",
                "displayName",
                "description",
                "visibility"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of administrativeUnit",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.administrativeUnit"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Add new entity to administrativeUnits",
        "operationId": "administrativeUnits.administrativeUnit.CreateAdministrativeUnit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.administrativeUnit"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.administrativeUnit"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/administrativeUnits/{id}": {
      "get": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Get entity from administrativeUnits by key",
        "operationId": "administrativeUnits.administrativeUnit.GetAdministrativeUnit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "administrativeUnit"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime",
                "displayName",
                "description",
                "visibility"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.administrativeUnit"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Update entity in administrativeUnits",
        "operationId": "administrativeUnits.administrativeUnit.UpdateAdministrativeUnit",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "administrativeUnit"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.administrativeUnit"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Delete entity from administrativeUnits",
        "operationId": "administrativeUnits.administrativeUnit.DeleteAdministrativeUnit",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "administrativeUnit"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/administrativeUnits/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "administrativeUnits.Functions"
        ],
        "summary": "Invoke function delta",
        "operationId": "administrativeUnits.0-Delta",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      }
    },
    "/allowedDataLocations": {
      "get": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Get entities from allowedDataLocations",
        "operationId": "allowedDataLocations.allowedDataLocation.ListAllowedDataLocation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "appId",
                "appId desc",
                "location",
                "location desc",
                "isDefault",
                "isDefault desc",
                "domain",
                "domain desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "appId",
                "location",
                "isDefault",
                "domain"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of allowedDataLocation",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.allowedDataLocation"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Add new entity to allowedDataLocations",
        "operationId": "allowedDataLocations.allowedDataLocation.CreateAllowedDataLocation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.allowedDataLocation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.allowedDataLocation"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/allowedDataLocations/{id}": {
      "get": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Get entity from allowedDataLocations by key",
        "operationId": "allowedDataLocations.allowedDataLocation.GetAllowedDataLocation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "allowedDataLocation"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "appId",
                "location",
                "isDefault",
                "domain"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.allowedDataLocation"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Update entity in allowedDataLocations",
        "operationId": "allowedDataLocations.allowedDataLocation.UpdateAllowedDataLocation",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "allowedDataLocation"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.allowedDataLocation"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Delete entity from allowedDataLocations",
        "operationId": "allowedDataLocations.allowedDataLocation.DeleteAllowedDataLocation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "allowedDataLocation"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/appRoleAssignments": {
      "get": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Get entities from appRoleAssignments",
        "operationId": "appRoleAssignments.appRoleAssignment.ListAppRoleAssignment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "creationTimestamp",
                "creationTimestamp desc",
                "principalDisplayName",
                "principalDisplayName desc",
                "principalId",
                "principalId desc",
                "principalType",
                "principalType desc",
                "resourceDisplayName",
                "resourceDisplayName desc",
                "resourceId",
                "resourceId desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "creationTimestamp",
                "principalDisplayName",
                "principalId",
                "principalType",
                "resourceDisplayName",
                "resourceId"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of appRoleAssignment",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.appRoleAssignment"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Add new entity to appRoleAssignments",
        "operationId": "appRoleAssignments.appRoleAssignment.CreateAppRoleAssignment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.appRoleAssignment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.appRoleAssignment"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/appRoleAssignments/{id}": {
      "get": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Get entity from appRoleAssignments by key",
        "operationId": "appRoleAssignments.appRoleAssignment.GetAppRoleAssignment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "appRoleAssignment"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "creationTimestamp",
                "principalDisplayName",
                "principalId",
                "principalType",
                "resourceDisplayName",
                "resourceId"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "enum": [
                "*"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.appRoleAssignment"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Update entity in appRoleAssignments",
        "operationId": "appRoleAssignments.appRoleAssignment.UpdateAppRoleAssignment",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "appRoleAssignment"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.appRoleAssignment"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Delete entity from appRoleAssignments",
        "operationId": "appRoleAssignments.appRoleAssignment.DeleteAppRoleAssignment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "appRoleAssignment"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "contacts.orgContact"
        ],
        "summary": "Get entities from contacts",
        "operationId": "contacts.orgContact.ListOrgContact",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "deletedDateTime",
                "deletedDateTime desc",
                "businessPhones",
                "businessPhones desc",
                "city",
                "city desc",
                "companyName",
                "companyName desc",
                "country",
                "country desc",
                "department",
                "department desc",
                "displayName",
                "displayName desc",
                "givenName",
                "givenName desc",
                "jobTitle",
                "jobTitle desc",
                "mail",
                "mail desc",
                "mailNickname",
                "mailNickname desc",
                "mobilePhone",
                "mobilePhone desc",
                "onPremisesSyncEnabled",
                "onPremisesSyncEnabled desc",
                "onPremisesLastSyncDateTime",
                "onPremisesLastSyncDateTime desc",
                "onPremisesProvisioningErrors",
                "onPremisesProvisioningErrors desc",
                "officeLocation",
                "officeLocation desc",
                "postalCode",
                "postalCode desc",
                "proxyAddresses",
                "proxyAddresses desc",
                "state",
                "state desc",
                "streetAddress",
                "streetAddress desc",
                "surname",
                "surname desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime",
                "businessPhones",
                "city",
                "companyName",
                "country",
                "department",
                "displayName",
                "givenName",
                "jobTitle",
                "mail",
                "mailNickname",
                "mobilePhone",
                "onPremisesSyncEnabled",
                "onPremisesLastSyncDateTime",
                "onPremisesProvisioningErrors",
                "officeLocation",
                "postalCode",
                "proxyAddresses",
                "state",
                "streetAddress",
                "surname"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of orgContact",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.orgContact"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "contacts.orgContact"
        ],
        "summary": "Add new entity to contacts",
        "operationId": "contacts.orgContact.CreateOrgContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.orgContact"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.orgContact"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/contacts/{id}": {
      "get": {
        "tags": [
          "contacts.orgContact"
        ],
        "summary": "Get entity from contacts by key",
        "operationId": "contacts.orgContact.GetOrgContact",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "orgContact"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime",
                "businessPhones",
                "city",
                "companyName",
                "country",
                "department",
                "displayName",
                "givenName",
                "jobTitle",
                "mail",
                "mailNickname",
                "mobilePhone",
                "onPremisesSyncEnabled",
                "onPremisesLastSyncDateTime",
                "onPremisesProvisioningErrors",
                "officeLocation",
                "postalCode",
                "proxyAddresses",
                "state",
                "streetAddress",
                "surname"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.orgContact"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "contacts.orgContact"
        ],
        "summary": "Update entity in contacts",
        "operationId": "contacts.orgContact.UpdateOrgContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "orgContact"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New property values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.orgContact"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "contacts.orgContact"
        ],
        "summary": "Delete entity from contacts",
        "operationId": "contacts.orgContact.DeleteOrgContact",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "orgContact"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/contacts/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "contacts.Functions"
        ],
        "summary": "Invoke function delta",
        "operationId": "contacts.0-Delta",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "function"
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "devices.device"
        ],
        "summary": "Get entities from devices",
        "operationId": "devices.device.ListDevice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "id desc",
                "deletedDateTime",
                "deletedDateTime desc",
                "accountEnabled",
                "accountEnabled desc",
                "alternativeSecurityIds",
                "alternativeSecurityIds desc",
                "approximateLastSignInDateTime",
                "approximateLastSignInDateTime desc",
                "deviceId",
                "deviceId desc",
                "deviceMetadata",
                "deviceMetadata desc",
                "deviceVersion",
                "deviceVersion desc",
                "displayName",
                "displayName desc",
                "isCompliant",
                "isCompliant desc",
                "isManaged",
                "isManaged desc",
                "onPremisesLastSyncDateTime",
                "onPremisesLastSyncDateTime desc",
                "onPremisesSyncEnabled",
                "onPremisesSyncEnabled desc",
                "operatingSystem",
                "operatingSystem desc",
                "operatingSystemVersion",
                "operatingSystemVersion desc",
                "physicalIds",
                "physicalIds desc",
                "trustType",
                "trustType desc",
                "Name",
                "Name desc",
                "Manufacturer",
                "Manufacturer desc",
                "Model",
                "Model desc",
                "Kind",
                "Kind desc",
                "Status",
                "Status desc",
                "Platform",
                "Platform desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime",
                "accountEnabled",
                "alternativeSecurityIds",
                "approximateLastSignInDateTime",
                "deviceId",
                "deviceMetadata",
                "deviceVersion",
                "displayName",
                "isCompliant",
                "isManaged",
                "onPremisesLastSyncDateTime",
                "onPremisesSyncEnabled",
                "operatingSystem",
                "operatingSystemVersion",
                "physicalIds",
                "trustType",
                "Name",
                "Manufacturer",
                "Model",
                "Kind",
                "Status",
                "Platform"
              ],
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "String"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of device",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/microsoft.graph.device"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "devices.device"
        ],
        "summary": "Add new entity to devices",
        "operationId": "devices.device.CreateDevice",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New entity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/microsoft.graph.device"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/microsoft.graph.device"
            }
          },
          "default": {
            "$ref": "#/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices/{id}": {
      "get": {
        "tags": [
          "devices.device"
        ],
        "summary": "Get entity from devices by key",
        "operationId": "devices.device.GetDevice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "key: id",
            "required": true,
            "type": "string",
            "x-ms-docs-key-type": "device"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "deletedDateTime",
                "accountEnabled",
                "alternativeSecurityIds",
                "approximateLastSignInDateTime",
                "deviceId",
                "deviceMetadata",
                "deviceVersion",
                "displayName",
                "isCompliant",
                "isManaged",
                "onPremisesLastSyncDateTime",
                "onPremisesSyncEnabled",
                "operatingSystem",
                "operatingSystemVersion",
                "physicalIds",
                "trustType",
                "Name",
                "Manufacturer",
                "Model",
[...]
