swagger: '2.0'
info:
  title: OData Service for namespace microsoft.graph
  description: This OData service is located at https://graph.microsoft.com/beta
  version: 1.0.1
host: graph.microsoft.com
basePath: /beta
schemes:
  - https
paths:
  /contracts:
    get:
      tags:
        - contracts.contract
      summary: Get entities from contracts
      operationId: contracts.contract.ListContract
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - contractType
              - contractType desc
              - customerId
              - customerId desc
              - defaultDomainName
              - defaultDomainName desc
              - displayName
              - displayName desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - contractType
              - customerId
              - defaultDomainName
              - displayName
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of contract
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.contract'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contracts.contract
      summary: Add new entity to contracts
      operationId: contracts.contract.CreateContract
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.contract'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.contract'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/contracts/{id}':
    get:
      tags:
        - contracts.contract
      summary: Get entity from contracts by key
      operationId: contracts.contract.GetContract
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: contract
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - contractType
              - customerId
              - defaultDomainName
              - displayName
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.contract'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - contracts.contract
      summary: Update entity in contracts
      operationId: contracts.contract.UpdateContract
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: contract
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.contract'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contracts.contract
      summary: Delete entity from contracts
      operationId: contracts.contract.DeleteContract
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: contract
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /devices:
    get:
      tags:
        - devices.device
      summary: Get entities from devices
      operationId: devices.device.ListDevice
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - accountEnabled
              - accountEnabled desc
              - alternativeSecurityIds
              - alternativeSecurityIds desc
              - approximateLastSignInDateTime
              - approximateLastSignInDateTime desc
              - deviceId
              - deviceId desc
              - deviceMetadata
              - deviceMetadata desc
              - deviceVersion
              - deviceVersion desc
              - displayName
              - displayName desc
              - isCompliant
              - isCompliant desc
              - isManaged
              - isManaged desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - operatingSystem
              - operatingSystem desc
              - operatingSystemVersion
              - operatingSystemVersion desc
              - physicalIds
              - physicalIds desc
              - trustType
              - trustType desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - accountEnabled
              - alternativeSecurityIds
              - approximateLastSignInDateTime
              - deviceId
              - deviceMetadata
              - deviceVersion
              - displayName
              - isCompliant
              - isManaged
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - operatingSystem
              - operatingSystemVersion
              - physicalIds
              - trustType
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - extensions
              - registeredOwners
              - registeredUsers
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of device
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.device
      summary: Add new entity to devices
      operationId: devices.device.CreateDevice
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.device'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{id}':
    get:
      tags:
        - devices.device
      summary: Get entity from devices by key
      operationId: devices.device.GetDevice
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: device
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - accountEnabled
              - alternativeSecurityIds
              - approximateLastSignInDateTime
              - deviceId
              - deviceMetadata
              - deviceVersion
              - displayName
              - isCompliant
              - isManaged
              - onPremisesLastSyncDateTime
              - onPremisesSyncEnabled
              - operatingSystem
              - operatingSystemVersion
              - physicalIds
              - trustType
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - extensions
              - registeredOwners
              - registeredUsers
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.device'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.device
      summary: Update entity in devices
      operationId: devices.device.UpdateDevice
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: device
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.device'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.device
      summary: Delete entity from devices
      operationId: devices.device.DeleteDevice
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: device
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /directoryObjects:
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entities from directoryObjects
      operationId: directoryObjects.directoryObject.ListDirectoryObject
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of directoryObject
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.directoryObject'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directoryObjects.directoryObject
      summary: Add new entity to directoryObjects
      operationId: directoryObjects.directoryObject.CreateDirectoryObject
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryObjects/{id}':
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entity from directoryObjects by key
      operationId: directoryObjects.directoryObject.GetDirectoryObject
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directoryObjects.directoryObject
      summary: Update entity in directoryObjects
      operationId: directoryObjects.directoryObject.UpdateDirectoryObject
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.directoryObject'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directoryObjects.directoryObject
      summary: Delete entity from directoryObjects
      operationId: directoryObjects.directoryObject.DeleteDirectoryObject
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /directoryObjects/microsoft.graph.group/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.Functions
      summary: Invoke function delta
      operationId: directoryObjects.0-Delta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: function
    x-ms-docs-grouped-path:
      - /directoryObjects/microsoft.graph.user/microsoft.graph.delta()
  /directoryObjects/microsoft.graph.user/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.Functions
      summary: Invoke function delta
      operationId: directoryObjects.1-Delta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: function
    x-ms-docs-grouped-path:
      - /directoryObjects/microsoft.graph.group/microsoft.graph.delta()
  /directoryObjects/microsoft.graph.getByIds:
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getByIds
      operationId: directoryObjects.0-GetByIds
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              ids:
                type: array
                items:
                  type: string
              types:
                type: array
                items:
                  type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.reminderView(endDateTime={endDateTime},startDateTime={startDateTime})':
    get:
      tags:
        - directoryObjects.Functions
      summary: Invoke function reminderView
      operationId: directoryObjects.0-ReminderView
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: path
          name: endDateTime
          required: true
          type: string
        - in: path
          name: startDateTime
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: function
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.assignLicense':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action assignLicense
      operationId: directoryObjects.0-AssignLicense
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              addLicenses:
                type: array
                items: { }
              removeLicenses:
                type: array
                items:
                  format: uuid
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findMeetingTimes':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action findMeetingTimes
      operationId: directoryObjects.0-FindMeetingTimes
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              attendees:
                type: array
                items: { }
              locationConstraint: { }
              timeConstraint: { }
              meetingDuration:
                format: duration
                pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
                type: string
              returnSuggestionReasons:
                default: false
                type: boolean
              minimumAttendeePercentage:
                format: double
              isOrganizerOptional:
                default: false
                type: boolean
              maxCandidates:
                format: int32
                maximum: 2147483647
                minimum: -2147483648
                type: integer
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.sendMail':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action sendMail
      operationId: directoryObjects.0-SendMail
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              message: { }
              saveToSentItems:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action checkMemberGroups
      operationId: directoryObjects.0-CheckMemberGroups
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              groupIds:
                type: array
                items:
                  type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getMemberGroups
      operationId: directoryObjects.0-GetMemberGroups
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              securityEnabledOnly:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getMemberObjects
      operationId: directoryObjects.0-GetMemberObjects
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
        - in: body
          name: body
          description: Action parameters
          required: true
          schema:
            type: object
            properties:
              securityEnabledOnly:
                default: false
                type: boolean
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.addFavorite':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action addFavorite
      operationId: directoryObjects.0-AddFavorite
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.removeFavorite':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action removeFavorite
      operationId: directoryObjects.0-RemoveFavorite
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.renew':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action renew
      operationId: directoryObjects.0-Renew
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.resetUnseenCount':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action resetUnseenCount
      operationId: directoryObjects.0-ResetUnseenCount
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.subscribeByMail':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action subscribeByMail
      operationId: directoryObjects.0-SubscribeByMail
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.unsubscribeByMail':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action unsubscribeByMail
      operationId: directoryObjects.0-UnsubscribeByMail
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{id}/microsoft.graph.restore':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action restore
      operationId: directoryObjects.0-Restore
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryObject
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  /directoryRoles:
    get:
      tags:
        - directoryRoles.directoryRole
      summary: Get entities from directoryRoles
      operationId: directoryRoles.directoryRole.ListDirectoryRole
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - description
              - description desc
              - displayName
              - displayName desc
              - roleTemplateId
              - roleTemplateId desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
              - roleTemplateId
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - members
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of directoryRole
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.directoryRole'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directoryRoles.directoryRole
      summary: Add new entity to directoryRoles
      operationId: directoryRoles.directoryRole.CreateDirectoryRole
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRole'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRole'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoles/{id}':
    get:
      tags:
        - directoryRoles.directoryRole
      summary: Get entity from directoryRoles by key
      operationId: directoryRoles.directoryRole.GetDirectoryRole
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryRole
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
              - roleTemplateId
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - members
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRole'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directoryRoles.directoryRole
      summary: Update entity in directoryRoles
      operationId: directoryRoles.directoryRole.UpdateDirectoryRole
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryRole
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRole'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directoryRoles.directoryRole
      summary: Delete entity from directoryRoles
      operationId: directoryRoles.directoryRole.DeleteDirectoryRole
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryRole
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /directoryRoleTemplates:
    get:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Get entities from directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate.ListDirectoryRoleTemplate
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - description
              - description desc
              - displayName
              - displayName desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of directoryRoleTemplate
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Add new entity to directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate.CreateDirectoryRoleTemplate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoleTemplates/{id}':
    get:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Get entity from directoryRoleTemplates by key
      operationId: directoryRoleTemplates.directoryRoleTemplate.GetDirectoryRoleTemplate
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryRoleTemplate
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Update entity in directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate.UpdateDirectoryRoleTemplate
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryRoleTemplate
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.directoryRoleTemplate'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Delete entity from directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate.DeleteDirectoryRoleTemplate
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: directoryRoleTemplate
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /domains:
    get:
      tags:
        - domains.domain
      summary: Get entities from domains
      operationId: domains.domain.ListDomain
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - authenticationType
              - authenticationType desc
              - availabilityStatus
              - availabilityStatus desc
              - isAdminManaged
              - isAdminManaged desc
              - isDefault
              - isDefault desc
              - isInitial
              - isInitial desc
              - isRoot
              - isRoot desc
              - isVerified
              - isVerified desc
              - state
              - state desc
              - supportedServices
              - supportedServices desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - authenticationType
              - availabilityStatus
              - isAdminManaged
              - isDefault
              - isInitial
              - isRoot
              - isVerified
              - state
              - supportedServices
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - domainNameReferences
              - serviceConfigurationRecords
              - verificationDnsRecords
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of domain
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - domains.domain
      summary: Add new entity to domains
      operationId: domains.domain.CreateDomain
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/domains/{id}':
    get:
      tags:
        - domains.domain
      summary: Get entity from domains by key
      operationId: domains.domain.GetDomain
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: domain
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - authenticationType
              - availabilityStatus
              - isAdminManaged
              - isDefault
              - isInitial
              - isRoot
              - isVerified
              - state
              - supportedServices
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - domainNameReferences
              - serviceConfigurationRecords
              - verificationDnsRecords
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - domains.domain
      summary: Update entity in domains
      operationId: domains.domain.UpdateDomain
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: domain
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.domain'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - domains.domain
      summary: Delete entity from domains
      operationId: domains.domain.DeleteDomain
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: domain
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/domains/{id}/microsoft.graph.verify':
    post:
      tags:
        - domains.Actions
      summary: Invoke action verify
      operationId: domains.0-Verify
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: domain
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  /drives:
    get:
      tags:
        - drives.drive
      summary: Get entities from drives
      operationId: drives.drive.ListDrive
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - createdBy
              - createdBy desc
              - createdDateTime
              - createdDateTime desc
              - description
              - description desc
              - eTag
              - eTag desc
              - lastModifiedBy
              - lastModifiedBy desc
              - lastModifiedDateTime
              - lastModifiedDateTime desc
              - name
              - name desc
              - parentReference
              - parentReference desc
              - webUrl
              - webUrl desc
              - driveType
              - driveType desc
              - owner
              - owner desc
              - quota
              - quota desc
              - sharepointIds
              - sharepointIds desc
              - system
              - system desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - driveType
              - owner
              - quota
              - sharepointIds
              - system
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - items
              - root
              - special
              - list
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of drive
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.drive'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - drives.drive
      summary: Add new entity to drives
      operationId: drives.drive.CreateDrive
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.drive'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.drive'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{id}':
    get:
      tags:
        - drives.drive
      summary: Get entity from drives by key
      operationId: drives.drive.GetDrive
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: drive
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - driveType
              - owner
              - quota
              - sharepointIds
              - system
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - items
              - root
              - special
              - list
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.drive'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - drives.drive
      summary: Update entity in drives
      operationId: drives.drive.UpdateDrive
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: drive
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.drive'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - drives.drive
      summary: Delete entity from drives
      operationId: drives.drive.DeleteDrive
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: drive
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{id}/microsoft.graph.recent()':
    get:
      tags:
        - drives.Functions
      summary: Invoke function recent
      operationId: drives.0-Recent
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: drive
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: function
  '/drives/{id}/microsoft.graph.search(q={q})':
    get:
      tags:
        - drives.Functions
      summary: Invoke function search
      operationId: drives.0-Search
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: drive
        - in: path
          name: q
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: function
  '/drives/{id}/microsoft.graph.sharedWithMe()':
    get:
      tags:
        - drives.Functions
      summary: Invoke function sharedWithMe
      operationId: drives.0-SharedWithMe
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: drive
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: function
  /groupLifecyclePolicies:
    get:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Get entities from groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy.ListGroupLifecyclePolicy
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - alternateNotificationEmails
              - alternateNotificationEmails desc
              - groupLifetimeInDays
              - groupLifetimeInDays desc
              - managedGroupTypes
              - managedGroupTypes desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - alternateNotificationEmails
              - groupLifetimeInDays
              - managedGroupTypes
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of groupLifecyclePolicy
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Add new entity to groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy.CreateGroupLifecyclePolicy
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.groupLifecyclePolicy'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/groupLifecyclePolicies/{id}':
    get:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Get entity from groupLifecyclePolicies by key
      operationId: groupLifecyclePolicies.groupLifecyclePolicy.GetGroupLifecyclePolicy
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: groupLifecyclePolicy
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - alternateNotificationEmails
              - groupLifetimeInDays
              - managedGroupTypes
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Update entity in groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy.UpdateGroupLifecyclePolicy
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: groupLifecyclePolicy
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.groupLifecyclePolicy'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Delete entity from groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy.DeleteGroupLifecyclePolicy
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: groupLifecyclePolicy
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /groups:
    get:
      tags:
        - groups.group
      summary: Get entities from groups
      operationId: groups.group.ListGroup
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - allowExternalSenders
              - allowExternalSenders desc
              - autoSubscribeNewMembers
              - autoSubscribeNewMembers desc
              - classification
              - classification desc
              - createdDateTime
              - createdDateTime desc
              - description
              - description desc
              - displayName
              - displayName desc
              - groupTypes
              - groupTypes desc
              - isSubscribedByMail
              - isSubscribedByMail desc
              - mail
              - mail desc
              - mailEnabled
              - mailEnabled desc
              - mailNickname
              - mailNickname desc
              - onPremisesLastSyncDateTime
              - onPremisesLastSyncDateTime desc
              - onPremisesSecurityIdentifier
              - onPremisesSecurityIdentifier desc
              - onPremisesSyncEnabled
              - onPremisesSyncEnabled desc
              - proxyAddresses
              - proxyAddresses desc
              - renewedDateTime
              - renewedDateTime desc
              - securityEnabled
              - securityEnabled desc
              - unseenCount
              - unseenCount desc
              - visibility
              - visibility desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - allowExternalSenders
              - autoSubscribeNewMembers
              - classification
              - createdDateTime
              - description
              - displayName
              - groupTypes
              - isSubscribedByMail
              - mail
              - mailEnabled
              - mailNickname
              - onPremisesLastSyncDateTime
              - onPremisesSecurityIdentifier
              - onPremisesSyncEnabled
              - proxyAddresses
              - renewedDateTime
              - securityEnabled
              - unseenCount
              - visibility
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - acceptedSenders
              - calendar
              - calendarView
              - conversations
              - createdOnBehalfOf
              - drive
              - events
              - memberOf
              - members
              - owners
              - photo
              - rejectedSenders
              - sites
              - threads
              - drives
              - extensions
              - groupLifecyclePolicies
              - onenote
              - photos
              - planner
              - settings
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of group
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.group'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.group
      summary: Add new entity to groups
      operationId: groups.group.CreateGroup
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.group'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.group'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{id}':
    get:
      tags:
        - groups.group
      summary: Get entity from groups by key
      operationId: groups.group.GetGroup
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: group
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - allowExternalSenders
              - autoSubscribeNewMembers
              - classification
              - createdDateTime
              - description
              - displayName
              - groupTypes
              - isSubscribedByMail
              - mail
              - mailEnabled
              - mailNickname
              - onPremisesLastSyncDateTime
              - onPremisesSecurityIdentifier
              - onPremisesSyncEnabled
              - proxyAddresses
              - renewedDateTime
              - securityEnabled
              - unseenCount
              - visibility
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - acceptedSenders
              - calendar
              - calendarView
              - conversations
              - createdOnBehalfOf
              - drive
              - events
              - memberOf
              - members
              - owners
              - photo
              - rejectedSenders
              - sites
              - threads
              - drives
              - extensions
              - groupLifecyclePolicies
              - onenote
              - photos
              - planner
              - settings
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.group'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.group
      summary: Update entity in groups
      operationId: groups.group.UpdateGroup
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: group
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.group'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.group
      summary: Delete entity from groups
      operationId: groups.group.DeleteGroup
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: group
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /groups/microsoft.graph.delta():
    get:
      tags:
        - groups.Functions
      summary: Invoke function delta
      operationId: groups.0-Delta
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items: { }
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: function
  '/groups/{id}/microsoft.graph.addFavorite':
    post:
      tags:
        - groups.Actions
      summary: Invoke action addFavorite
      operationId: groups.0-AddFavorite
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: group
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{id}/microsoft.graph.removeFavorite':
    post:
      tags:
        - groups.Actions
      summary: Invoke action removeFavorite
      operationId: groups.0-RemoveFavorite
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: group
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{id}/microsoft.graph.renew':
    post:
      tags:
        - groups.Actions
      summary: Invoke action renew
      operationId: groups.0-Renew
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: group
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{id}/microsoft.graph.resetUnseenCount':
    post:
      tags:
        - groups.Actions
      summary: Invoke action resetUnseenCount
      operationId: groups.0-ResetUnseenCount
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: group
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{id}/microsoft.graph.subscribeByMail':
    post:
      tags:
        - groups.Actions
      summary: Invoke action subscribeByMail
      operationId: groups.0-SubscribeByMail
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: group
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{id}/microsoft.graph.unsubscribeByMail':
    post:
      tags:
        - groups.Actions
      summary: Invoke action unsubscribeByMail
      operationId: groups.0-UnsubscribeByMail
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: group
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: action
  /groupSettings:
    get:
      tags:
        - groupSettings.groupSetting
      summary: Get entities from groupSettings
      operationId: groupSettings.groupSetting.ListGroupSetting
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - displayName
              - displayName desc
              - templateId
              - templateId desc
              - values
              - values desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - displayName
              - templateId
              - values
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of groupSetting
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.groupSetting'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groupSettings.groupSetting
      summary: Add new entity to groupSettings
      operationId: groupSettings.groupSetting.CreateGroupSetting
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.groupSetting'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSetting'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/groupSettings/{id}':
    get:
      tags:
        - groupSettings.groupSetting
      summary: Get entity from groupSettings by key
      operationId: groupSettings.groupSetting.GetGroupSetting
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: groupSetting
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - displayName
              - templateId
              - values
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSetting'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groupSettings.groupSetting
      summary: Update entity in groupSettings
      operationId: groupSettings.groupSetting.UpdateGroupSetting
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: groupSetting
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.groupSetting'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groupSettings.groupSetting
      summary: Delete entity from groupSettings
      operationId: groupSettings.groupSetting.DeleteGroupSetting
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: groupSetting
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /groupSettingTemplates:
    get:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Get entities from groupSettingTemplates
      operationId: groupSettingTemplates.groupSettingTemplate.ListGroupSettingTemplate
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - description
              - description desc
              - displayName
              - displayName desc
              - values
              - values desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
              - values
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of groupSettingTemplate
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Add new entity to groupSettingTemplates
      operationId: groupSettingTemplates.groupSettingTemplate.CreateGroupSettingTemplate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/groupSettingTemplates/{id}':
    get:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Get entity from groupSettingTemplates by key
      operationId: groupSettingTemplates.groupSettingTemplate.GetGroupSettingTemplate
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: groupSettingTemplate
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - displayName
              - values
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Update entity in groupSettingTemplates
      operationId: groupSettingTemplates.groupSettingTemplate.UpdateGroupSettingTemplate
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: groupSettingTemplate
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.groupSettingTemplate'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Delete entity from groupSettingTemplates
      operationId: groupSettingTemplates.groupSettingTemplate.DeleteGroupSettingTemplate
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: groupSettingTemplate
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /schemaExtensions:
    get:
      tags:
        - schemaExtensions.schemaExtension
      summary: Get entities from schemaExtensions
      operationId: schemaExtensions.schemaExtension.ListSchemaExtension
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - description
              - description desc
              - owner
              - owner desc
              - properties
              - properties desc
              - status
              - status desc
              - targetTypes
              - targetTypes desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - owner
              - properties
              - status
              - targetTypes
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of schemaExtension
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.schemaExtension'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - schemaExtensions.schemaExtension
      summary: Add new entity to schemaExtensions
      operationId: schemaExtensions.schemaExtension.CreateSchemaExtension
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/schemaExtensions/{id}':
    get:
      tags:
        - schemaExtensions.schemaExtension
      summary: Get entity from schemaExtensions by key
      operationId: schemaExtensions.schemaExtension.GetSchemaExtension
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: schemaExtension
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - description
              - owner
              - properties
              - status
              - targetTypes
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - schemaExtensions.schemaExtension
      summary: Update entity in schemaExtensions
      operationId: schemaExtensions.schemaExtension.UpdateSchemaExtension
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: schemaExtension
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.schemaExtension'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - schemaExtensions.schemaExtension
      summary: Delete entity from schemaExtensions
      operationId: schemaExtensions.schemaExtension.DeleteSchemaExtension
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: schemaExtension
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /shares:
    get:
      tags:
        - shares.sharedDriveItem
      summary: Get entities from shares
      operationId: shares.sharedDriveItem.ListSharedDriveItem
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - createdBy
              - createdBy desc
              - createdDateTime
              - createdDateTime desc
              - description
              - description desc
              - eTag
              - eTag desc
              - lastModifiedBy
              - lastModifiedBy desc
              - lastModifiedDateTime
              - lastModifiedDateTime desc
              - name
              - name desc
              - parentReference
              - parentReference desc
              - webUrl
              - webUrl desc
              - owner
              - owner desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - owner
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - driveItem
              - items
              - list
              - listItem
              - root
              - site
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of sharedDriveItem
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.sharedDriveItem'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - shares.sharedDriveItem
      summary: Add new entity to shares
      operationId: shares.sharedDriveItem.CreateSharedDriveItem
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.sharedDriveItem'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.sharedDriveItem'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{id}':
    get:
      tags:
        - shares.sharedDriveItem
      summary: Get entity from shares by key
      operationId: shares.sharedDriveItem.GetSharedDriveItem
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: sharedDriveItem
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - owner
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - driveItem
              - items
              - list
              - listItem
              - root
              - site
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.sharedDriveItem'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - shares.sharedDriveItem
      summary: Update entity in shares
      operationId: shares.sharedDriveItem.UpdateSharedDriveItem
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: sharedDriveItem
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.sharedDriveItem'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - shares.sharedDriveItem
      summary: Delete entity from shares
      operationId: shares.sharedDriveItem.DeleteSharedDriveItem
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: sharedDriveItem
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /sites:
    get:
      tags:
        - sites.site
      summary: Get entities from sites
      operationId: sites.site.ListSite
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - createdBy
              - createdBy desc
              - createdDateTime
              - createdDateTime desc
              - description
              - description desc
              - eTag
              - eTag desc
              - lastModifiedBy
              - lastModifiedBy desc
              - lastModifiedDateTime
              - lastModifiedDateTime desc
              - name
              - name desc
              - parentReference
              - parentReference desc
              - webUrl
              - webUrl desc
              - root
              - root desc
              - sharepointIds
              - sharepointIds desc
              - siteCollection
              - siteCollection desc
              - displayName
              - displayName desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - root
              - sharepointIds
              - siteCollection
              - displayName
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - contentTypes
              - drive
              - drives
              - items
              - lists
              - sites
              - columns
              - onenote
            type: string
      responses:
        '200':
          description: Retrieved entities
          schema:
            title: Collection of site
            type: object
            properties:
              value:
                type: array
                items:
                  $ref: '#/definitions/microsoft.graph.site'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - sites.site
      summary: Add new entity to sites
      operationId: sites.site.CreateSite
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: New entity
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.site'
      responses:
        '201':
          description: Created entity
          schema:
            $ref: '#/definitions/microsoft.graph.site'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{id}':
    get:
      tags:
        - sites.site
      summary: Get entity from sites by key
      operationId: sites.site.GetSite
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: site
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - createdBy
              - createdDateTime
              - description
              - eTag
              - lastModifiedBy
              - lastModifiedDateTime
              - name
              - parentReference
              - webUrl
              - root
              - sharepointIds
              - siteCollection
              - displayName
            type: string
        - in: query
          name: $expand
          description: Expand related entities
          type: array
          items:
            enum:
              - '*'
              - createdByUser
              - lastModifiedByUser
              - contentTypes
              - drive
              - drives
              - items
              - lists
              - sites
              - columns
              - onenote
            type: string
      responses:
        '200':
          description: Retrieved entity
          schema:
            $ref: '#/definitions/microsoft.graph.site'
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.site
      summary: Update entity in sites
      operationId: sites.site.UpdateSite
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: site
        - in: body
          name: body
          description: New property values
          required: true
          schema:
            $ref: '#/definitions/microsoft.graph.site'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.site
      summary: Delete entity from sites
      operationId: sites.site.DeleteSite
      parameters:
        - in: path
          name: id
          description: 'key: id'
          required: true
          type: string
          x-ms-docs-key-type: site
        - in: header
          name: If-Match
          description: ETag
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/responses/error'
      x-ms-docs-operation-type: operation
  /subscribedSkus:
    get:
      tags:
        - subscribedSkus.subscribedSku
      summary: Get entities from subscribedSkus
      operationId: subscribedSkus.subscribedSku.ListSubscribedSku
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/top'
        - $ref: '#/parameters/skip'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/count'
        - in: query
          name: $orderby
          description: Order items by property values
          type: array
          items:
            enum:
              - id
              - id desc
              - appliesTo
              - appliesTo desc
              - capabilityStatus
              - capabilityStatus desc
              - consumedUnits
              - consumedUnits desc
              - prepaidUnits
              - prepaidUnits desc
              - servicePlans
              - servicePlans desc
              - skuId
              - skuId desc
              - skuPartNumber
              - skuPartNumber desc
            type: string
        - in: query
          name: $select
          description: Select properties to be returned
          type: array
          items:
            enum:
              - id
              - appliesTo
              - capabilityStatus
              - consumedUnits
              - prepaidUnits
              - servicePlans
              - skuId
              - skuPartNumber
            type: string
        - in: query
          name: $expand
[...]
