{
  "openapi": "3.0.1",
  "info": {
    "title": "OData Service for namespace microsoft.graph",
    "description": "This OData service is located at https://graph.microsoft.com/beta",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/beta"
    }
  ],
  "paths": {
    "/schemaExtensions": {
      "get": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Get entities from schemaExtensions",
        "operationId": "schemaExtensions.schemaExtension.ListSchemaExtension",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "description",
                  "description desc",
                  "targetTypes",
                  "targetTypes desc",
                  "properties",
                  "properties desc",
                  "status",
                  "status desc",
                  "owner",
                  "owner desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "description",
                  "targetTypes",
                  "properties",
                  "status",
                  "owner"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of schemaExtension",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.schemaExtension"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Add new entity to schemaExtensions",
        "operationId": "schemaExtensions.schemaExtension.CreateSchemaExtension",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.schemaExtension"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.schemaExtension"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/schemaExtensions/{id}": {
      "get": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Get entity from schemaExtensions by key",
        "operationId": "schemaExtensions.schemaExtension.GetSchemaExtension",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "description",
                  "targetTypes",
                  "properties",
                  "status",
                  "owner"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.schemaExtension"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Update entity in schemaExtensions",
        "operationId": "schemaExtensions.schemaExtension.UpdateSchemaExtension",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.schemaExtension"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "schemaExtensions.schemaExtension"
        ],
        "summary": "Delete entity from schemaExtensions",
        "operationId": "schemaExtensions.schemaExtension.DeleteSchemaExtension",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects": {
      "get": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Get entities from directoryObjects",
        "operationId": "directoryObjects.directoryObject.ListDirectoryObject",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "deletedDateTime",
                  "deletedDateTime desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "deletedDateTime"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "String",
            "schema": { }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of directoryObject",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Add new entity to directoryObjects",
        "operationId": "directoryObjects.directoryObject.CreateDirectoryObject",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryObject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}": {
      "get": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Get entity from directoryObjects by key",
        "operationId": "directoryObjects.directoryObject.GetDirectoryObject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "deletedDateTime"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Update entity in directoryObjects",
        "operationId": "directoryObjects.directoryObject.UpdateDirectoryObject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryObject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Delete entity from directoryObjects",
        "operationId": "directoryObjects.directoryObject.DeleteDirectoryObject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/microsoft.graph.user/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "directoryObjects.delta"
        ],
        "summary": "Invoke function delta",
        "operationId": "directoryObjects.0-Delta",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.user"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "x-ms-additionalPath": [
        "/directoryObjects/microsoft.graph.group/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta()"
      ]
    },
    "/directoryObjects/microsoft.graph.group/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "directoryObjects.delta"
        ],
        "summary": "Invoke function delta",
        "operationId": "directoryObjects.1-Delta",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.group"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "x-ms-additionalPath": [
        "/directoryObjects/microsoft.graph.user/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta()"
      ]
    },
    "/directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "directoryObjects.delta"
        ],
        "summary": "Invoke function delta",
        "operationId": "directoryObjects.2-Delta",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.administrativeUnit"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "x-ms-additionalPath": [
        "/directoryObjects/microsoft.graph.user/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.group/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta()"
      ]
    },
    "/directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "directoryObjects.delta"
        ],
        "summary": "Invoke function delta",
        "operationId": "directoryObjects.3-Delta",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.orgContact"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "x-ms-additionalPath": [
        "/directoryObjects/microsoft.graph.user/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.group/microsoft.graph.delta()",
        "/directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta()"
      ]
    },
    "/directoryObjects/microsoft.graph.getByIds": {
      "post": {
        "tags": [
          "directoryObjects.getByIds"
        ],
        "summary": "Invoke action getByIds",
        "operationId": "directoryObjects.0-GetByIds",
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/microsoft.graph.validateProperties": {
      "post": {
        "tags": [
          "directoryObjects.validateProperties"
        ],
        "summary": "Invoke action validateProperties",
        "operationId": "directoryObjects.0-ValidateProperties",
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entityType": {
                    "type": "string",
                    "nullable": true
                  },
                  "displayName": {
                    "type": "string",
                    "nullable": true
                  },
                  "mailNickname": {
                    "type": "string",
                    "nullable": true
                  },
                  "onBehalfOfUserId": {
                    "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "x-ms-additionalPath": [
        "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.validateProperties"
      ]
    },
    "/directoryObjects/{id}/microsoft.graph.checkMemberGroups": {
      "post": {
        "tags": [
          "directoryObjects.checkMemberGroups"
        ],
        "summary": "Invoke action checkMemberGroups",
        "operationId": "directoryObjects.0-CheckMemberGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.getMemberGroups": {
      "post": {
        "tags": [
          "directoryObjects.getMemberGroups"
        ],
        "summary": "Invoke action getMemberGroups",
        "operationId": "directoryObjects.0-GetMemberGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "securityEnabledOnly": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.getMemberObjects": {
      "post": {
        "tags": [
          "directoryObjects.getMemberObjects"
        ],
        "summary": "Invoke action getMemberObjects",
        "operationId": "directoryObjects.0-GetMemberObjects",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "securityEnabledOnly": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.validateProperties": {
      "post": {
        "tags": [
          "directoryObjects.validateProperties"
        ],
        "summary": "Invoke action validateProperties",
        "operationId": "directoryObjects.1-ValidateProperties",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "nullable": true
                  },
                  "mailNickname": {
                    "type": "string",
                    "nullable": true
                  },
                  "onBehalfOfUserId": {
                    "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "x-ms-additionalPath": [
        "/directoryObjects/microsoft.graph.validateProperties"
      ]
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.renew": {
      "post": {
        "tags": [
          "directoryObjects.renew"
        ],
        "summary": "Invoke action renew",
        "operationId": "directoryObjects.0-Renew",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.restore": {
      "post": {
        "tags": [
          "directoryObjects.restore"
        ],
        "summary": "Invoke action restore",
        "operationId": "directoryObjects.0-Restore",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.assignLicense": {
      "post": {
        "tags": [
          "directoryObjects.assignLicense"
        ],
        "summary": "Invoke action assignLicense",
        "operationId": "directoryObjects.0-AssignLicense",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addLicenses": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/microsoft.graph.assignedLicense"
                    }
                  },
                  "removeLicenses": {
                    "type": "array",
                    "items": {
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.changePassword": {
      "post": {
        "tags": [
          "directoryObjects.changePassword"
        ],
        "summary": "Invoke action changePassword",
        "operationId": "directoryObjects.0-ChangePassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "nullable": true
                  },
                  "newPassword": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.invalidateAllRefreshTokens": {
      "post": {
        "tags": [
          "directoryObjects.invalidateAllRefreshTokens"
        ],
        "summary": "Invoke action invalidateAllRefreshTokens",
        "operationId": "directoryObjects.0-InvalidateAllRefreshTokens",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.sendMail": {
      "post": {
        "tags": [
          "directoryObjects.sendMail"
        ],
        "summary": "Invoke action sendMail",
        "operationId": "directoryObjects.0-SendMail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Message": {
                    "$ref": "#/components/schemas/microsoft.graph.message"
                  },
                  "SaveToSentItems": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findMeetingTimesOLD": {
      "post": {
        "tags": [
          "directoryObjects.findMeetingTimesOLD"
        ],
        "summary": "Invoke action findMeetingTimesOLD",
        "operationId": "directoryObjects.0-FindMeetingTimesOLD",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Attendees": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/microsoft.graph.attendeeBase"
                        }
                      ],
                      "nullable": true
                    }
                  },
                  "LocationConstraint": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.locationConstraint"
                      }
                    ],
                    "nullable": true
                  },
                  "TimeConstraint": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.timeConstraint"
                      }
                    ],
                    "nullable": true
                  },
                  "MeetingDuration": {
                    "pattern": "^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$",
                    "type": "string",
                    "format": "duration",
                    "nullable": true
                  },
                  "MaxCandidates": {
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "type": "integer",
                    "format": "int32",
                    "nullable": true
                  },
                  "IsOrganizerOptional": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  },
                  "ReturnSuggestionHints": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findMeetingTimes": {
      "post": {
        "tags": [
          "directoryObjects.findMeetingTimes"
        ],
        "summary": "Invoke action findMeetingTimes",
        "operationId": "directoryObjects.0-FindMeetingTimes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Attendees": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/microsoft.graph.attendeeBase"
                        }
                      ],
                      "nullable": true
                    }
                  },
                  "LocationConstraint": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.locationConstraint"
                      }
                    ],
                    "nullable": true
                  },
                  "TimeConstraint": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.timeConstraint"
                      }
                    ],
                    "nullable": true
                  },
                  "MeetingDuration": {
                    "pattern": "^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$",
                    "type": "string",
                    "format": "duration",
                    "nullable": true
                  },
                  "MaxCandidates": {
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "type": "integer",
                    "format": "int32",
                    "nullable": true
                  },
                  "IsOrganizerOptional": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  },
                  "ReturnSuggestionReasons": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  },
                  "MinimumAttendeePercentage": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "enum": [
                          "-INF",
                          "INF",
                          "NaN"
                        ]
                      }
                    ],
                    "format": "double",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.getMailTips": {
      "post": {
        "tags": [
          "directoryObjects.getMailTips"
        ],
        "summary": "Invoke action getMailTips",
        "operationId": "directoryObjects.0-GetMailTips",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "EmailAddresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "MailTipsOptions": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.mailTipsType"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.reminderView(StartDateTime={StartDateTime},EndDateTime={EndDateTime})": {
      "get": {
        "tags": [
          "directoryObjects.reminderView"
        ],
        "summary": "Invoke function reminderView",
        "operationId": "directoryObjects.0-ReminderView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDateTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EndDateTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/microsoft.graph.reminder"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRoomLists()": {
      "get": {
        "tags": [
          "directoryObjects.findRoomLists"
        ],
        "summary": "Invoke function findRoomLists",
        "operationId": "directoryObjects.0-FindRoomLists",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/microsoft.graph.emailAddress"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms(RoomList={RoomList})": {
      "get": {
        "tags": [
          "directoryObjects.findRooms"
        ],
        "summary": "Invoke function findRooms",
        "operationId": "directoryObjects.0-FindRooms",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RoomList",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/microsoft.graph.emailAddress"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "x-ms-additionalPath": [
        "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms()"
      ]
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms()": {
      "get": {
        "tags": [
          "directoryObjects.findRooms"
        ],
        "summary": "Invoke function findRooms",
        "operationId": "directoryObjects.1-FindRooms",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/microsoft.graph.emailAddress"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "x-ms-additionalPath": [
        "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms(RoomList={RoomList})"
      ]
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.subscribeByMail": {
      "post": {
        "tags": [
          "directoryObjects.subscribeByMail"
        ],
        "summary": "Invoke action subscribeByMail",
        "operationId": "directoryObjects.0-SubscribeByMail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.unsubscribeByMail": {
      "post": {
        "tags": [
          "directoryObjects.unsubscribeByMail"
        ],
        "summary": "Invoke action unsubscribeByMail",
        "operationId": "directoryObjects.0-UnsubscribeByMail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.addFavorite": {
      "post": {
        "tags": [
          "directoryObjects.addFavorite"
        ],
        "summary": "Invoke action addFavorite",
        "operationId": "directoryObjects.0-AddFavorite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.removeFavorite": {
      "post": {
        "tags": [
          "directoryObjects.removeFavorite"
        ],
        "summary": "Invoke action removeFavorite",
        "operationId": "directoryObjects.0-RemoveFavorite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.resetUnseenCount": {
      "post": {
        "tags": [
          "directoryObjects.resetUnseenCount"
        ],
        "summary": "Invoke action resetUnseenCount",
        "operationId": "directoryObjects.0-ResetUnseenCount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.removeAllDevicesFromManagement": {
      "post": {
        "tags": [
          "directoryObjects.removeAllDevicesFromManagement"
        ],
        "summary": "Invoke action removeAllDevicesFromManagement",
        "operationId": "directoryObjects.0-RemoveAllDevicesFromManagement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.setMobileDeviceManagementAuthority": {
      "post": {
        "tags": [
          "directoryObjects.setMobileDeviceManagementAuthority"
        ],
        "summary": "Invoke action setMobileDeviceManagementAuthority",
        "operationId": "directoryObjects.0-SetMobileDeviceManagementAuthority",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.getEncryptionPublicKey()": {
      "get": {
        "tags": [
          "directoryObjects.getEncryptionPublicKey"
        ],
        "summary": "Invoke function getEncryptionPublicKey",
        "operationId": "directoryObjects.0-GetEncryptionPublicKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.uploadDepToken": {
      "post": {
        "tags": [
          "directoryObjects.uploadDepToken"
        ],
        "summary": "Invoke action uploadDepToken",
        "operationId": "directoryObjects.0-UploadDepToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appleId": {
                    "type": "string",
                    "nullable": true
                  },
                  "depToken": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.syncWithAppleDeviceEnrollmentProgram": {
      "post": {
        "tags": [
          "directoryObjects.syncWithAppleDeviceEnrollmentProgram"
        ],
        "summary": "Invoke action syncWithAppleDeviceEnrollmentProgram",
        "operationId": "directoryObjects.0-SyncWithAppleDeviceEnrollmentProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.getManagedAppDiagnosticStatuses()": {
      "get": {
        "tags": [
          "directoryObjects.getManagedAppDiagnosticStatuses"
        ],
        "summary": "Invoke function getManagedAppDiagnosticStatuses",
        "operationId": "directoryObjects.0-GetManagedAppDiagnosticStatuses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.managedAppDiagnosticStatus"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.getManagedAppPolicies()": {
      "get": {
        "tags": [
          "directoryObjects.getManagedAppPolicies"
        ],
        "summary": "Invoke function getManagedAppPolicies",
        "operationId": "directoryObjects.0-GetManagedAppPolicies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.managedAppPolicy"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.wipeManagedAppRegistrationByDeviceTag": {
      "post": {
        "tags": [
          "directoryObjects.wipeManagedAppRegistrationByDeviceTag"
        ],
        "summary": "Invoke action wipeManagedAppRegistrationByDeviceTag",
        "operationId": "directoryObjects.0-WipeManagedAppRegistrationByDeviceTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceTag": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/applications": {
      "get": {
        "tags": [
          "applications.application"
        ],
        "summary": "Get entities from applications",
        "operationId": "applications.application.ListApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "deletedDateTime",
                  "deletedDateTime desc",
                  "api",
                  "api desc",
                  "allowPublicClient",
                  "allowPublicClient desc",
                  "applicationAliases",
                  "applicationAliases desc",
                  "appRoles",
                  "appRoles desc",
                  "createdDateTime",
                  "createdDateTime desc",
                  "installedClients",
                  "installedClients desc",
                  "displayName",
                  "displayName desc",
                  "info",
                  "info desc",
                  "keyCredentials",
                  "keyCredentials desc",
                  "logo",
                  "logo desc",
                  "orgRestrictions",
                  "orgRestrictions desc",
                  "passwordCredentials",
                  "passwordCredentials desc",
                  "preAuthorizedApplications",
                  "preAuthorizedApplications desc",
                  "requiredResourceAccess",
                  "requiredResourceAccess desc",
                  "tags",
                  "tags desc",
                  "web",
                  "web desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "deletedDateTime",
                  "api",
                  "allowPublicClient",
                  "applicationAliases",
                  "appRoles",
                  "createdDateTime",
                  "installedClients",
                  "displayName",
                  "info",
                  "keyCredentials",
                  "logo",
                  "orgRestrictions",
                  "passwordCredentials",
                  "preAuthorizedApplications",
                  "requiredResourceAccess",
                  "tags",
                  "web"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of application",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.application"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "applications.application"
        ],
        "summary": "Add new entity to applications",
        "operationId": "applications.application.CreateApplication",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.application"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/applications/{id}": {
      "get": {
        "tags": [
          "applications.application"
        ],
        "summary": "Get entity from applications by key",
        "operationId": "applications.application.GetApplication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "deletedDateTime",
                  "api",
                  "allowPublicClient",
                  "applicationAliases",
                  "appRoles",
                  "createdDateTime",
                  "installedClients",
                  "displayName",
                  "info",
                  "keyCredentials",
                  "logo",
                  "orgRestrictions",
                  "passwordCredentials",
                  "preAuthorizedApplications",
                  "requiredResourceAccess",
                  "tags",
                  "web"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.application"
                }
              }
            },
            "links": {
              "extensionProperties": {
                "operationId": "applications.Entity-GetApplication",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "createdOnBehalfOf": {
                "operationId": "applications.Entity-GetApplication",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "owners": {
                "operationId": "applications.Entity-GetApplication",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "policies": {
                "operationId": "applications.Entity-GetApplication",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "synchronization": {
                "operationId": "applications.Entity-GetApplication",
                "parameters": {
                  "id": "$request.path.id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "applications.application"
        ],
        "summary": "Update entity in applications",
        "operationId": "applications.application.UpdateApplication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "applications.application"
        ],
        "summary": "Delete entity from applications",
        "operationId": "applications.application.DeleteApplication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/administrativeUnits": {
      "get": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Get entities from administrativeUnits",
        "operationId": "administrativeUnits.administrativeUnit.ListAdministrativeUnit",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "deletedDateTime",
                  "deletedDateTime desc",
                  "displayName",
                  "displayName desc",
                  "description",
                  "description desc",
                  "visibility",
                  "visibility desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "deletedDateTime",
                  "displayName",
                  "description",
                  "visibility"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of administrativeUnit",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.administrativeUnit"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Add new entity to administrativeUnits",
        "operationId": "administrativeUnits.administrativeUnit.CreateAdministrativeUnit",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.administrativeUnit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.administrativeUnit"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/administrativeUnits/{id}": {
      "get": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Get entity from administrativeUnits by key",
        "operationId": "administrativeUnits.administrativeUnit.GetAdministrativeUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "deletedDateTime",
                  "displayName",
                  "description",
                  "visibility"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.administrativeUnit"
                }
              }
            },
            "links": {
              "extensions": {
                "operationId": "administrativeUnits.Entity-GetAdministrativeUnit",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "members": {
                "operationId": "administrativeUnits.Entity-GetAdministrativeUnit",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "scopedRoleMembers": {
                "operationId": "administrativeUnits.Entity-GetAdministrativeUnit",
                "parameters": {
                  "id": "$request.path.id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Update entity in administrativeUnits",
        "operationId": "administrativeUnits.administrativeUnit.UpdateAdministrativeUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.administrativeUnit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "administrativeUnits.administrativeUnit"
        ],
        "summary": "Delete entity from administrativeUnits",
        "operationId": "administrativeUnits.administrativeUnit.DeleteAdministrativeUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/administrativeUnits/microsoft.graph.delta()": {
      "get": {
        "tags": [
          "administrativeUnits.delta"
        ],
        "summary": "Invoke function delta",
        "operationId": "administrativeUnits.0-Delta",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.administrativeUnit"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/allowedDataLocations": {
      "get": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Get entities from allowedDataLocations",
        "operationId": "allowedDataLocations.allowedDataLocation.ListAllowedDataLocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "appId",
                  "appId desc",
                  "location",
                  "location desc",
                  "isDefault",
                  "isDefault desc",
                  "domain",
                  "domain desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "appId",
                  "location",
                  "isDefault",
                  "domain"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of allowedDataLocation",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.allowedDataLocation"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Add new entity to allowedDataLocations",
        "operationId": "allowedDataLocations.allowedDataLocation.CreateAllowedDataLocation",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.allowedDataLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.allowedDataLocation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/allowedDataLocations/{id}": {
      "get": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Get entity from allowedDataLocations by key",
        "operationId": "allowedDataLocations.allowedDataLocation.GetAllowedDataLocation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "appId",
                  "location",
                  "isDefault",
                  "domain"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.allowedDataLocation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Update entity in allowedDataLocations",
        "operationId": "allowedDataLocations.allowedDataLocation.UpdateAllowedDataLocation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.allowedDataLocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "allowedDataLocations.allowedDataLocation"
        ],
        "summary": "Delete entity from allowedDataLocations",
        "operationId": "allowedDataLocations.allowedDataLocation.DeleteAllowedDataLocation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/appRoleAssignments": {
      "get": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Get entities from appRoleAssignments",
        "operationId": "appRoleAssignments.appRoleAssignment.ListAppRoleAssignment",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "creationTimestamp",
                  "creationTimestamp desc",
                  "principalDisplayName",
                  "principalDisplayName desc",
                  "principalId",
                  "principalId desc",
                  "principalType",
                  "principalType desc",
                  "resourceDisplayName",
                  "resourceDisplayName desc",
                  "resourceId",
                  "resourceId desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "creationTimestamp",
                  "principalDisplayName",
                  "principalId",
                  "principalType",
                  "resourceDisplayName",
                  "resourceId"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of appRoleAssignment",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.appRoleAssignment"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Add new entity to appRoleAssignments",
        "operationId": "appRoleAssignments.appRoleAssignment.CreateAppRoleAssignment",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.appRoleAssignment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.appRoleAssignment"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/appRoleAssignments/{id}": {
      "get": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Get entity from appRoleAssignments by key",
        "operationId": "appRoleAssignments.appRoleAssignment.GetAppRoleAssignment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "creationTimestamp",
                  "principalDisplayName",
                  "principalId",
                  "principalType",
                  "resourceDisplayName",
                  "resourceId"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.appRoleAssignment"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Update entity in appRoleAssignments",
        "operationId": "appRoleAssignments.appRoleAssignment.UpdateAppRoleAssignment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.appRoleAssignment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "appRoleAssignments.appRoleAssignment"
        ],
        "summary": "Delete entity from appRoleAssignments",
        "operationId": "appRoleAssignments.appRoleAssignment.DeleteAppRoleAssignment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "contacts.orgContact"
        ],
        "summary": "Get entities from contacts",
        "operationId": "contacts.orgContact.ListOrgContact",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "deletedDateTime",
                  "deletedDateTime desc",
                  "businessPhones",
                  "businessPhones desc",
                  "city",
                  "city desc",
                  "companyName",
                  "companyName desc",
                  "country",
                  "country desc",
                  "department",
                  "department desc",
                  "displayName",
                  "displayName desc",
                  "givenName",
                  "givenName desc",
                  "jobTitle",
                  "jobTitle desc",
                  "mail",
                  "mail desc",
                  "mailNickname",
                  "mailNickname desc",
                  "mobilePhone",
                  "mobilePhone desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesProvisioningErrors",
                  "onPremisesProvisioningErrors desc",
                  "officeLocation",
                  "officeLocation desc",
                  "postalCode",
                  "postalCode desc",
                  "proxyAddresses",
                  "proxyAddresses desc",
                  "state",
                  "state desc",
                  "streetAddress",
                  "streetAddress desc",
                  "surname",
                  "surname desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "deletedDateTime",
                  "businessPhones",
                  "city",
                  "companyName",
                  "country",
                  "department",
                  "displayName",
                  "givenName",
                  "jobTitle",
                  "mail",
                  "mailNickname",
                  "mobilePhone",
                  "onPremisesSyncEnabled",
                  "onPremisesLastSyncDateTime",
                  "onPremisesProvisioningErrors",
                  "officeLocation",
                  "postalCode",
                  "proxyAddresses",
                  "state",
                  "streetAddress",
                  "surname"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of orgContact",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.orgContact"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "contacts.orgContact"
        ],
        "summary": "Add new entity to contacts",
        "operationId": "contacts.orgContact.CreateOrgContact",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.orgContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.orgContact"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "tags": [
          "contacts.orgContact"
        ],
        "summary": "Get entity from contacts by key",
        "operationId": "contacts.orgContact.GetOrgContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "deletedDateTime",
                  "businessPhones",
                  "city",
                  "companyName",
                  "country",
                  "department",
                  "displayName",
                  "givenName",
                  "jobTitle",
                  "mail",
                  "mailNickname",
                  "mobilePhone",
                  "onPremisesSyncEnabled",
                  "onPremisesLastSyncDateTime",
                  "onPremisesProvisioningErrors",
                  "officeLocation",
                  "postalCode",
                  "proxyAddresses",
                  "state",
                  "streetAddress",
                  "surname"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.orgContact"
                }
              }
            },
            "links": {
              "manager": {
                "operationId": "contacts.Entity-GetOrgContact",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "directReports": {
[...]
