openapi: 3.0.1
info:
  title: OData Service for namespace microsoft.graph
  description: This OData service is located at https://graph.microsoft.com/beta
  version: 1.0.1
servers:
  - url: https://graph.microsoft.com/beta
paths:
  /schemaExtensions:
    get:
      tags:
        - schemaExtensions.schemaExtension
      summary: Get entities from schemaExtensions
      operationId: schemaExtensions.EntitySet-ListSchemaExtension
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - targetTypes
                - targetTypes desc
                - properties
                - properties desc
                - status
                - status desc
                - owner
                - owner desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - targetTypes
                - properties
                - status
                - owner
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of schemaExtension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - schemaExtensions.schemaExtension
      summary: Add new entity to schemaExtensions
      operationId: schemaExtensions.EntitySet-CreateSchemaExtension
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        default:
          $ref: '#/components/responses/error'
  '/schemaExtensions/{id}':
    get:
      tags:
        - schemaExtensions.schemaExtension
      summary: Get entity from schemaExtensions by key
      operationId: schemaExtensions.Entity-GetSchemaExtension
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - targetTypes
                - properties
                - status
                - owner
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - schemaExtensions.schemaExtension
      summary: Update entity in schemaExtensions
      operationId: schemaExtensions.Entity-UpdateSchemaExtension
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - schemaExtensions.schemaExtension
      summary: Delete entity from schemaExtensions
      operationId: schemaExtensions.Entity-DeleteSchemaExtension
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /directoryObjects:
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entities from directoryObjects
      operationId: directoryObjects.EntitySet-ListDirectoryObject
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - directoryObjects.directoryObject
      summary: Add new entity to directoryObjects
      operationId: directoryObjects.EntitySet-CreateDirectoryObject
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}':
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entity from directoryObjects by key
      operationId: directoryObjects.Entity-GetDirectoryObject
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - directoryObjects.directoryObject
      summary: Update entity in directoryObjects
      operationId: directoryObjects.Entity-UpdateDirectoryObject
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - directoryObjects.directoryObject
      summary: Delete entity from directoryObjects
      operationId: directoryObjects.Entity-DeleteDirectoryObject
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /directoryObjects/microsoft.graph.user/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.delta
      summary: Invoke function delta
      operationId: directoryObjects.user.Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.user'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  /directoryObjects/microsoft.graph.group/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.delta
      summary: Invoke function delta
      operationId: directoryObjects.group.Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.group'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  /directoryObjects/microsoft.graph.administrativeUnit/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.delta
      summary: Invoke function delta
      operationId: directoryObjects.administrativeUnit.Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  /directoryObjects/microsoft.graph.orgContact/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.delta
      summary: Invoke function delta
      operationId: directoryObjects.orgContact.Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.orgContact'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  /directoryObjects/microsoft.graph.getByIds:
    post:
      tags:
        - directoryObjects.getByIds
      summary: Invoke action getByIds
      operationId: directoryObjects.GetByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /directoryObjects/microsoft.graph.validateProperties:
    post:
      tags:
        - directoryObjects.validateProperties
      summary: Invoke action validateProperties
      operationId: directoryObjects.ValidateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - directoryObjects.checkMemberGroups
      summary: Invoke action checkMemberGroups
      operationId: directoryObjects.CheckMemberGroups
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - directoryObjects.getMemberGroups
      summary: Invoke action getMemberGroups
      operationId: directoryObjects.GetMemberGroups
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - directoryObjects.getMemberObjects
      summary: Invoke action getMemberObjects
      operationId: directoryObjects.GetMemberObjects
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.validateProperties':
    post:
      tags:
        - directoryObjects.validateProperties
      summary: Invoke action validateProperties
      operationId: directoryObjects.group.ValidateProperties
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.renew':
    post:
      tags:
        - directoryObjects.renew
      summary: Invoke action renew
      operationId: directoryObjects.group.Renew
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.restore':
    post:
      tags:
        - directoryObjects.restore
      summary: Invoke action restore
      operationId: directoryObjects.Restore
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.assignLicense':
    post:
      tags:
        - directoryObjects.assignLicense
      summary: Invoke action assignLicense
      operationId: directoryObjects.user.AssignLicense
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                addLicenses:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.assignedLicense'
                removeLicenses:
                  type: array
                  items:
                    pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                    type: string
                    format: uuid
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.changePassword':
    post:
      tags:
        - directoryObjects.changePassword
      summary: Invoke action changePassword
      operationId: directoryObjects.user.ChangePassword
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                  nullable: true
                newPassword:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.invalidateAllRefreshTokens':
    post:
      tags:
        - directoryObjects.invalidateAllRefreshTokens
      summary: Invoke action invalidateAllRefreshTokens
      operationId: directoryObjects.user.InvalidateAllRefreshTokens
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.sendMail':
    post:
      tags:
        - directoryObjects.sendMail
      summary: Invoke action sendMail
      operationId: directoryObjects.user.SendMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  $ref: '#/components/schemas/microsoft.graph.message'
                SaveToSentItems:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findMeetingTimesOLD':
    post:
      tags:
        - directoryObjects.findMeetingTimesOLD
      summary: Invoke action findMeetingTimesOLD
      operationId: directoryObjects.user.FindMeetingTimesOLD
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Attendees:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/microsoft.graph.attendeeBase'
                    nullable: true
                LocationConstraint:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.locationConstraint'
                  nullable: true
                TimeConstraint:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.timeConstraint'
                  nullable: true
                MeetingDuration:
                  pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
                  type: string
                  format: duration
                  nullable: true
                MaxCandidates:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                IsOrganizerOptional:
                  type: boolean
                  default: false
                  nullable: true
                ReturnSuggestionHints:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findMeetingTimes':
    post:
      tags:
        - directoryObjects.findMeetingTimes
      summary: Invoke action findMeetingTimes
      operationId: directoryObjects.user.FindMeetingTimes
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Attendees:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/microsoft.graph.attendeeBase'
                    nullable: true
                LocationConstraint:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.locationConstraint'
                  nullable: true
                TimeConstraint:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.timeConstraint'
                  nullable: true
                MeetingDuration:
                  pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
                  type: string
                  format: duration
                  nullable: true
                MaxCandidates:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                IsOrganizerOptional:
                  type: boolean
                  default: false
                  nullable: true
                ReturnSuggestionReasons:
                  type: boolean
                  default: false
                  nullable: true
                MinimumAttendeePercentage:
                  oneOf:
                    - type: number
                    - type: string
                    - enum:
                        - '-INF'
                        - INF
                        - NaN
                  format: double
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.getMailTips':
    post:
      tags:
        - directoryObjects.getMailTips
      summary: Invoke action getMailTips
      operationId: directoryObjects.user.GetMailTips
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                EmailAddresses:
                  type: array
                  items:
                    type: string
                MailTipsOptions:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.mailTipsType'
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.reminderView(StartDateTime={StartDateTime},EndDateTime={EndDateTime})':
    get:
      tags:
        - directoryObjects.reminderView
      summary: Invoke function reminderView
      operationId: directoryObjects.user.ReminderView
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: StartDateTime
          in: path
          required: true
          schema:
            type: string
        - name: EndDateTime
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.reminder'
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRoomLists()':
    get:
      tags:
        - directoryObjects.findRoomLists
      summary: Invoke function findRoomLists
      operationId: directoryObjects.user.FindRoomLists
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailAddress'
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms(RoomList={RoomList})':
    get:
      tags:
        - directoryObjects.findRooms
      summary: Invoke function findRooms
      operationId: directoryObjects.user.0-FindRooms
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: RoomList
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailAddress'
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findRooms()':
    get:
      tags:
        - directoryObjects.findRooms
      summary: Invoke function findRooms
      operationId: directoryObjects.user.1-FindRooms
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailAddress'
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.subscribeByMail':
    post:
      tags:
        - directoryObjects.subscribeByMail
      summary: Invoke action subscribeByMail
      operationId: directoryObjects.group.SubscribeByMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.unsubscribeByMail':
    post:
      tags:
        - directoryObjects.unsubscribeByMail
      summary: Invoke action unsubscribeByMail
      operationId: directoryObjects.group.UnsubscribeByMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.addFavorite':
    post:
      tags:
        - directoryObjects.addFavorite
      summary: Invoke action addFavorite
      operationId: directoryObjects.group.AddFavorite
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.removeFavorite':
    post:
      tags:
        - directoryObjects.removeFavorite
      summary: Invoke action removeFavorite
      operationId: directoryObjects.group.RemoveFavorite
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.resetUnseenCount':
    post:
      tags:
        - directoryObjects.resetUnseenCount
      summary: Invoke action resetUnseenCount
      operationId: directoryObjects.group.ResetUnseenCount
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.removeAllDevicesFromManagement':
    post:
      tags:
        - directoryObjects.removeAllDevicesFromManagement
      summary: Invoke action removeAllDevicesFromManagement
      operationId: directoryObjects.user.RemoveAllDevicesFromManagement
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.setMobileDeviceManagementAuthority':
    post:
      tags:
        - directoryObjects.setMobileDeviceManagementAuthority
      summary: Invoke action setMobileDeviceManagementAuthority
      operationId: directoryObjects.organization.SetMobileDeviceManagementAuthority
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.getEncryptionPublicKey()':
    get:
      tags:
        - directoryObjects.getEncryptionPublicKey
      summary: Invoke function getEncryptionPublicKey
      operationId: directoryObjects.organization.GetEncryptionPublicKey
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.uploadDepToken':
    post:
      tags:
        - directoryObjects.uploadDepToken
      summary: Invoke action uploadDepToken
      operationId: directoryObjects.organization.UploadDepToken
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                appleId:
                  type: string
                  nullable: true
                depToken:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.organization/microsoft.graph.syncWithAppleDeviceEnrollmentProgram':
    post:
      tags:
        - directoryObjects.syncWithAppleDeviceEnrollmentProgram
      summary: Invoke action syncWithAppleDeviceEnrollmentProgram
      operationId: directoryObjects.organization.SyncWithAppleDeviceEnrollmentProgram
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.getManagedAppDiagnosticStatuses()':
    get:
      tags:
        - directoryObjects.getManagedAppDiagnosticStatuses
      summary: Invoke function getManagedAppDiagnosticStatuses
      operationId: directoryObjects.user.GetManagedAppDiagnosticStatuses
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.managedAppDiagnosticStatus'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.getManagedAppPolicies()':
    get:
      tags:
        - directoryObjects.getManagedAppPolicies
      summary: Invoke function getManagedAppPolicies
      operationId: directoryObjects.user.GetManagedAppPolicies
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.wipeManagedAppRegistrationByDeviceTag':
    post:
      tags:
        - directoryObjects.wipeManagedAppRegistrationByDeviceTag
      summary: Invoke action wipeManagedAppRegistrationByDeviceTag
      operationId: directoryObjects.user.WipeManagedAppRegistrationByDeviceTag
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceTag:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /applications:
    get:
      tags:
        - applications.application
      summary: Get entities from applications
      operationId: applications.EntitySet-ListApplication
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - api
                - api desc
                - allowPublicClient
                - allowPublicClient desc
                - applicationAliases
                - applicationAliases desc
                - appRoles
                - appRoles desc
                - createdDateTime
                - createdDateTime desc
                - installedClients
                - installedClients desc
                - displayName
                - displayName desc
                - info
                - info desc
                - keyCredentials
                - keyCredentials desc
                - logo
                - logo desc
                - orgRestrictions
                - orgRestrictions desc
                - passwordCredentials
                - passwordCredentials desc
                - preAuthorizedApplications
                - preAuthorizedApplications desc
                - requiredResourceAccess
                - requiredResourceAccess desc
                - tags
                - tags desc
                - web
                - web desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - api
                - allowPublicClient
                - applicationAliases
                - appRoles
                - createdDateTime
                - installedClients
                - displayName
                - info
                - keyCredentials
                - logo
                - orgRestrictions
                - passwordCredentials
                - preAuthorizedApplications
                - requiredResourceAccess
                - tags
                - web
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of application
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.application'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - applications.application
      summary: Add new entity to applications
      operationId: applications.EntitySet-CreateApplication
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.application'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        default:
          $ref: '#/components/responses/error'
  '/applications/{id}':
    get:
      tags:
        - applications.application
      summary: Get entity from applications by key
      operationId: applications.Entity-GetApplication
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - api
                - allowPublicClient
                - applicationAliases
                - appRoles
                - createdDateTime
                - installedClients
                - displayName
                - info
                - keyCredentials
                - logo
                - orgRestrictions
                - passwordCredentials
                - preAuthorizedApplications
                - requiredResourceAccess
                - tags
                - web
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
          links:
            extensionProperties:
              operationId: applications.Entity-GetApplication
              parameters:
                id: $request.path.id
            createdOnBehalfOf:
              operationId: applications.Entity-GetApplication
              parameters:
                id: $request.path.id
            owners:
              operationId: applications.Entity-GetApplication
              parameters:
                id: $request.path.id
            policies:
              operationId: applications.Entity-GetApplication
              parameters:
                id: $request.path.id
            synchronization:
              operationId: applications.Entity-GetApplication
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - applications.application
      summary: Update entity in applications
      operationId: applications.Entity-UpdateApplication
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.application'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - applications.application
      summary: Delete entity from applications
      operationId: applications.Entity-DeleteApplication
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /administrativeUnits:
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get entities from administrativeUnits
      operationId: administrativeUnits.EntitySet-ListAdministrativeUnit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - displayName
                - displayName desc
                - description
                - description desc
                - visibility
                - visibility desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - displayName
                - description
                - visibility
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Add new entity to administrativeUnits
      operationId: administrativeUnits.EntitySet-CreateAdministrativeUnit
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{id}':
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get entity from administrativeUnits by key
      operationId: administrativeUnits.Entity-GetAdministrativeUnit
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - displayName
                - description
                - visibility
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
          links:
            extensions:
              operationId: administrativeUnits.Entity-GetAdministrativeUnit
              parameters:
                id: $request.path.id
            members:
              operationId: administrativeUnits.Entity-GetAdministrativeUnit
              parameters:
                id: $request.path.id
            scopedRoleMembers:
              operationId: administrativeUnits.Entity-GetAdministrativeUnit
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Update entity in administrativeUnits
      operationId: administrativeUnits.Entity-UpdateAdministrativeUnit
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Delete entity from administrativeUnits
      operationId: administrativeUnits.Entity-DeleteAdministrativeUnit
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /administrativeUnits/microsoft.graph.delta():
    get:
      tags:
        - administrativeUnits.delta
      summary: Invoke function delta
      operationId: administrativeUnits.Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  /allowedDataLocations:
    get:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Get entities from allowedDataLocations
      operationId: allowedDataLocations.EntitySet-ListAllowedDataLocation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appId
                - appId desc
                - location
                - location desc
                - isDefault
                - isDefault desc
                - domain
                - domain desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appId
                - location
                - isDefault
                - domain
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of allowedDataLocation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.allowedDataLocation'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Add new entity to allowedDataLocations
      operationId: allowedDataLocations.EntitySet-CreateAllowedDataLocation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.allowedDataLocation'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.allowedDataLocation'
        default:
          $ref: '#/components/responses/error'
  '/allowedDataLocations/{id}':
    get:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Get entity from allowedDataLocations by key
      operationId: allowedDataLocations.Entity-GetAllowedDataLocation
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appId
                - location
                - isDefault
                - domain
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.allowedDataLocation'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Update entity in allowedDataLocations
      operationId: allowedDataLocations.Entity-UpdateAllowedDataLocation
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.allowedDataLocation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - allowedDataLocations.allowedDataLocation
      summary: Delete entity from allowedDataLocations
      operationId: allowedDataLocations.Entity-DeleteAllowedDataLocation
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /appRoleAssignments:
    get:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Get entities from appRoleAssignments
      operationId: appRoleAssignments.EntitySet-ListAppRoleAssignment
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - creationTimestamp
                - creationTimestamp desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Add new entity to appRoleAssignments
      operationId: appRoleAssignments.EntitySet-CreateAppRoleAssignment
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
  '/appRoleAssignments/{id}':
    get:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Get entity from appRoleAssignments by key
      operationId: appRoleAssignments.Entity-GetAppRoleAssignment
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Update entity in appRoleAssignments
      operationId: appRoleAssignments.Entity-UpdateAppRoleAssignment
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Delete entity from appRoleAssignments
      operationId: appRoleAssignments.Entity-DeleteAppRoleAssignment
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /contacts:
    get:
      tags:
        - contacts.orgContact
      summary: Get entities from contacts
      operationId: contacts.EntitySet-ListOrgContact
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - country
                - country desc
                - department
                - department desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - jobTitle
                - jobTitle desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - mobilePhone
                - mobilePhone desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - officeLocation
                - officeLocation desc
                - postalCode
                - postalCode desc
                - proxyAddresses
                - proxyAddresses desc
                - state
                - state desc
                - streetAddress
                - streetAddress desc
                - surname
                - surname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - businessPhones
                - city
                - companyName
                - country
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - mobilePhone
                - onPremisesSyncEnabled
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - officeLocation
                - postalCode
                - proxyAddresses
                - state
                - streetAddress
                - surname
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - contacts.orgContact
      summary: Add new entity to contacts
      operationId: contacts.EntitySet-CreateOrgContact
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
  '/contacts/{id}':
    get:
      tags:
        - contacts.orgContact
      summary: Get entity from contacts by key
      operationId: contacts.Entity-GetOrgContact
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - businessPhones
                - city
                - companyName
                - country
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - mobilePhone
                - onPremisesSyncEnabled
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - officeLocation
                - postalCode
                - proxyAddresses
                - state
                - streetAddress
                - surname
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
          links:
            manager:
              operationId: contacts.Entity-GetOrgContact
              parameters:
                id: $request.path.id
            directReports:
              operationId: contacts.Entity-GetOrgContact
              parameters:
                id: $request.path.id
            memberOf:
              operationId: contacts.Entity-GetOrgContact
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - contacts.orgContact
      summary: Update entity in contacts
      operationId: contacts.Entity-UpdateOrgContact
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - contacts.orgContact
      summary: Delete entity from contacts
      operationId: contacts.Entity-DeleteOrgContact
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /contacts/microsoft.graph.delta():
    get:
      tags:
        - contacts.delta
      summary: Invoke function delta
      operationId: contacts.Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.orgContact'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  /devices:
    get:
      tags:
        - devices.device
      summary: Get entities from devices
      operationId: devices.EntitySet-ListDevice
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - trustType
                - trustType desc
                - Name
                - Name desc
                - Manufacturer
                - Manufacturer desc
                - Model
                - Model desc
                - Kind
                - Kind desc
                - Status
                - Status desc
                - Platform
                - Platform desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - trustType
                - Name
                - Manufacturer
                - Model
                - Kind
                - Status
                - Platform
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of device
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - devices.device
      summary: Add new entity to devices
      operationId: devices.EntitySet-CreateDevice
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
  '/devices/{id}':
    get:
      tags:
        - devices.device
      summary: Get entity from devices by key
      operationId: devices.Entity-GetDevice
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - trustType
                - Name
                - Manufacturer
                - Model
                - Kind
                - Status
                - Platform
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
          links:
            extensions:
              operationId: devices.Entity-GetDevice
              parameters:
                id: $request.path.id
            registeredOwners:
              operationId: devices.Entity-GetDevice
              parameters:
                id: $request.path.id
            registeredUsers:
              operationId: devices.Entity-GetDevice
              parameters:
                id: $request.path.id
            commands:
              operationId: devices.Entity-GetDevice
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - devices.device
      summary: Update entity in devices
      operationId: devices.Entity-UpdateDevice
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - devices.device
      summary: Delete entity from devices
      operationId: devices.Entity-DeleteDevice
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /domains:
    get:
      tags:
        - domains.domain
      summary: Get entities from domains
      operationId: domains.EntitySet-ListDomain
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - authenticationType
                - authenticationType desc
                - availabilityStatus
                - availabilityStatus desc
                - isAdminManaged
                - isAdminManaged desc
                - isDefault
                - isDefault desc
                - isInitial
                - isInitial desc
                - isRoot
                - isRoot desc
                - isVerified
                - isVerified desc
                - supportedServices
                - supportedServices desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authenticationType
                - availabilityStatus
                - isAdminManaged
                - isDefault
                - isInitial
                - isRoot
                - isVerified
                - supportedServices
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - serviceConfigurationRecords
                - verificationDnsRecords
                - domainNameReferences
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of domain
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.domain'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - domains.domain
      summary: Add new entity to domains
      operationId: domains.EntitySet-CreateDomain
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domain'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domain'
        default:
          $ref: '#/components/responses/error'
  '/domains/{id}':
    get:
      tags:
        - domains.domain
      summary: Get entity from domains by key
      operationId: domains.Entity-GetDomain
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authenticationType
                - availabilityStatus
                - isAdminManaged
                - isDefault
                - isInitial
                - isRoot
                - isVerified
                - supportedServices
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - serviceConfigurationRecords
                - verificationDnsRecords
                - domainNameReferences
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domain'
          links:
            serviceConfigurationRecords:
              operationId: domains.Entity-GetDomain
              parameters:
                id: $request.path.id
            verificationDnsRecords:
              operationId: domains.Entity-GetDomain
              parameters:
                id: $request.path.id
            domainNameReferences:
              operationId: domains.Entity-GetDomain
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - domains.domain
      summary: Update entity in domains
      operationId: domains.Entity-UpdateDomain
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domain'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - domains.domain
      summary: Delete entity from domains
      operationId: domains.Entity-DeleteDomain
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/domains/{id}/microsoft.graph.forceDelete':
    post:
      tags:
        - domains.forceDelete
      summary: Invoke action forceDelete
      operationId: domains.ForceDelete
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                disableUserAccounts:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/domains/{id}/microsoft.graph.verify':
    post:
      tags:
        - domains.verify
      summary: Invoke action verify
      operationId: domains.Verify
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /domainDnsRecords:
    get:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Get entities from domainDnsRecords
      operationId: domainDnsRecords.EntitySet-ListDomainDnsRecord
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - isOptional
                - isOptional desc
                - label
                - label desc
                - recordType
                - recordType desc
                - supportedService
                - supportedService desc
                - ttl
                - ttl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isOptional
                - label
                - recordType
                - supportedService
                - ttl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of domainDnsRecord
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Add new entity to domainDnsRecords
      operationId: domainDnsRecords.EntitySet-CreateDomainDnsRecord
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/components/responses/error'
  '/domainDnsRecords/{id}':
    get:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Get entity from domainDnsRecords by key
      operationId: domainDnsRecords.Entity-GetDomainDnsRecord
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isOptional
                - label
                - recordType
                - supportedService
                - ttl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Update entity in domainDnsRecords
      operationId: domainDnsRecords.Entity-UpdateDomainDnsRecord
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Delete entity from domainDnsRecords
      operationId: domainDnsRecords.Entity-DeleteDomainDnsRecord
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /groups:
    get:
      tags:
        - groups.group
      summary: Get entities from groups
      operationId: groups.EntitySet-ListGroup
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - classification
                - classification desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - groupTypes
                - groupTypes desc
                - mail
                - mail desc
                - mailEnabled
                - mailEnabled desc
                - mailNickname
                - mailNickname desc
                - membershipRule
                - membershipRule desc
                - membershipRuleProcessingState
                - membershipRuleProcessingState desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - preferredLanguage
                - preferredLanguage desc
                - proxyAddresses
                - proxyAddresses desc
                - renewedDateTime
                - renewedDateTime desc
                - resourceBehaviorOptions
                - resourceBehaviorOptions desc
                - resourceProvisioningOptions
                - resourceProvisioningOptions desc
                - securityEnabled
                - securityEnabled desc
                - theme
                - theme desc
                - visibility
                - visibility desc
                - accessType
                - accessType desc
                - allowExternalSenders
                - allowExternalSenders desc
                - autoSubscribeNewMembers
                - autoSubscribeNewMembers desc
                - isFavorite
                - isFavorite desc
                - isSubscribedByMail
                - isSubscribedByMail desc
                - unseenCount
                - unseenCount desc
                - unseenConversationsCount
                - unseenConversationsCount desc
                - unseenMessagesCount
                - unseenMessagesCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - classification
                - createdDateTime
                - description
                - displayName
                - groupTypes
                - mail
                - mailEnabled
                - mailNickname
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - resourceBehaviorOptions
                - resourceProvisioningOptions
                - securityEnabled
                - theme
                - visibility
                - accessType
                - allowExternalSenders
                - autoSubscribeNewMembers
                - isFavorite
                - isSubscribedByMail
                - unseenCount
                - unseenConversationsCount
                - unseenMessagesCount
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of group
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.group'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - groups.group
      summary: Add new entity to groups
      operationId: groups.EntitySet-CreateGroup
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.group'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
        default:
          $ref: '#/components/responses/error'
  '/groups/{id}':
    get:
      tags:
        - groups.group
      summary: Get entity from groups by key
      operationId: groups.Entity-GetGroup
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - classification
                - createdDateTime
                - description
                - displayName
                - groupTypes
                - mail
                - mailEnabled
                - mailNickname
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - resourceBehaviorOptions
                - resourceProvisioningOptions
                - securityEnabled
                - theme
                - visibility
                - accessType
                - allowExternalSenders
                - autoSubscribeNewMembers
                - isFavorite
                - isSubscribedByMail
                - unseenCount
                - unseenConversationsCount
                - unseenMessagesCount
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
          links:
            extensions:
              operationId: groups.Entity-GetGroup
              parameters:
                id: $request.path.id
            members:
              operationId: groups.Entity-GetGroup
              parameters:
                id: $request.path.id
            memberOf:
              operationId: groups.Entity-GetGroup
              parameters:
                id: $request.path.id
            createdOnBehalfOf:
              operationId: groups.Entity-GetGroup
              parameters:
[...]
