openapi: 3.0.1
info:
  title: OData Service for namespace microsoft.graph
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: 1.0.1
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  /directoryObjects:
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entities from directoryObjects
      operationId: directoryObjects.directoryObject.ListDirectoryObject
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - directoryObjects.directoryObject
      summary: Add new entity to directoryObjects
      operationId: directoryObjects.directoryObject.CreateDirectoryObject
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}':
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entity from directoryObjects by key
      operationId: directoryObjects.directoryObject.GetDirectoryObject
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - directoryObjects.directoryObject
      summary: Update entity in directoryObjects
      operationId: directoryObjects.directoryObject.UpdateDirectoryObject
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - directoryObjects.directoryObject
      summary: Delete entity from directoryObjects
      operationId: directoryObjects.directoryObject.DeleteDirectoryObject
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /directoryObjects/microsoft.graph.getByIds:
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getByIds
      operationId: directoryObjects.0-GetByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /directoryObjects/microsoft.graph.user/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.Functions
      summary: Invoke function delta
      operationId: directoryObjects.0-Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.user'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
    x-ms-additionalPath:
      - /directoryObjects/microsoft.graph.group/microsoft.graph.delta()
  /directoryObjects/microsoft.graph.group/microsoft.graph.delta():
    get:
      tags:
        - directoryObjects.Functions
      summary: Invoke function delta
      operationId: directoryObjects.1-Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.group'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
    x-ms-additionalPath:
      - /directoryObjects/microsoft.graph.user/microsoft.graph.delta()
  '/directoryObjects/{id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action checkMemberGroups
      operationId: directoryObjects.0-CheckMemberGroups
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getMemberGroups
      operationId: directoryObjects.0-GetMemberGroups
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getMemberObjects
      operationId: directoryObjects.0-GetMemberObjects
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.assignLicense':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action assignLicense
      operationId: directoryObjects.0-AssignLicense
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                addLicenses:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.assignedLicense'
                removeLicenses:
                  type: array
                  items:
                    pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                    type: string
                    format: uuid
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.changePassword':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action changePassword
      operationId: directoryObjects.0-ChangePassword
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                  nullable: true
                newPassword:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.sendMail':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action sendMail
      operationId: directoryObjects.0-SendMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  $ref: '#/components/schemas/microsoft.graph.message'
                SaveToSentItems:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.findMeetingTimes':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action findMeetingTimes
      operationId: directoryObjects.0-FindMeetingTimes
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Attendees:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/microsoft.graph.attendeeBase'
                    nullable: true
                LocationConstraint:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.locationConstraint'
                  nullable: true
                TimeConstraint:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.timeConstraint'
                  nullable: true
                MeetingDuration:
                  pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
                  type: string
                  format: duration
                  nullable: true
                MaxCandidates:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                IsOrganizerOptional:
                  type: boolean
                  default: false
                  nullable: true
                ReturnSuggestionReasons:
                  type: boolean
                  default: false
                  nullable: true
                MinimumAttendeePercentage:
                  oneOf:
                    - type: number
                    - type: string
                    - enum:
                        - '-INF'
                        - INF
                        - NaN
                  format: double
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.user/microsoft.graph.reminderView(StartDateTime={StartDateTime},EndDateTime={EndDateTime})':
    get:
      tags:
        - directoryObjects.Functions
      summary: Invoke function reminderView
      operationId: directoryObjects.0-ReminderView
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: StartDateTime
          in: path
          required: true
          schema:
            type: string
        - name: EndDateTime
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.reminder'
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.subscribeByMail':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action subscribeByMail
      operationId: directoryObjects.0-SubscribeByMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.unsubscribeByMail':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action unsubscribeByMail
      operationId: directoryObjects.0-UnsubscribeByMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.addFavorite':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action addFavorite
      operationId: directoryObjects.0-AddFavorite
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.removeFavorite':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action removeFavorite
      operationId: directoryObjects.0-RemoveFavorite
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/directoryObjects/{id}/microsoft.graph.group/microsoft.graph.resetUnseenCount':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action resetUnseenCount
      operationId: directoryObjects.0-ResetUnseenCount
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /devices:
    get:
      tags:
        - devices.device
      summary: Get entities from devices
      operationId: devices.device.ListDevice
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - trustType
                - trustType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - trustType
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of device
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - devices.device
      summary: Add new entity to devices
      operationId: devices.device.CreateDevice
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
  '/devices/{id}':
    get:
      tags:
        - devices.device
      summary: Get entity from devices by key
      operationId: devices.device.GetDevice
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - trustType
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
          links:
            registeredOwners:
              operationId: devices.device.GetDevice
              parameters:
                id: $request.path.id
            registeredUsers:
              operationId: devices.device.GetDevice
              parameters:
                id: $request.path.id
            extensions:
              operationId: devices.device.GetDevice
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - devices.device
      summary: Update entity in devices
      operationId: devices.device.UpdateDevice
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - devices.device
      summary: Delete entity from devices
      operationId: devices.device.DeleteDevice
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /domains:
    get:
      tags:
        - domains.domain
      summary: Get entities from domains
      operationId: domains.domain.ListDomain
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - authenticationType
                - authenticationType desc
                - availabilityStatus
                - availabilityStatus desc
                - isAdminManaged
                - isAdminManaged desc
                - isDefault
                - isDefault desc
                - isInitial
                - isInitial desc
                - isRoot
                - isRoot desc
                - isVerified
                - isVerified desc
                - supportedServices
                - supportedServices desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authenticationType
                - availabilityStatus
                - isAdminManaged
                - isDefault
                - isInitial
                - isRoot
                - isVerified
                - supportedServices
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - serviceConfigurationRecords
                - verificationDnsRecords
                - domainNameReferences
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of domain
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.domain'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - domains.domain
      summary: Add new entity to domains
      operationId: domains.domain.CreateDomain
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domain'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domain'
        default:
          $ref: '#/components/responses/error'
  '/domains/{id}':
    get:
      tags:
        - domains.domain
      summary: Get entity from domains by key
      operationId: domains.domain.GetDomain
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authenticationType
                - availabilityStatus
                - isAdminManaged
                - isDefault
                - isInitial
                - isRoot
                - isVerified
                - supportedServices
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - serviceConfigurationRecords
                - verificationDnsRecords
                - domainNameReferences
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domain'
          links:
            serviceConfigurationRecords:
              operationId: domains.domain.GetDomain
              parameters:
                id: $request.path.id
            verificationDnsRecords:
              operationId: domains.domain.GetDomain
              parameters:
                id: $request.path.id
            domainNameReferences:
              operationId: domains.domain.GetDomain
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - domains.domain
      summary: Update entity in domains
      operationId: domains.domain.UpdateDomain
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domain'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - domains.domain
      summary: Delete entity from domains
      operationId: domains.domain.DeleteDomain
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/domains/{id}/microsoft.graph.verify':
    post:
      tags:
        - domains.Actions
      summary: Invoke action verify
      operationId: domains.0-Verify
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /domainDnsRecords:
    get:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Get entities from domainDnsRecords
      operationId: domainDnsRecords.domainDnsRecord.ListDomainDnsRecord
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - isOptional
                - isOptional desc
                - label
                - label desc
                - recordType
                - recordType desc
                - supportedService
                - supportedService desc
                - ttl
                - ttl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isOptional
                - label
                - recordType
                - supportedService
                - ttl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of domainDnsRecord
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Add new entity to domainDnsRecords
      operationId: domainDnsRecords.domainDnsRecord.CreateDomainDnsRecord
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/components/responses/error'
  '/domainDnsRecords/{id}':
    get:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Get entity from domainDnsRecords by key
      operationId: domainDnsRecords.domainDnsRecord.GetDomainDnsRecord
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isOptional
                - label
                - recordType
                - supportedService
                - ttl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Update entity in domainDnsRecords
      operationId: domainDnsRecords.domainDnsRecord.UpdateDomainDnsRecord
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - domainDnsRecords.domainDnsRecord
      summary: Delete entity from domainDnsRecords
      operationId: domainDnsRecords.domainDnsRecord.DeleteDomainDnsRecord
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /groups:
    get:
      tags:
        - groups.group
      summary: Get entities from groups
      operationId: groups.group.ListGroup
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - classification
                - classification desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - groupTypes
                - groupTypes desc
                - mail
                - mail desc
                - mailEnabled
                - mailEnabled desc
                - mailNickname
                - mailNickname desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - proxyAddresses
                - proxyAddresses desc
                - renewedDateTime
                - renewedDateTime desc
                - securityEnabled
                - securityEnabled desc
                - visibility
                - visibility desc
                - allowExternalSenders
                - allowExternalSenders desc
                - autoSubscribeNewMembers
                - autoSubscribeNewMembers desc
                - isSubscribedByMail
                - isSubscribedByMail desc
                - unseenCount
                - unseenCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classification
                - createdDateTime
                - description
                - displayName
                - groupTypes
                - mail
                - mailEnabled
                - mailNickname
                - onPremisesLastSyncDateTime
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - proxyAddresses
                - renewedDateTime
                - securityEnabled
                - visibility
                - allowExternalSenders
                - autoSubscribeNewMembers
                - isSubscribedByMail
                - unseenCount
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of group
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.group'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - groups.group
      summary: Add new entity to groups
      operationId: groups.group.CreateGroup
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.group'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
        default:
          $ref: '#/components/responses/error'
  '/groups/{id}':
    get:
      tags:
        - groups.group
      summary: Get entity from groups by key
      operationId: groups.group.GetGroup
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classification
                - createdDateTime
                - description
                - displayName
                - groupTypes
                - mail
                - mailEnabled
                - mailNickname
                - onPremisesLastSyncDateTime
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - proxyAddresses
                - renewedDateTime
                - securityEnabled
                - visibility
                - allowExternalSenders
                - autoSubscribeNewMembers
                - isSubscribedByMail
                - unseenCount
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
          links:
            members:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            memberOf:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            createdOnBehalfOf:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            owners:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            settings:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            extensions:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            threads:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            calendar:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            calendarView:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            events:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            conversations:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            photo:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            photos:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            acceptedSenders:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            rejectedSenders:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            drive:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            drives:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            sites:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            planner:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
            onenote:
              operationId: groups.group.GetGroup
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - groups.group
      summary: Update entity in groups
      operationId: groups.group.UpdateGroup
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.group'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - groups.group
      summary: Delete entity from groups
      operationId: groups.group.DeleteGroup
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /groups/microsoft.graph.delta():
    get:
      tags:
        - groups.Functions
      summary: Invoke function delta
      operationId: groups.0-Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.group'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  '/groups/{id}/microsoft.graph.subscribeByMail':
    post:
      tags:
        - groups.Actions
      summary: Invoke action subscribeByMail
      operationId: groups.0-SubscribeByMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/groups/{id}/microsoft.graph.unsubscribeByMail':
    post:
      tags:
        - groups.Actions
      summary: Invoke action unsubscribeByMail
      operationId: groups.0-UnsubscribeByMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/groups/{id}/microsoft.graph.addFavorite':
    post:
      tags:
        - groups.Actions
      summary: Invoke action addFavorite
      operationId: groups.0-AddFavorite
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/groups/{id}/microsoft.graph.removeFavorite':
    post:
      tags:
        - groups.Actions
      summary: Invoke action removeFavorite
      operationId: groups.0-RemoveFavorite
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/groups/{id}/microsoft.graph.resetUnseenCount':
    post:
      tags:
        - groups.Actions
      summary: Invoke action resetUnseenCount
      operationId: groups.0-ResetUnseenCount
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /directoryRoles:
    get:
      tags:
        - directoryRoles.directoryRole
      summary: Get entities from directoryRoles
      operationId: directoryRoles.directoryRole.ListDirectoryRole
      parameters:
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - roleTemplateId
                - roleTemplateId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - roleTemplateId
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of directoryRole
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryRole'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - directoryRoles.directoryRole
      summary: Add new entity to directoryRoles
      operationId: directoryRoles.directoryRole.CreateDirectoryRole
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRole'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRole'
        default:
          $ref: '#/components/responses/error'
  '/directoryRoles/{id}':
    get:
      tags:
        - directoryRoles.directoryRole
      summary: Get entity from directoryRoles by key
      operationId: directoryRoles.directoryRole.GetDirectoryRole
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - roleTemplateId
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRole'
          links:
            members:
              operationId: directoryRoles.directoryRole.GetDirectoryRole
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - directoryRoles.directoryRole
      summary: Update entity in directoryRoles
      operationId: directoryRoles.directoryRole.UpdateDirectoryRole
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - directoryRoles.directoryRole
      summary: Delete entity from directoryRoles
      operationId: directoryRoles.directoryRole.DeleteDirectoryRole
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /directoryRoleTemplates:
    get:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Get entities from directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate.ListDirectoryRoleTemplate
      parameters:
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of directoryRoleTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Add new entity to directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate.CreateDirectoryRoleTemplate
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/components/responses/error'
  '/directoryRoleTemplates/{id}':
    get:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Get entity from directoryRoleTemplates by key
      operationId: directoryRoleTemplates.directoryRoleTemplate.GetDirectoryRoleTemplate
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Update entity in directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate.UpdateDirectoryRoleTemplate
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Delete entity from directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate.DeleteDirectoryRoleTemplate
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization:
    get:
      tags:
        - organization.organization
      summary: Get entities from organization
      operationId: organization.organization.ListOrganization
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - country
                - country desc
                - countryLetterCode
                - countryLetterCode desc
                - displayName
                - displayName desc
                - marketingNotificationEmails
                - marketingNotificationEmails desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - postalCode
                - postalCode desc
                - preferredLanguage
                - preferredLanguage desc
                - provisionedPlans
                - provisionedPlans desc
                - securityComplianceNotificationMails
                - securityComplianceNotificationMails desc
                - securityComplianceNotificationPhones
                - securityComplianceNotificationPhones desc
                - state
                - state desc
                - street
                - street desc
                - technicalNotificationMails
                - technicalNotificationMails desc
                - verifiedDomains
                - verifiedDomains desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedPlans
                - businessPhones
                - city
                - country
                - countryLetterCode
                - displayName
                - marketingNotificationEmails
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - postalCode
                - preferredLanguage
                - provisionedPlans
                - securityComplianceNotificationMails
                - securityComplianceNotificationPhones
                - state
                - street
                - technicalNotificationMails
                - verifiedDomains
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of organization
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.organization'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - organization.organization
      summary: Add new entity to organization
      operationId: organization.organization.CreateOrganization
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organization'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organization'
        default:
          $ref: '#/components/responses/error'
  '/organization/{id}':
    get:
      tags:
        - organization.organization
      summary: Get entity from organization by key
      operationId: organization.organization.GetOrganization
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedPlans
                - businessPhones
                - city
                - country
                - countryLetterCode
                - displayName
                - marketingNotificationEmails
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - postalCode
                - preferredLanguage
                - provisionedPlans
                - securityComplianceNotificationMails
                - securityComplianceNotificationPhones
                - state
                - street
                - technicalNotificationMails
                - verifiedDomains
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organization'
          links:
            extensions:
              operationId: organization.organization.GetOrganization
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - organization.organization
      summary: Update entity in organization
      operationId: organization.organization.UpdateOrganization
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - organization.organization
      summary: Delete entity from organization
      operationId: organization.organization.DeleteOrganization
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /groupSettings:
    get:
      tags:
        - groupSettings.groupSetting
      summary: Get entities from groupSettings
      operationId: groupSettings.groupSetting.ListGroupSetting
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - templateId
                - templateId desc
                - values
                - values desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - templateId
                - values
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of groupSetting
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.groupSetting'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - groupSettings.groupSetting
      summary: Add new entity to groupSettings
      operationId: groupSettings.groupSetting.CreateGroupSetting
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupSetting'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupSetting'
        default:
          $ref: '#/components/responses/error'
  '/groupSettings/{id}':
    get:
      tags:
        - groupSettings.groupSetting
      summary: Get entity from groupSettings by key
      operationId: groupSettings.groupSetting.GetGroupSetting
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - templateId
                - values
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupSetting'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - groupSettings.groupSetting
      summary: Update entity in groupSettings
      operationId: groupSettings.groupSetting.UpdateGroupSetting
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupSetting'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - groupSettings.groupSetting
      summary: Delete entity from groupSettings
      operationId: groupSettings.groupSetting.DeleteGroupSetting
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /groupSettingTemplates:
    get:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Get entities from groupSettingTemplates
      operationId: groupSettingTemplates.groupSettingTemplate.ListGroupSettingTemplate
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - values
                - values desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - values
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of groupSettingTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Add new entity to groupSettingTemplates
      operationId: groupSettingTemplates.groupSettingTemplate.CreateGroupSettingTemplate
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/components/responses/error'
  '/groupSettingTemplates/{id}':
    get:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Get entity from groupSettingTemplates by key
      operationId: groupSettingTemplates.groupSettingTemplate.GetGroupSettingTemplate
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - values
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Update entity in groupSettingTemplates
      operationId: groupSettingTemplates.groupSettingTemplate.UpdateGroupSettingTemplate
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - groupSettingTemplates.groupSettingTemplate
      summary: Delete entity from groupSettingTemplates
      operationId: groupSettingTemplates.groupSettingTemplate.DeleteGroupSettingTemplate
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /subscribedSkus:
    get:
      tags:
        - subscribedSkus.subscribedSku
      summary: Get entities from subscribedSkus
      operationId: subscribedSkus.subscribedSku.ListSubscribedSku
      parameters:
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilityStatus
                - capabilityStatus desc
                - consumedUnits
                - consumedUnits desc
                - prepaidUnits
                - prepaidUnits desc
                - servicePlans
                - servicePlans desc
                - skuId
                - skuId desc
                - skuPartNumber
                - skuPartNumber desc
                - appliesTo
                - appliesTo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilityStatus
                - consumedUnits
                - prepaidUnits
                - servicePlans
                - skuId
                - skuPartNumber
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of subscribedSku
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - subscribedSkus.subscribedSku
      summary: Add new entity to subscribedSkus
      operationId: subscribedSkus.subscribedSku.CreateSubscribedSku
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        default:
          $ref: '#/components/responses/error'
  '/subscribedSkus/{id}':
    get:
      tags:
        - subscribedSkus.subscribedSku
      summary: Get entity from subscribedSkus by key
      operationId: subscribedSkus.subscribedSku.GetSubscribedSku
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilityStatus
                - consumedUnits
                - prepaidUnits
                - servicePlans
                - skuId
                - skuPartNumber
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - subscribedSkus.subscribedSku
      summary: Update entity in subscribedSkus
      operationId: subscribedSkus.subscribedSku.UpdateSubscribedSku
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - subscribedSkus.subscribedSku
      summary: Delete entity from subscribedSkus
      operationId: subscribedSkus.subscribedSku.DeleteSubscribedSku
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /users:
    get:
      tags:
        - users.user
      summary: Get entities from users
      operationId: users.user.ListUser
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountEnabled
                - accountEnabled desc
                - assignedLicenses
                - assignedLicenses desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - country
                - country desc
                - department
                - department desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - imAddresses
                - imAddresses desc
                - jobTitle
                - jobTitle desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - mobilePhone
                - mobilePhone desc
                - onPremisesImmutableId
                - onPremisesImmutableId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - passwordPolicies
                - passwordPolicies desc
                - passwordProfile
                - passwordProfile desc
                - officeLocation
                - officeLocation desc
                - postalCode
                - postalCode desc
                - preferredLanguage
                - preferredLanguage desc
                - provisionedPlans
                - provisionedPlans desc
                - proxyAddresses
                - proxyAddresses desc
                - state
                - state desc
                - streetAddress
                - streetAddress desc
                - surname
                - surname desc
                - usageLocation
                - usageLocation desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
                - mailboxSettings
                - mailboxSettings desc
                - aboutMe
                - aboutMe desc
                - birthday
                - birthday desc
                - hireDate
                - hireDate desc
                - interests
                - interests desc
                - mySite
                - mySite desc
                - pastProjects
                - pastProjects desc
                - preferredName
                - preferredName desc
                - responsibilities
                - responsibilities desc
                - schools
                - schools desc
                - skills
                - skills desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountEnabled
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - country
                - department
                - displayName
                - givenName
                - imAddresses
                - jobTitle
                - mail
                - mailNickname
                - mobilePhone
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - passwordPolicies
                - passwordProfile
                - officeLocation
                - postalCode
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of user
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.user
      summary: Add new entity to users
      operationId: users.user.CreateUser
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.user'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
  '/users/{id}':
    get:
      tags:
        - users.user
      summary: Get entity from users by key
      operationId: users.user.GetUser
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountEnabled
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - country
                - department
                - displayName
                - givenName
                - imAddresses
                - jobTitle
                - mail
                - mailNickname
                - mobilePhone
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - passwordPolicies
                - passwordProfile
                - officeLocation
                - postalCode
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
          links:
            ownedDevices:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            registeredDevices:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            manager:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            directReports:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            memberOf:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            createdObjects:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            ownedObjects:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            licenseDetails:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            extensions:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            messages:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            mailFolders:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            calendar:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            calendars:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            calendarGroups:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            calendarView:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            events:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            people:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            contacts:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            contactFolders:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            inferenceClassification:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            photo:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            photos:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            drive:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            drives:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            planner:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
            onenote:
              operationId: users.user.GetUser
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.user
      summary: Update entity in users
      operationId: users.user.UpdateUser
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.user'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - users.user
      summary: Delete entity from users
      operationId: users.user.DeleteUser
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  /users/microsoft.graph.delta():
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.0-Delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.user'
                  nullable: true
        default:
          $ref: '#/components/responses/error'
  '/users/{id}/microsoft.graph.assignLicense':
    post:
      tags:
        - users.Actions
      summary: Invoke action assignLicense
      operationId: users.0-AssignLicense
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                addLicenses:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.assignedLicense'
                removeLicenses:
                  type: array
                  items:
                    pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                    type: string
                    format: uuid
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/users/{id}/microsoft.graph.changePassword':
    post:
      tags:
        - users.Actions
      summary: Invoke action changePassword
      operationId: users.0-ChangePassword
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                  nullable: true
                newPassword:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/users/{id}/microsoft.graph.sendMail':
    post:
      tags:
        - users.Actions
      summary: Invoke action sendMail
      operationId: users.0-SendMail
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  $ref: '#/components/schemas/microsoft.graph.message'
                SaveToSentItems:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/users/{id}/microsoft.graph.findMeetingTimes':
    post:
      tags:
        - users.Actions
      summary: Invoke action findMeetingTimes
      operationId: users.0-FindMeetingTimes
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Attendees:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/microsoft.graph.attendeeBase'
                    nullable: true
                LocationConstraint:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.locationConstraint'
                  nullable: true
                TimeConstraint:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.timeConstraint'
                  nullable: true
                MeetingDuration:
                  pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
                  type: string
                  format: duration
                  nullable: true
                MaxCandidates:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                IsOrganizerOptional:
                  type: boolean
                  default: false
                  nullable: true
                ReturnSuggestionReasons:
                  type: boolean
                  default: false
                  nullable: true
                MinimumAttendeePercentage:
                  oneOf:
                    - type: number
                    - type: string
                    - enum:
                        - '-INF'
                        - INF
                        - NaN
                  format: double
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/users/{id}/microsoft.graph.reminderView(StartDateTime={StartDateTime},EndDateTime={EndDateTime})':
    get:
      tags:
        - users.Functions
      summary: Invoke function reminderView
      operationId: users.0-ReminderView
      parameters:
        - name: id
          in: path
          description: 'key: id'
          required: true
          schema:
            type: string
        - name: StartDateTime
          in: path
          required: true
          schema:
            type: string
        - name: EndDateTime
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.reminder'
        default:
          $ref: '#/components/responses/error'
  /contracts:
    get:
      tags:
        - contracts.contract
      summary: Get entities from contracts
      operationId: contracts.contract.ListContract
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
[...]
