{
  "openapi": "3.0.1",
  "info": {
    "title": "OData Service for namespace microsoft.graph",
    "description": "This OData service is located at https://graph.microsoft.com/v1.0",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/directoryObjects": {
      "get": {
        "tags": [
          "directoryObjects"
        ],
        "summary": "Get entities from directoryObjects",
        "operationId": "GetEntitiesFromDirectoryObjects",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of directoryObject",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "directoryObjects"
        ],
        "summary": "Add new entity to directoryObjects",
        "operationId": "AddEntityToDirectoryObjects",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryObject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}": {
      "get": {
        "tags": [
          "directoryObjects"
        ],
        "summary": "Get entity from directoryObjects by key",
        "operationId": "GetEntityFromDirectoryObjectsByKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "directoryObjects"
        ],
        "summary": "Update entity in directoryObjects",
        "operationId": "UpdateEntityInDirectoryObjects",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryObject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "directoryObjects"
        ],
        "summary": "Delete entity from directoryObjects",
        "operationId": "DeleteEntityFromDirectoryObjects",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/microsoft.graph.getByIds": {
      "post": {
        "tags": [
          "directoryObjects"
        ],
        "summary": "Invoke action getByIds",
        "operationId": "InvokeGetByIds",
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.checkMemberGroups": {
      "post": {
        "tags": [
          "directoryObjects"
        ],
        "summary": "Invoke action checkMemberGroups",
        "operationId": "InvokeCheckMemberGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.getMemberGroups": {
      "post": {
        "tags": [
          "directoryObjects"
        ],
        "summary": "Invoke action getMemberGroups",
        "operationId": "InvokeGetMemberGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "securityEnabledOnly": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/directoryObjects/{id}/microsoft.graph.getMemberObjects": {
      "post": {
        "tags": [
          "directoryObjects"
        ],
        "summary": "Invoke action getMemberObjects",
        "operationId": "InvokeGetMemberObjects",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "securityEnabledOnly": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "devices"
        ],
        "summary": "Get entities from devices",
        "operationId": "GetEntitiesFromDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "accountEnabled",
                  "accountEnabled desc",
                  "alternativeSecurityIds",
                  "alternativeSecurityIds desc",
                  "approximateLastSignInDateTime",
                  "approximateLastSignInDateTime desc",
                  "deviceId",
                  "deviceId desc",
                  "deviceMetadata",
                  "deviceMetadata desc",
                  "deviceVersion",
                  "deviceVersion desc",
                  "displayName",
                  "displayName desc",
                  "isCompliant",
                  "isCompliant desc",
                  "isManaged",
                  "isManaged desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "operatingSystem",
                  "operatingSystem desc",
                  "operatingSystemVersion",
                  "operatingSystemVersion desc",
                  "physicalIds",
                  "physicalIds desc",
                  "trustType",
                  "trustType desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "accountEnabled",
                  "alternativeSecurityIds",
                  "approximateLastSignInDateTime",
                  "deviceId",
                  "deviceMetadata",
                  "deviceVersion",
                  "displayName",
                  "isCompliant",
                  "isManaged",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSyncEnabled",
                  "operatingSystem",
                  "operatingSystemVersion",
                  "physicalIds",
                  "trustType"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of device",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.device"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "devices"
        ],
        "summary": "Add new entity to devices",
        "operationId": "AddEntityToDevices",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.device"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/devices/{id}": {
      "get": {
        "tags": [
          "devices"
        ],
        "summary": "Get entity from devices by key",
        "operationId": "GetEntityFromDevicesByKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "accountEnabled",
                  "alternativeSecurityIds",
                  "approximateLastSignInDateTime",
                  "deviceId",
                  "deviceMetadata",
                  "deviceVersion",
                  "displayName",
                  "isCompliant",
                  "isManaged",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSyncEnabled",
                  "operatingSystem",
                  "operatingSystemVersion",
                  "physicalIds",
                  "trustType"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.device"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "devices"
        ],
        "summary": "Update entity in devices",
        "operationId": "UpdateEntityInDevices",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "devices"
        ],
        "summary": "Delete entity from devices",
        "operationId": "DeleteEntityFromDevices",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/devices/{id}/registeredOwners": {
      "get": {
        "tags": [
          "devices"
        ],
        "summary": "Get registeredOwners from devices",
        "operationId": "GetRegisteredOwnersFromDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "accountEnabled",
                  "accountEnabled desc",
                  "alternativeSecurityIds",
                  "alternativeSecurityIds desc",
                  "approximateLastSignInDateTime",
                  "approximateLastSignInDateTime desc",
                  "deviceId",
                  "deviceId desc",
                  "deviceMetadata",
                  "deviceMetadata desc",
                  "deviceVersion",
                  "deviceVersion desc",
                  "displayName",
                  "displayName desc",
                  "isCompliant",
                  "isCompliant desc",
                  "isManaged",
                  "isManaged desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "operatingSystem",
                  "operatingSystem desc",
                  "operatingSystemVersion",
                  "operatingSystemVersion desc",
                  "physicalIds",
                  "physicalIds desc",
                  "trustType",
                  "trustType desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "accountEnabled",
                  "alternativeSecurityIds",
                  "approximateLastSignInDateTime",
                  "deviceId",
                  "deviceMetadata",
                  "deviceVersion",
                  "displayName",
                  "isCompliant",
                  "isManaged",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSyncEnabled",
                  "operatingSystem",
                  "operatingSystemVersion",
                  "physicalIds",
                  "trustType"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "registeredOwners",
                  "registeredUsers",
                  "extensions"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "devices"
        ],
        "summary": "Add new navigation property to registeredOwners for devices",
        "operationId": "AddRegisteredOwnersToDevices",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.device"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/devices/{id}/registeredUsers": {
      "get": {
        "tags": [
          "devices"
        ],
        "summary": "Get registeredUsers from devices",
        "operationId": "GetRegisteredUsersFromDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "accountEnabled",
                  "accountEnabled desc",
                  "alternativeSecurityIds",
                  "alternativeSecurityIds desc",
                  "approximateLastSignInDateTime",
                  "approximateLastSignInDateTime desc",
                  "deviceId",
                  "deviceId desc",
                  "deviceMetadata",
                  "deviceMetadata desc",
                  "deviceVersion",
                  "deviceVersion desc",
                  "displayName",
                  "displayName desc",
                  "isCompliant",
                  "isCompliant desc",
                  "isManaged",
                  "isManaged desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "operatingSystem",
                  "operatingSystem desc",
                  "operatingSystemVersion",
                  "operatingSystemVersion desc",
                  "physicalIds",
                  "physicalIds desc",
                  "trustType",
                  "trustType desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "accountEnabled",
                  "alternativeSecurityIds",
                  "approximateLastSignInDateTime",
                  "deviceId",
                  "deviceMetadata",
                  "deviceVersion",
                  "displayName",
                  "isCompliant",
                  "isManaged",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSyncEnabled",
                  "operatingSystem",
                  "operatingSystemVersion",
                  "physicalIds",
                  "trustType"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "registeredOwners",
                  "registeredUsers",
                  "extensions"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "devices"
        ],
        "summary": "Add new navigation property to registeredUsers for devices",
        "operationId": "AddRegisteredUsersToDevices",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.device"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/devices/{id}/extensions": {
      "get": {
        "tags": [
          "devices"
        ],
        "summary": "Get extensions from devices",
        "operationId": "GetExtensionsFromDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "accountEnabled",
                  "accountEnabled desc",
                  "alternativeSecurityIds",
                  "alternativeSecurityIds desc",
                  "approximateLastSignInDateTime",
                  "approximateLastSignInDateTime desc",
                  "deviceId",
                  "deviceId desc",
                  "deviceMetadata",
                  "deviceMetadata desc",
                  "deviceVersion",
                  "deviceVersion desc",
                  "displayName",
                  "displayName desc",
                  "isCompliant",
                  "isCompliant desc",
                  "isManaged",
                  "isManaged desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "operatingSystem",
                  "operatingSystem desc",
                  "operatingSystemVersion",
                  "operatingSystemVersion desc",
                  "physicalIds",
                  "physicalIds desc",
                  "trustType",
                  "trustType desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "accountEnabled",
                  "alternativeSecurityIds",
                  "approximateLastSignInDateTime",
                  "deviceId",
                  "deviceMetadata",
                  "deviceVersion",
                  "displayName",
                  "isCompliant",
                  "isManaged",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSyncEnabled",
                  "operatingSystem",
                  "operatingSystemVersion",
                  "physicalIds",
                  "trustType"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "registeredOwners",
                  "registeredUsers",
                  "extensions"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.extension"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "devices"
        ],
        "summary": "Add new navigation property to extensions for devices",
        "operationId": "AddExtensionsToDevices",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.device"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "tags": [
          "domains"
        ],
        "summary": "Get entities from domains",
        "operationId": "GetEntitiesFromDomains",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "authenticationType",
                  "authenticationType desc",
                  "availabilityStatus",
                  "availabilityStatus desc",
                  "isAdminManaged",
                  "isAdminManaged desc",
                  "isDefault",
                  "isDefault desc",
                  "isInitial",
                  "isInitial desc",
                  "isRoot",
                  "isRoot desc",
                  "isVerified",
                  "isVerified desc",
                  "supportedServices",
                  "supportedServices desc",
                  "state",
                  "state desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "authenticationType",
                  "availabilityStatus",
                  "isAdminManaged",
                  "isDefault",
                  "isInitial",
                  "isRoot",
                  "isVerified",
                  "supportedServices",
                  "state"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "serviceConfigurationRecords",
                  "verificationDnsRecords",
                  "domainNameReferences"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of domain",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.domain"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "domains"
        ],
        "summary": "Add new entity to domains",
        "operationId": "AddEntityToDomains",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.domain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "tags": [
          "domains"
        ],
        "summary": "Get entity from domains by key",
        "operationId": "GetEntityFromDomainsByKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "authenticationType",
                  "availabilityStatus",
                  "isAdminManaged",
                  "isDefault",
                  "isInitial",
                  "isRoot",
                  "isVerified",
                  "supportedServices",
                  "state"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "serviceConfigurationRecords",
                  "verificationDnsRecords",
                  "domainNameReferences"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "domains"
        ],
        "summary": "Update entity in domains",
        "operationId": "UpdateEntityInDomains",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.domain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "domains"
        ],
        "summary": "Delete entity from domains",
        "operationId": "DeleteEntityFromDomains",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/domains/{id}/serviceConfigurationRecords": {
      "get": {
        "tags": [
          "domains"
        ],
        "summary": "Get serviceConfigurationRecords from domains",
        "operationId": "GetServiceConfigurationRecordsFromDomains",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "authenticationType",
                  "authenticationType desc",
                  "availabilityStatus",
                  "availabilityStatus desc",
                  "isAdminManaged",
                  "isAdminManaged desc",
                  "isDefault",
                  "isDefault desc",
                  "isInitial",
                  "isInitial desc",
                  "isRoot",
                  "isRoot desc",
                  "isVerified",
                  "isVerified desc",
                  "supportedServices",
                  "supportedServices desc",
                  "state",
                  "state desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "authenticationType",
                  "availabilityStatus",
                  "isAdminManaged",
                  "isDefault",
                  "isInitial",
                  "isRoot",
                  "isVerified",
                  "supportedServices",
                  "state"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "serviceConfigurationRecords",
                  "verificationDnsRecords",
                  "domainNameReferences"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.domainDnsRecord"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "domains"
        ],
        "summary": "Add new navigation property to serviceConfigurationRecords for domains",
        "operationId": "AddServiceConfigurationRecordsToDomains",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.domain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/domains/{id}/verificationDnsRecords": {
      "get": {
        "tags": [
          "domains"
        ],
        "summary": "Get verificationDnsRecords from domains",
        "operationId": "GetVerificationDnsRecordsFromDomains",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "authenticationType",
                  "authenticationType desc",
                  "availabilityStatus",
                  "availabilityStatus desc",
                  "isAdminManaged",
                  "isAdminManaged desc",
                  "isDefault",
                  "isDefault desc",
                  "isInitial",
                  "isInitial desc",
                  "isRoot",
                  "isRoot desc",
                  "isVerified",
                  "isVerified desc",
                  "supportedServices",
                  "supportedServices desc",
                  "state",
                  "state desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "authenticationType",
                  "availabilityStatus",
                  "isAdminManaged",
                  "isDefault",
                  "isInitial",
                  "isRoot",
                  "isVerified",
                  "supportedServices",
                  "state"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "serviceConfigurationRecords",
                  "verificationDnsRecords",
                  "domainNameReferences"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.domainDnsRecord"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "domains"
        ],
        "summary": "Add new navigation property to verificationDnsRecords for domains",
        "operationId": "AddVerificationDnsRecordsToDomains",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.domain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/domains/{id}/domainNameReferences": {
      "get": {
        "tags": [
          "domains"
        ],
        "summary": "Get domainNameReferences from domains",
        "operationId": "GetDomainNameReferencesFromDomains",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "authenticationType",
                  "authenticationType desc",
                  "availabilityStatus",
                  "availabilityStatus desc",
                  "isAdminManaged",
                  "isAdminManaged desc",
                  "isDefault",
                  "isDefault desc",
                  "isInitial",
                  "isInitial desc",
                  "isRoot",
                  "isRoot desc",
                  "isVerified",
                  "isVerified desc",
                  "supportedServices",
                  "supportedServices desc",
                  "state",
                  "state desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "authenticationType",
                  "availabilityStatus",
                  "isAdminManaged",
                  "isDefault",
                  "isInitial",
                  "isRoot",
                  "isVerified",
                  "supportedServices",
                  "state"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "serviceConfigurationRecords",
                  "verificationDnsRecords",
                  "domainNameReferences"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "domains"
        ],
        "summary": "Add new navigation property to domainNameReferences for domains",
        "operationId": "AddDomainNameReferencesToDomains",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.domain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/domains/{id}/microsoft.graph.verify": {
      "post": {
        "tags": [
          "domains"
        ],
        "summary": "Invoke action verify",
        "operationId": "InvokeVerify",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/domainDnsRecords": {
      "get": {
        "tags": [
          "domainDnsRecords"
        ],
        "summary": "Get entities from domainDnsRecords",
        "operationId": "GetEntitiesFromDomainDnsRecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "isOptional",
                  "isOptional desc",
                  "label",
                  "label desc",
                  "recordType",
                  "recordType desc",
                  "supportedService",
                  "supportedService desc",
                  "ttl",
                  "ttl desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "isOptional",
                  "label",
                  "recordType",
                  "supportedService",
                  "ttl"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of domainDnsRecord",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.domainDnsRecord"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "domainDnsRecords"
        ],
        "summary": "Add new entity to domainDnsRecords",
        "operationId": "AddEntityToDomainDnsRecords",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.domainDnsRecord"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.domainDnsRecord"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/domainDnsRecords/{id}": {
      "get": {
        "tags": [
          "domainDnsRecords"
        ],
        "summary": "Get entity from domainDnsRecords by key",
        "operationId": "GetEntityFromDomainDnsRecordsByKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "isOptional",
                  "label",
                  "recordType",
                  "supportedService",
                  "ttl"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.domainDnsRecord"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "domainDnsRecords"
        ],
        "summary": "Update entity in domainDnsRecords",
        "operationId": "UpdateEntityInDomainDnsRecords",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.domainDnsRecord"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "domainDnsRecords"
        ],
        "summary": "Delete entity from domainDnsRecords",
        "operationId": "DeleteEntityFromDomainDnsRecords",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Get entities from groups",
        "operationId": "GetEntitiesFromGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "classification",
                  "classification desc",
                  "createdDateTime",
                  "createdDateTime desc",
                  "description",
                  "description desc",
                  "displayName",
                  "displayName desc",
                  "groupTypes",
                  "groupTypes desc",
                  "mail",
                  "mail desc",
                  "mailEnabled",
                  "mailEnabled desc",
                  "mailNickname",
                  "mailNickname desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSecurityIdentifier desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "proxyAddresses",
                  "proxyAddresses desc",
                  "renewedDateTime",
                  "renewedDateTime desc",
                  "securityEnabled",
                  "securityEnabled desc",
                  "visibility",
                  "visibility desc",
                  "allowExternalSenders",
                  "allowExternalSenders desc",
                  "autoSubscribeNewMembers",
                  "autoSubscribeNewMembers desc",
                  "isSubscribedByMail",
                  "isSubscribedByMail desc",
                  "unseenCount",
                  "unseenCount desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "classification",
                  "createdDateTime",
                  "description",
                  "displayName",
                  "groupTypes",
                  "mail",
                  "mailEnabled",
                  "mailNickname",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSyncEnabled",
                  "proxyAddresses",
                  "renewedDateTime",
                  "securityEnabled",
                  "visibility",
                  "allowExternalSenders",
                  "autoSubscribeNewMembers",
                  "isSubscribedByMail",
                  "unseenCount"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of group",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.group"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Add new entity to groups",
        "operationId": "AddEntityToGroups",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.group"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Get entity from groups by key",
        "operationId": "GetEntityFromGroupsByKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "classification",
                  "createdDateTime",
                  "description",
                  "displayName",
                  "groupTypes",
                  "mail",
                  "mailEnabled",
                  "mailNickname",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSyncEnabled",
                  "proxyAddresses",
                  "renewedDateTime",
                  "securityEnabled",
                  "visibility",
                  "allowExternalSenders",
                  "autoSubscribeNewMembers",
                  "isSubscribedByMail",
                  "unseenCount"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.group"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "groups"
        ],
        "summary": "Update entity in groups",
        "operationId": "UpdateEntityInGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "groups"
        ],
        "summary": "Delete entity from groups",
        "operationId": "DeleteEntityFromGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/groups/{id}/members": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Get members from groups",
        "operationId": "GetMembersFromGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "classification",
                  "classification desc",
                  "createdDateTime",
                  "createdDateTime desc",
                  "description",
                  "description desc",
                  "displayName",
                  "displayName desc",
                  "groupTypes",
                  "groupTypes desc",
                  "mail",
                  "mail desc",
                  "mailEnabled",
                  "mailEnabled desc",
                  "mailNickname",
                  "mailNickname desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSecurityIdentifier desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "proxyAddresses",
                  "proxyAddresses desc",
                  "renewedDateTime",
                  "renewedDateTime desc",
                  "securityEnabled",
                  "securityEnabled desc",
                  "visibility",
                  "visibility desc",
                  "allowExternalSenders",
                  "allowExternalSenders desc",
                  "autoSubscribeNewMembers",
                  "autoSubscribeNewMembers desc",
                  "isSubscribedByMail",
                  "isSubscribedByMail desc",
                  "unseenCount",
                  "unseenCount desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "classification",
                  "createdDateTime",
                  "description",
                  "displayName",
                  "groupTypes",
                  "mail",
                  "mailEnabled",
                  "mailNickname",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSyncEnabled",
                  "proxyAddresses",
                  "renewedDateTime",
                  "securityEnabled",
                  "visibility",
                  "allowExternalSenders",
                  "autoSubscribeNewMembers",
                  "isSubscribedByMail",
                  "unseenCount"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "members",
                  "memberOf",
                  "createdOnBehalfOf",
                  "owners",
                  "settings",
                  "extensions",
                  "threads",
                  "calendar",
                  "calendarView",
                  "events",
                  "conversations",
                  "photo",
                  "photos",
                  "acceptedSenders",
                  "rejectedSenders",
                  "drive",
                  "drives",
                  "sites",
                  "planner",
                  "onenote"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Add new navigation property to members for groups",
        "operationId": "AddMembersToGroups",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.group"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/groups/{id}/memberOf": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Get memberOf from groups",
        "operationId": "GetMemberOfFromGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "classification",
                  "classification desc",
                  "createdDateTime",
                  "createdDateTime desc",
                  "description",
                  "description desc",
                  "displayName",
                  "displayName desc",
                  "groupTypes",
                  "groupTypes desc",
                  "mail",
                  "mail desc",
                  "mailEnabled",
                  "mailEnabled desc",
                  "mailNickname",
                  "mailNickname desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSecurityIdentifier desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "proxyAddresses",
                  "proxyAddresses desc",
                  "renewedDateTime",
                  "renewedDateTime desc",
                  "securityEnabled",
                  "securityEnabled desc",
                  "visibility",
                  "visibility desc",
                  "allowExternalSenders",
                  "allowExternalSenders desc",
                  "autoSubscribeNewMembers",
                  "autoSubscribeNewMembers desc",
                  "isSubscribedByMail",
                  "isSubscribedByMail desc",
                  "unseenCount",
                  "unseenCount desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "classification",
                  "createdDateTime",
                  "description",
                  "displayName",
                  "groupTypes",
                  "mail",
                  "mailEnabled",
                  "mailNickname",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSyncEnabled",
                  "proxyAddresses",
                  "renewedDateTime",
                  "securityEnabled",
                  "visibility",
                  "allowExternalSenders",
                  "autoSubscribeNewMembers",
                  "isSubscribedByMail",
                  "unseenCount"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "members",
                  "memberOf",
                  "createdOnBehalfOf",
                  "owners",
                  "settings",
                  "extensions",
                  "threads",
                  "calendar",
                  "calendarView",
                  "events",
                  "conversations",
                  "photo",
                  "photos",
                  "acceptedSenders",
                  "rejectedSenders",
                  "drive",
                  "drives",
                  "sites",
                  "planner",
                  "onenote"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Add new navigation property to memberOf for groups",
        "operationId": "AddMemberOfToGroups",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.group"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/groups/{id}/createdOnBehalfOf": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Get createdOnBehalfOf from groups",
        "operationId": "GetCreatedOnBehalfOfFromGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "classification",
                  "createdDateTime",
                  "description",
                  "displayName",
                  "groupTypes",
                  "mail",
                  "mailEnabled",
                  "mailNickname",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSyncEnabled",
                  "proxyAddresses",
                  "renewedDateTime",
                  "securityEnabled",
                  "visibility",
                  "allowExternalSenders",
                  "autoSubscribeNewMembers",
                  "isSubscribedByMail",
                  "unseenCount"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "members",
                  "memberOf",
                  "createdOnBehalfOf",
                  "owners",
                  "settings",
                  "extensions",
                  "threads",
                  "calendar",
                  "calendarView",
                  "events",
                  "conversations",
                  "photo",
                  "photos",
                  "acceptedSenders",
                  "rejectedSenders",
                  "drive",
                  "drives",
                  "sites",
                  "planner",
                  "onenote"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "groups"
        ],
        "summary": "Update the navigation property createdOnBehalfOf in groups",
        "operationId": "UpdateCreatedOnBehalfOfInGroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/groups/{id}/owners": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Get owners from groups",
        "operationId": "GetOwnersFromGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "classification",
                  "classification desc",
                  "createdDateTime",
                  "createdDateTime desc",
                  "description",
                  "description desc",
                  "displayName",
                  "displayName desc",
                  "groupTypes",
                  "groupTypes desc",
                  "mail",
                  "mail desc",
                  "mailEnabled",
                  "mailEnabled desc",
                  "mailNickname",
                  "mailNickname desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSecurityIdentifier desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "proxyAddresses",
                  "proxyAddresses desc",
                  "renewedDateTime",
                  "renewedDateTime desc",
                  "securityEnabled",
                  "securityEnabled desc",
                  "visibility",
                  "visibility desc",
                  "allowExternalSenders",
                  "allowExternalSenders desc",
                  "autoSubscribeNewMembers",
                  "autoSubscribeNewMembers desc",
                  "isSubscribedByMail",
                  "isSubscribedByMail desc",
                  "unseenCount",
                  "unseenCount desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "classification",
                  "createdDateTime",
                  "description",
                  "displayName",
                  "groupTypes",
                  "mail",
                  "mailEnabled",
                  "mailNickname",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSyncEnabled",
                  "proxyAddresses",
                  "renewedDateTime",
                  "securityEnabled",
                  "visibility",
                  "allowExternalSenders",
                  "autoSubscribeNewMembers",
                  "isSubscribedByMail",
                  "unseenCount"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "members",
                  "memberOf",
                  "createdOnBehalfOf",
                  "owners",
                  "settings",
                  "extensions",
                  "threads",
                  "calendar",
                  "calendarView",
                  "events",
                  "conversations",
                  "photo",
                  "photos",
                  "acceptedSenders",
                  "rejectedSenders",
                  "drive",
                  "drives",
                  "sites",
                  "planner",
                  "onenote"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Add new navigation property to owners for groups",
        "operationId": "AddOwnersToGroups",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.group"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/groups/{id}/settings": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Get settings from groups",
        "operationId": "GetSettingsFromGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "classification",
                  "classification desc",
                  "createdDateTime",
                  "createdDateTime desc",
                  "description",
                  "description desc",
                  "displayName",
                  "displayName desc",
                  "groupTypes",
                  "groupTypes desc",
                  "mail",
                  "mail desc",
                  "mailEnabled",
                  "mailEnabled desc",
                  "mailNickname",
                  "mailNickname desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSecurityIdentifier desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "proxyAddresses",
                  "proxyAddresses desc",
                  "renewedDateTime",
                  "renewedDateTime desc",
                  "securityEnabled",
                  "securityEnabled desc",
                  "visibility",
                  "visibility desc",
                  "allowExternalSenders",
                  "allowExternalSenders desc",
                  "autoSubscribeNewMembers",
                  "autoSubscribeNewMembers desc",
                  "isSubscribedByMail",
                  "isSubscribedByMail desc",
                  "unseenCount",
                  "unseenCount desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "classification",
                  "createdDateTime",
                  "description",
                  "displayName",
                  "groupTypes",
                  "mail",
                  "mailEnabled",
                  "mailNickname",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSecurityIdentifier",
                  "onPremisesSyncEnabled",
                  "proxyAddresses",
                  "renewedDateTime",
                  "securityEnabled",
                  "visibility",
                  "allowExternalSenders",
                  "autoSubscribeNewMembers",
                  "isSubscribedByMail",
                  "unseenCount"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "members",
                  "memberOf",
                  "createdOnBehalfOf",
                  "owners",
                  "settings",
                  "extensions",
                  "threads",
                  "calendar",
                  "calendarView",
                  "events",
                  "conversations",
                  "photo",
                  "photos",
                  "acceptedSenders",
                  "rejectedSenders",
                  "drive",
                  "drives",
                  "sites",
                  "planner",
                  "onenote"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.groupSetting"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Add new navigation property to settings for groups",
        "operationId": "AddSettingsToGroups",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
[...]
