{
  "openapi": "3.0.4",
  "info": {
    "title": "OData Service for namespace microsoft.graph",
    "description": "This OData service is located at https://graph.microsoft.com/v1.0",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/contracts": {
      "get": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Get entities from contracts",
        "operationId": "contracts.contract.ListContract",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "contractType",
                  "contractType desc",
                  "customerId",
                  "customerId desc",
                  "defaultDomainName",
                  "defaultDomainName desc",
                  "displayName",
                  "displayName desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "contractType",
                  "customerId",
                  "defaultDomainName",
                  "displayName"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of contract",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.contract"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"contractType\": \"contractType-value\",\r\n  \"customerId\": \"customerId-value\",\r\n  \"defaultDomainName\": \"defaultDomainName-value\",\r\n  \"displayName\": \"displayName-value\",\r\n  \"id\": \"id-value\"\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Add new entity to contracts",
        "operationId": "contracts.contract.CreateContract",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.contract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.contract"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/contracts/{contract-id}": {
      "get": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Get entity from contracts by key",
        "operationId": "contracts.contract.GetContract",
        "parameters": [
          {
            "name": "contract-id",
            "in": "path",
            "description": "key: contract-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "contract"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "contractType",
                  "customerId",
                  "defaultDomainName",
                  "displayName"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.contract"
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"contractType\": \"contractType-value\",\r\n  \"customerId\": \"customerId-value\",\r\n  \"defaultDomainName\": \"defaultDomainName-value\",\r\n  \"displayName\": \"displayName-value\",\r\n  \"id\": \"id-value\"\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Update entity in contracts",
        "operationId": "contracts.contract.UpdateContract",
        "parameters": [
          {
            "name": "contract-id",
            "in": "path",
            "description": "key: contract-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "contract"
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.contract"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "contracts.contract"
        ],
        "summary": "Delete entity from contracts",
        "operationId": "contracts.contract.DeleteContract",
        "parameters": [
          {
            "name": "contract-id",
            "in": "path",
            "description": "key: contract-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "contract"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "devices.device"
        ],
        "summary": "Get entities from devices",
        "operationId": "devices.device.ListDevice",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "accountEnabled",
                  "accountEnabled desc",
                  "alternativeSecurityIds",
                  "alternativeSecurityIds desc",
                  "approximateLastSignInDateTime",
                  "approximateLastSignInDateTime desc",
                  "deviceId",
                  "deviceId desc",
                  "deviceMetadata",
                  "deviceMetadata desc",
                  "deviceVersion",
                  "deviceVersion desc",
                  "displayName",
                  "displayName desc",
                  "isCompliant",
                  "isCompliant desc",
                  "isManaged",
                  "isManaged desc",
                  "onPremisesLastSyncDateTime",
                  "onPremisesLastSyncDateTime desc",
                  "onPremisesSyncEnabled",
                  "onPremisesSyncEnabled desc",
                  "operatingSystem",
                  "operatingSystem desc",
                  "operatingSystemVersion",
                  "operatingSystemVersion desc",
                  "physicalIds",
                  "physicalIds desc",
                  "trustType",
                  "trustType desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "accountEnabled",
                  "alternativeSecurityIds",
                  "approximateLastSignInDateTime",
                  "deviceId",
                  "deviceMetadata",
                  "deviceVersion",
                  "displayName",
                  "isCompliant",
                  "isManaged",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSyncEnabled",
                  "operatingSystem",
                  "operatingSystemVersion",
                  "physicalIds",
                  "trustType",
                  "extensions",
                  "registeredOwners",
                  "registeredUsers"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "extensions",
                  "registeredOwners",
                  "registeredUsers"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of device",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.device"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"accountEnabled\":false,\r\n  \"deviceId\":\"4c299165-6e8f-4b45-a5ba-c5d250a707ff\",\r\n  \"displayName\":\"Test device\",\r\n  \"id\": \"id-value\",\r\n  \"operatingSystem\":\"linux\",\r\n  \"operatingSystemVersion\":\"1\"\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Device.ReadWrite.All",
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "devices.device"
        ],
        "summary": "Add new entity to devices",
        "operationId": "devices.device.CreateDevice",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.device"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices/{device-id}": {
      "get": {
        "tags": [
          "devices.device"
        ],
        "summary": "Get entity from devices by key",
        "operationId": "devices.device.GetDevice",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "key: device-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "device"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "accountEnabled",
                  "alternativeSecurityIds",
                  "approximateLastSignInDateTime",
                  "deviceId",
                  "deviceMetadata",
                  "deviceVersion",
                  "displayName",
                  "isCompliant",
                  "isManaged",
                  "onPremisesLastSyncDateTime",
                  "onPremisesSyncEnabled",
                  "operatingSystem",
                  "operatingSystemVersion",
                  "physicalIds",
                  "trustType",
                  "extensions",
                  "registeredOwners",
                  "registeredUsers"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "extensions",
                  "registeredOwners",
                  "registeredUsers"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.device"
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"accountEnabled\":false,\r\n  \"deviceId\":\"4c299165-6e8f-4b45-a5ba-c5d250a707ff\",\r\n  \"displayName\":\"Test device\",\r\n  \"id\": \"id-value\",\r\n  \"operatingSystem\":\"linux\",\r\n  \"operatingSystemVersion\":\"1\"\r\n}\n"
                  }
                }
              }
            },
            "links": {
              "extensions": {
                "operationId": "devices.device.GetDevice",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "registeredOwners": {
                "operationId": "devices.device.GetDevice",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "registeredUsers": {
                "operationId": "devices.device.GetDevice",
                "parameters": {
                  "id": "$request.path.id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Device.ReadWrite.All",
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "devices.device"
        ],
        "summary": "Update entity in devices",
        "operationId": "devices.device.UpdateDevice",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "key: device-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "device"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "devices.device"
        ],
        "summary": "Delete entity from devices",
        "operationId": "devices.device.DeleteDevice",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "key: device-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "device"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.AccessAsUser.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices/{device-id}/extensions": {
      "get": {
        "tags": [
          "devices.extension"
        ],
        "summary": "Get extensions from devices",
        "operationId": "devices.ListExtensions",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "key: device-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "device"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.extension"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices/{device-id}/extensions/{extension-id}": {
      "get": {
        "tags": [
          "devices.extension"
        ],
        "summary": "Get extensions from devices",
        "operationId": "devices.GetExtensions",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "key: device-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "device"
          },
          {
            "name": "extension-id",
            "in": "path",
            "description": "key: extension-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "extension"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.extension"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices/{device-id}/registeredOwners": {
      "get": {
        "tags": [
          "devices.directoryObject"
        ],
        "summary": "Get registeredOwners from devices",
        "operationId": "devices.ListRegisteredOwners",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "key: device-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "device"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices/{device-id}/registeredOwners/{directoryObject-id}": {
      "get": {
        "tags": [
          "devices.directoryObject"
        ],
        "summary": "Get registeredOwners from devices",
        "operationId": "devices.GetRegisteredOwners",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "key: device-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "device"
          },
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices/{device-id}/registeredUsers": {
      "get": {
        "tags": [
          "devices.directoryObject"
        ],
        "summary": "Get registeredUsers from devices",
        "operationId": "devices.ListRegisteredUsers",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "key: device-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "device"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/devices/{device-id}/registeredUsers/{directoryObject-id}": {
      "get": {
        "tags": [
          "devices.directoryObject"
        ],
        "summary": "Get registeredUsers from devices",
        "operationId": "devices.GetRegisteredUsers",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "key: device-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "device"
          },
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directory": {
      "get": {
        "tags": [
          "directory.directory"
        ],
        "summary": "Get directory",
        "operationId": "directory.directory.GetDirectory",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "deletedItems"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "deletedItems"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directory"
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "directory.directory"
        ],
        "summary": "Update directory",
        "operationId": "directory.directory.UpdateDirectory",
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directory"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directory/deletedItems": {
      "get": {
        "tags": [
          "directory.directoryObject"
        ],
        "summary": "Get deletedItems from directory",
        "operationId": "directory.ListDeletedItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directory/deletedItems/{directoryObject-id}": {
      "get": {
        "tags": [
          "directory.directoryObject"
        ],
        "summary": "Get deletedItems from directory",
        "operationId": "directory.GetDeletedItems",
        "parameters": [
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryObjects": {
      "get": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Get entities from directoryObjects",
        "operationId": "directoryObjects.directoryObject.ListDirectoryObject",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of directoryObject",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"id\": \"id-value\"\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Add new entity to directoryObjects",
        "operationId": "directoryObjects.directoryObject.CreateDirectoryObject",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryObject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryObjects/{directoryObject-id}": {
      "get": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Get entity from directoryObjects by key",
        "operationId": "directoryObjects.directoryObject.GetDirectoryObject",
        "parameters": [
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"id\": \"id-value\"\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Update entity in directoryObjects",
        "operationId": "directoryObjects.directoryObject.UpdateDirectoryObject",
        "parameters": [
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryObject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "directoryObjects.directoryObject"
        ],
        "summary": "Delete entity from directoryObjects",
        "operationId": "directoryObjects.directoryObject.DeleteDirectoryObject",
        "parameters": [
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.AccessAsUser.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryObjects/{directoryObject-id}/checkMemberGroups": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action checkMemberGroups",
        "operationId": "directoryObjects.checkMemberGroups",
        "parameters": [
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"value\": [\r\n        \"fee2c45b-915a-4a64-b130-f4eb9e75525e\"\r\n  ]\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "User.Read.All",
              "and",
              "Group.Read.All",
              "Directory.Read.All"
            ]
          },
          {
            "Application": [
              "User.Read.All",
              "and",
              "Group.Read.All",
              "Directory.Read.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{directoryObject-id}/getMemberGroups": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action getMemberGroups",
        "operationId": "directoryObjects.getMemberGroups",
        "parameters": [
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "securityEnabledOnly": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n    \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#Collection(Edm.String)\",\r\n    \"value\": [\r\n        \"fee2c45b-915a-4a64-b130-f4eb9e75525e\",\r\n        \"4fe90ae7-065a-478b-9400-e0a0e1cbd540\",\r\n        \"e0c3beaf-eeb4-43d8-abc5-94f037a65697\"\r\n    ]\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "User.Read.All",
              "and",
              "Group.Read.All",
              "Directory.Read.All"
            ]
          },
          {
            "Application": [
              "User.Read.All",
              "and",
              "Group.Read.All",
              "Directory.Read.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{directoryObject-id}/getMemberObjects": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action getMemberObjects",
        "operationId": "directoryObjects.getMemberObjects",
        "parameters": [
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "securityEnabledOnly": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n    \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#Collection(Edm.String)\",\r\n    \"value\": [\r\n        \"fee2c45b-915a-4a64-b130-f4eb9e75525e\",\r\n        \"4fe90ae7-065a-478b-9400-e0a0e1cbd540\",\r\n        \"c9ee2d50-9e8a-4352-b97c-4c2c99557c22\",\r\n        \"e0c3beaf-eeb4-43d8-abc5-94f037a65697\"\r\n    ]\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "User.Read.All",
              "and",
              "Group.Read.All",
              "Directory.Read.All"
            ]
          },
          {
            "Application": [
              "User.Read.All",
              "and",
              "Group.Read.All",
              "Directory.Read.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/{directoryObject-id}/restore": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action restore",
        "operationId": "directoryObjects.restore",
        "parameters": [
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer code Required",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                    }
                  ],
                  "nullable": true
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#directoryObjects/$entity\",\r\n  \"@odata.type\":\"#microsoft.graph.group\",\r\n  \"id\":\"46cc6179-19d0-473e-97ad-6ff84347bbbb\",\r\n  \"displayName\":\"SampleGroup\",\r\n  \"groupTypes\":[\"Unified\"],\r\n  \"mail\":\"example@contoso.com\",\r\n  \"mailEnabled\":true,\r\n  \"mailNickname\":\"Example\",\r\n  \"securityEnabled\":false,\r\n  \"visibility\":\"Public\"\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryObjects/getByIds": {
      "post": {
        "tags": [
          "directoryObjects.Actions"
        ],
        "summary": "Invoke action getByIds",
        "operationId": "directoryObjects.getByIds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                      }
                    ],
                    "nullable": true
                  }
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n    \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#directoryObjects\",\r\n    \"value\": [\r\n      {\r\n        \"@odata.type\": \"#microsoft.graph.user\",\r\n        \"id\": \"84b80893-8749-40a3-97b7-68513b600544\",\r\n        \"accountEnabled\": true,\r\n        \"displayName\": \"Trevor Jones\"\r\n      },\r\n      {\r\n        \"@odata.type\": \"#microsoft.graph.user\",\r\n        \"id\": \"84b80893-8749-40a3-97b7-68513b600544\",\r\n        \"accountEnabled\": true,\r\n        \"displayName\": \"Billy Smith\"\r\n      }\r\n    ]\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "action"
      }
    },
    "/directoryRoles": {
      "get": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Get entities from directoryRoles",
        "operationId": "directoryRoles.directoryRole.ListDirectoryRole",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "description",
                  "description desc",
                  "displayName",
                  "displayName desc",
                  "roleTemplateId",
                  "roleTemplateId desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "description",
                  "displayName",
                  "roleTemplateId",
                  "members"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "members"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of directoryRole",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.directoryRole"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"description\": \"description-value\",\r\n  \"displayName\": \"displayName-value\",\r\n  \"roleTemplateId\": \"roleTemplateId-value\",\r\n  \"id\": \"id-value\"\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Add new entity to directoryRoles",
        "operationId": "directoryRoles.directoryRole.CreateDirectoryRole",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryRole"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoles/{directoryRole-id}": {
      "get": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Get entity from directoryRoles by key",
        "operationId": "directoryRoles.directoryRole.GetDirectoryRole",
        "parameters": [
          {
            "name": "directoryRole-id",
            "in": "path",
            "description": "key: directoryRole-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryRole"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "description",
                  "displayName",
                  "roleTemplateId",
                  "members"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "members"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryRole"
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"description\": \"description-value\",\r\n  \"displayName\": \"displayName-value\",\r\n  \"roleTemplateId\": \"roleTemplateId-value\",\r\n  \"id\": \"id-value\"\r\n}\n"
                  }
                }
              }
            },
            "links": {
              "members": {
                "operationId": "directoryRoles.directoryRole.GetDirectoryRole",
                "parameters": {
                  "id": "$request.path.id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Update entity in directoryRoles",
        "operationId": "directoryRoles.directoryRole.UpdateDirectoryRole",
        "parameters": [
          {
            "name": "directoryRole-id",
            "in": "path",
            "description": "key: directoryRole-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryRole"
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "directoryRoles.directoryRole"
        ],
        "summary": "Delete entity from directoryRoles",
        "operationId": "directoryRoles.directoryRole.DeleteDirectoryRole",
        "parameters": [
          {
            "name": "directoryRole-id",
            "in": "path",
            "description": "key: directoryRole-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryRole"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoles/{directoryRole-id}/members": {
      "get": {
        "tags": [
          "directoryRoles.directoryObject"
        ],
        "summary": "Get members from directoryRoles",
        "operationId": "directoryRoles.ListMembers",
        "parameters": [
          {
            "name": "directoryRole-id",
            "in": "path",
            "description": "key: directoryRole-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryRole"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoles/{directoryRole-id}/members/{directoryObject-id}": {
      "get": {
        "tags": [
          "directoryRoles.directoryObject"
        ],
        "summary": "Get members from directoryRoles",
        "operationId": "directoryRoles.GetMembers",
        "parameters": [
          {
            "name": "directoryRole-id",
            "in": "path",
            "description": "key: directoryRole-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryRole"
          },
          {
            "name": "directoryObject-id",
            "in": "path",
            "description": "key: directoryObject-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryObject"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryObject"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoleTemplates": {
      "get": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Get entities from directoryRoleTemplates",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.ListDirectoryRoleTemplate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "description",
                  "description desc",
                  "displayName",
                  "displayName desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "description",
                  "displayName"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of directoryRoleTemplate",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.directoryRoleTemplate"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"description\": \"description-value\",\r\n  \"displayName\": \"displayName-value\",\r\n  \"id\": \"id-value\"\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Add new entity to directoryRoleTemplates",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.CreateDirectoryRoleTemplate",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryRoleTemplate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryRoleTemplate"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/directoryRoleTemplates/{directoryRoleTemplate-id}": {
      "get": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Get entity from directoryRoleTemplates by key",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.GetDirectoryRoleTemplate",
        "parameters": [
          {
            "name": "directoryRoleTemplate-id",
            "in": "path",
            "description": "key: directoryRoleTemplate-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryRoleTemplate"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "description",
                  "displayName"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.directoryRoleTemplate"
                },
                "examples": {
                  "example-1": {
                    "description": "application/json",
                    "value": "{\r\n  \"description\": \"description-value\",\r\n  \"displayName\": \"displayName-value\",\r\n  \"id\": \"id-value\"\r\n}\n"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "Delegated (work or school account)": [
              "Directory.Read.All",
              "Directory.ReadWrite.All",
              "Directory.AccessAsUser.All"
            ]
          },
          {
            "Application": [
              "Directory.Read.All",
              "Directory.ReadWrite.All"
            ]
          }
        ],
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Update entity in directoryRoleTemplates",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.UpdateDirectoryRoleTemplate",
        "parameters": [
          {
            "name": "directoryRoleTemplate-id",
            "in": "path",
            "description": "key: directoryRoleTemplate-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryRoleTemplate"
          }
        ],
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.directoryRoleTemplate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "directoryRoleTemplates.directoryRoleTemplate"
        ],
        "summary": "Delete entity from directoryRoleTemplates",
        "operationId": "directoryRoleTemplates.directoryRoleTemplate.DeleteDirectoryRoleTemplate",
        "parameters": [
          {
            "name": "directoryRoleTemplate-id",
            "in": "path",
            "description": "key: directoryRoleTemplate-id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-ms-docs-key-type": "directoryRoleTemplate"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/domains": {
      "get": {
        "tags": [
          "domains.domain"
        ],
        "summary": "Get entities from domains",
        "operationId": "domains.domain.ListDomain",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {token}. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "authenticationType",
                  "authenticationType desc",
                  "availabilityStatus",
                  "availabilityStatus desc",
                  "isAdminManaged",
                  "isAdminManaged desc",
                  "isDefault",
                  "isDefault desc",
                  "isInitial",
                  "isInitial desc",
                  "isRoot",
                  "isRoot desc",
                  "isVerified",
                  "isVerified desc",
                  "state",
                  "state desc",
                  "supportedServices",
                  "supportedServices desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "authenticationType",
                  "availabilityStatus",
                  "isAdminManaged",
                  "isDefault",
                  "isInitial",
                  "isRoot",
                  "isVerified",
                  "state",
                  "supportedServices",
                  "domainNameReferences",
                  "serviceConfigurationRecords",
                  "verificationDnsRecords"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "simple",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "domainNameReferences",
                  "serviceConfigurationRecords",
                  "verificationDnsRecords"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of domain",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
[...]
