name: OpenAPI Parser Validation for latest OpenAPI docs

on:
  push:
    branches: [ main, support/v1 ]
  pull_request:
    branches: [ main, support/v1 ]

jobs:

  list-descriptions:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-descriptions.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: set-descriptions
        run: echo "::set-output name=matrix::$(ls test/**/Resources/*.{json,yaml} | sed 's/.*\///' | sed 's/\.[^.]*$//' | jq -R -s -c 'split("\n")[:-1]')"

  build:
    needs: list-descriptions
    strategy:
      matrix:
        descriptions: ${{ fromJson(needs.list-descriptions.outputs.matrix) }}

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Validate description with redocly
      uses: fluximus-prime/redocly-cli-github-action@v1
      with:
        args: 'lint test/Microsoft.OpenAPI.OData.Reader.Tests/Resources/${{ matrix.descriptions }} --skip-rule operation-4xx-response --skip-rule no-server-trailing-slash --skip-rule no-unused-components --skip-rule security-defined --skip-rule info-license-url --skip-rule info-license --skip-rule no-empty-servers --skip-rule operation-summary --skip-rule tag-description --max-problems 1000'